html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,button{ margin:0; padding:0; background:none;}
a{ color:#666; text-decoration:none;}
a:hover, a:visited, a:link ins{ outline:0; text-decoration:none;}
body,button,input,select,textarea{font:12px/150% arial,\5FAE\8F6F\96C5\9ED1,\5b8b\4f53; outline:none; color:#666;}
.main{ width:100%; height:100%;}
ol,ul{list-style: none;}
img,input,button{ border:0;}

.layout-container{ position:relative;}
.layout-main{}
.layout-area{margin-bottom: 10px;}
.layout{width: 990px;overflow: hidden;clear: both;margin: 0 auto;}
.layout-auto{ width:100%;}
.w990{ width:990px;}
.w790{ width:790px;}
.w750{ width:750px;}
.w200{ width:200px;}
.w190{ width:190px;}
.w215{ width:215px;}
.w765{ width:765px;}
.fn-clear {margin-bottom: 10px;overflow:hidden;}
.no-margin{ margin-bottom:0;}
.margin-bottom{ margin-bottom:10px;}
.layout-one{ overflow:hidden;}
.layout-two-left, .layout-three-left, .layout-four-left {float: left;}
.layout-two-right, .layout-three-middle, .layout-three-right, .layout-four-middle-left, .layout-four-middle-right, .layout-four-right { float: left;margin-left: 10px;}

.user-jGoodsSort01 .mc {
	overflow: visible !important;
	width: 200px;
	z-index: 5;
}
.user-jGoodsSort01 .user_e02{
	overflow:hidden;
}
.user-jGoodsSort01 .s-goodsSort-box {
	position: absolute;
	width: 200px;
	z-index: 5;
}
.user-jGoodsSort01 h3 {
	width: 200px;
	z-index: 5;
}
.user-jGoodsSort01 h3 a {
	background: url("../images/fenl_xa.png") no-repeat scroll 155px center;
	color: #ffffff;
	display: block;
	font-weight: bold;
	font-size: 12px;
	font-family: '����';
	height: 37px;
	line-height: 37px;
	overflow: hidden;
	padding-right: 30px;
	text-indent: 28px;
	width: 170px;
	z-index: 5;
}
.userjNav .mc,.user-jGoodsSort01 .mc {
	height: 37px;
	line-height: 37px;
}
.userjNav ul {
	overflow: hidden;
}
.userjNav li {
	float: left;
	display: inline;
	overflow: hidden;
}
.userjNav li a {
	border-left: 0px solid #444;
	color: #ffffff;
	font-weight: bold;
	float: left;
	font-size: 12px;
	font-family: '����';
	overflow: hidden;
	padding: 0 20px;
}

/*幻灯片*/
.hdp-slide .Left,.hdp-slide .Right{position:absolute;width:38px;height:62px;background:url(../images/cir_white.gif) #000 no-repeat;top:50%; margin-top:-37px; opacity:0.5;filter: alpha(opacity = 50);}
.hdp-slide .Left{ left:100px; background-position:-11px -2px;}
.hdp-slide .Right{ right:100px; background-position:-72px -2px;}
.frontCover{position:absolute;top:-120px;padding:0 0 16px;border-bottom:5px solid #de0000;}
.frontCover li{float:left;width:82px;padding:3px;background:#000;color:#fff;overflow:hidden;margin-right:10px;cursor:pointer;}
.frontCover p{text-align:center;height:14px;line-height:18px;overflow:hidden;}
.frontCover .img{position:relative;height:50px;overflow:hidden;}
.frontCover img{position:absolute;width:192px;height:50px;left:-50px;}
.frontCover .open{background:#e60013;}
.wrap{width:980px;margin-left:auto;margin-right:auto;}
/*幻灯片(组件)*/
.hdp-slide{position:relative;width:100%;}
.hdp-slide li{display:none;position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden;}
.hdp-slide li img{width:100%;height:100%;}
.ban_nav{ position:absolute;bottom:00px;left:0;width:100%;text-align:center;z-index:4;height: 40px; line-height:40px;}
.ban_nav a,.fullSlide .hd ul li{display:inline-block;vertical-align:middle;width:10px;height:10px;overflow:hidden;text-align:center;margin:15px 4px 4px 4px;border-radius: 100%;cursor:pointer;text-decoration:none;font-size:10px;-webkit-text-size-adjust:none;background:#000; text-indent:999px;}
.ban_nav .on,.fullSlide .hd ul .on{background:#F71919;color:#fff;}
.Left,.Right{cursor:pointer;}

.zhuanqu_adv_one{ height:472px; overflow:hidden; width:990px; margin:0 auto;}
.zhuanqu_adv_one a{ display:block;height:472px;}

.user_otaci_tejia{ width:990px; height:auto; overflow:hidden; padding-top:10px; }
.user_otaci_tejia .otaci_left{ float:left;}
.user_otaci_tejia .otaci_right{ float:right; border-bottom:1px solid #ccc7c1;}
.user_otaci_tejia .otaci_right ul{ overflow:hidden;}
.user_otaci_tejia .otaci_right li{ float:left; margin-bottom:5px; margin-right:7px;}
.user_otaci_tejia .otaci_details{ overflow:hidden; padding-top:20px;}
.user_otaci_tejia .otaci_details .otaci_name{ float:left;}
.user_otaci_tejia .otaci_details .otaci_name a{ font-size:16px; color:#000;}
.user_otaci_tejia .otaci_details .price{ color:#a22e41; font-size:16px; font-weight:700; float:right;}
.user_otaci_tejia .otaci_details .price em{ font-style:normal; font-size:20px;font-weight:500; }

.jGoodsRecommend .mc {
	background: #fcf8f8;
	overflow: hidden;
}
.jGoodsRecommend .mc ul {
	width: 100%;
}
.jGoodsRecommend li {
	float: left;
	width: 240px;
	padding: 10px 0;
	margin: 0 3px;
	overflow: hidden;
	display: inline;
	background: #fff url(../images/xiexian.gif) right center no-repeat;
}
.jGoodsRecommend .jItem {
	height: auto;
}
.jGoodsRecommend .jPic {
	text-align: center;
	_height: 100%;
}
.jGoodsRecommend .jPic a {
	display: block;
	height: 160px;
}
.jGoodsRecommend .jGoodsInfo {
	width: 190px;
	margin: 0 auto;
	padding: 6px 0 0;
	text-align: center;
}
.jGoodsRecommend .jDesc {
	height: 32px;
	line-height: 16px;
	overflow: hidden;
	font-size: 12px;
}
.jGoodsRecommend .jDesc a {
	color: #633a03;
	text-decoration: none;
	display: block;
}
.jGoodsRecommend .jPrice {
	overflow: hidden;
	color: #000000;
	padding-top: 5px;
	height: 20px;
}
.jGoodsRecommend .jdPrice .jdNum {
	font-size: 22px;
	background: url(../images/rmb.png) left center no-repeat;
	padding-left: 45px;
}

.user_damtao{ width:990px; height:auto; overflow:hidden;}
.user_damtao .damtao_more{ width:990px; height:90px; display:block;}
.user_damtao ul{ overflow:hidden; border-bottom:1px solid #ccc7c1; margin-top:5px;}
.user_damtao li{ float:left;}
.info{ overflow:hidden; padding-bottom:2px;}
.info .name{ float:left; padding-left:20px;}
.info .name a{ font-size:16px; color:#000;}
.info .price{ color: #a22e41; font-size: 16px;font-weight: 700;float: right;}
.info .price em { font-style: normal;font-size: 20px;font-weight: 500;}

.chapan{ overflow:hidden;margin-bottom: 10px;}
.bordertop{ border-top:1px solid #ccc7c1;}
.borderbottom{ border-bottom:1px solid #ccc7c1;}
.borderleft{border-left:1px solid #ccc7c1;}
.chapan li{ float:left;}
.chapan .info .name{ padding:0;}
.chapan .info .price{ padding-right:20px;}
.chapan_left{ float:left;}
.chapan_right{ float:right; margin-top: 15px; width:500px; border-bottom:1px solid #ccc7c1; margin-left:15px;}
.chapan_right li{ float:left; margin-right:10px;}
.chapan_right .info{ margin-top:10px;}

.lingpei{ overflow:hidden; padding-top: 10px;}
.lingpei .lingpei_left{ float:left;}
.lingpei li{ float:left; padding-right:10px; padding-bottom:3px;}
.lingpei .lingpei_right{ float:right;}
.lingpei .info .name{ padding:0;}
.lingpei .info .price{ padding-right:20px;}
.lingpei_adv{ float:left; margin-right:15px;}
.lingpei_cp{ width:412px; height:auto; float:left; margin-right: 20px;}
.lingpei_cp .info{ margin-top:10px; margin-bottom:5px;}
.lingpei_cp .info .price{ padding-right:100px;}

.lingpei2.lingpei_right{ margin-top:10px; width: 314px;}
.lingpei2.lingpei_right .yccp{ padding:0 0 0 3px; position:relative; width:310px; float:left;}
.lingpei2.lingpei_right .info{float:left; overflow:hidden;}
.lingpei2.lingpei_right .info .name{ width:20px; text-align:center;}
.lingpei2.lingpei_right .info a{ font-size:12px; color:#333; line-height:14px; display:block;}
.lingpei2.lingpei_right .info a span{ display:block; width:16px; height:5px;}
.lingpei2.lingpei_right .lingpei_right_cp{ float:right;}
.lingpei2.lingpei_right .smh_top{ background:url(../images/smh_top.jpg) 2px 0 no-repeat; margin-bottom:2px;}
.lingpei2.lingpei_right .smh_bottom{ background:url(../images/smh_bottom.jpg) 2px 0 no-repeat;}
.lingpei2.lingpei_right .info .price{ padding:0; float:none; position:absolute; bottom:0;}

/*右侧悬浮*/
.sidePanel .user_xf {
	width: 800px;
	height: auto;
	font-size: 13px;
	font-family: "microsoft yahei";
	color: white;
	text-align: left;
	z-index: 5;
	margin: 0px;
	padding: 0px;
	display:none;
}
.sidePanel .user_xf ul li {
	display: block;
	width: 80px;
	height: 30px;
	border-bottom: 1px solid #2b2b2b;
	overflow: hidden;
	text-align: center;
}
.user_xf ul li a {
	display: block;
	width: 80px;
	height: 30px;
	line-height:30px;
	background-color: black;
	text-decoration: none;
	color: #D6D6D6;
}
.user_xf ul li a:hover {
	background-color: #993333;
}