<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>微信墙 - 微信上墙</title>
        <link href="{$plugin_themes}/css/wechat_wall_common.css" rel="stylesheet" type="text/css" />
        <link href="{$plugin_themes}/css/wechat_wall_user.css" rel="stylesheet" type="text/css" />
        <link href="{$plugin_themes}/css/fonts/iconfont.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript">var ROOT_URL = '__ROOT__/';</script>
        <script src="__PUBLIC__/vendor/common/jquery.min.js"></script>
        <script src="__PUBLIC__/vendor/layer/layer.js"></script>
        <script src="{$plugin_themes}/js/jquery.nicescroll.js"></script>
        <script src="{$plugin_themes}/js/jquery.scrollTo.min.js"></script>
        <script src="{$plugin_themes}/js/wechat_wall.js"></script>
        <script type="text/javascript">
            // 处理背景图高度
			window.onload=function(){
				var con=document.getElementById('con');
				var conHeight=con.offsetHeight;
				var c=document.documentElement.clientHeight;
				con.style.height=c+'px';
			}
		</script>
	</head>
<body>
<div class="con wall-con" id="con" {if $wall.background} style="background-image:url({$wall.background})"{/if}>
    <div class="main">
        <!--logo-->
        <div class="logo">
            <img src="{$wall.logo}" class="fl"/>
            <h1 class="fl">{$wall.name}</h1>
        </div>

        <!--main-->
        <div class="content">
            <ul class="index-list" id="ul" style="position: relative;">
                {foreach $list as $val}
                <li>
                    <img src="{$val.headimg}"/>
                    <p>{$val.nickname}</p>
                </li>
                {/foreach}
            </ul>
        </div>

        <!--footer-->
        <div class="footer">
            <div class="footer-msg">
                <h1>{$wall.content}</h1>
                <ul class="fr">
                    <li class="footer-menu">
                        <a href="{url('market_show', array('type' => 'wall', 'function' => 'wall_user', 'wall_id' => $wall['id']))}" class="active">
                            <div class="footer-menu-pic shangqiang active">微信上墙</div>
                        </a>
                    </li>
                    <li class="footer-menu">
                        <a href="{url('market_show', array('type' => 'wall', 'function' => 'wall_msg', 'wall_id' => $wall['id']))}">
                            <div class="footer-menu-pic liebiao ">留言列表</div>
                        </a>
                    </li>
                    <li class="footer-menu">
                        <a href="{url('market_show', array('type' => 'wall', 'function' => 'wall_prize', 'wall_id' => $wall['id']))}">
                            <div class="footer-menu-pic choujiang ">抽奖</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>{$wall.support}</p>
        </div>
    </div>
</div>
</body>
</html>