<?php
return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        'align_multiline_comment' => true,
        'no_trailing_whitespace' => true,
        'no_short_echo_tag' => true,
        'no_unused_imports' => true,
        'array_syntax' => ['syntax' => 'short'],
        'ordered_imports' => ['sortAlgorithm' => 'length']
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->exclude('tests/')
            ->in(__DIR__)
    )
;