<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8">
    <title>{$title}</title>
    <!--字体图标库-->
    <link rel="stylesheet" href="__PUBLIC__/assets/purchase/fonts/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/purchase/css/swiper-3.2.5.min.css" />
    <!--主样式-->
    <link rel="stylesheet" href="__PUBLIC__/assets/purchase/css/ectouch.css" />
</head>
