{include file="page_header"}

<body>
<!--<div id="loading"><img src="img/loading.gif" /></div>-->
<div class="con">
    <div class="box padding-all m-top1px b-color-f">
        <h3 class="recom-title">求购产品</h3>
    </div>
    <section class="product-list j-product-list product-list-small wholesale_buy-box" data="2">
        <ul>
            {foreach $purchase_info.goods_list as $goods}
            <li>
                <div class="product-div">
                    <a class="product-div-link" href=""></a>
                    <img class="product-list-img" src="{$goods.goods_img}">
                    <div class="product-text wholesale-list-cont">
                        <h4>{$goods.goods_name}</h4>
                        <p class="dis-box f-03 col-7">分类：<em class="col-3">{$goods.cat_name}</em></p>
                        <p class="dis-box f-03 col-7">采购数量：<em class="col-3">{$goods.goods_number}</em>件</p>
                        <p class="dis-box f-03 col-7">目标单价：<em class="col-3">{$goods.goods_price}</em>元</p>
                    </div>
                </div>
            </li>
            {/foreach}
        </ul>
    </section>
    <div class="box padding-all m-top08 b-color-f">
        <h3 class="recom-title">采购需求</h3>
    </div>
    <ul class="wholesale-info-list b-color-f">
        <li class="dis-box wholesale-info-box  ">
            <div class="left f-03 col-9">发票信息:</div>
            <div class="box-flex f-03 col-3">{if $purchase_info.invoice_tax_rate} 税率{$purchase_info.invoice_tax_rate}{/if}</div>
        </li>
        <li class="dis-box wholesale-info-box  b-color-f">
            <div class="left f-03 col-9">详细地址:</div>
            <div class="box-flex f-03 col-3">{$purchase_info.consignee_region}</div>
        </li>
        <li class="dis-box wholesale-info-box  b-color-f">
            <div class="left f-03 col-9">补充说明:</div>
            <div class="box-flex f-03 col-3">{$purchase_info.description}</div>
        </li>
    </ul>
    <div class="box padding-all m-top08 b-color-f">
        <h3 class="recom-title">商家信息</h3>
    </div>
    <ul class="wholesale-info-list b-color-f">
        <li class="dis-box wholesale-info-box  ">
            <div class="left f-03 col-9">店铺:</div>
            <div class="box-flex f-03 col-3">{$purchase_info.shop_name}</div>
        </li>
        <li class="dis-box wholesale-info-box  ">
            <div class="left f-03 col-9">姓名:</div>
            <div class="box-flex f-03 col-3">{$purchase_info.contact_name}</div>
        </li>
        <li class="dis-box wholesale-info-box  b-color-f">
            <div class="left f-03 col-9">电话:</div>
            <div class="box-flex f-03 col-3">{$purchase_info.contact_phone}</div>
        </li>
        <li class="dis-box wholesale-info-box  b-color-f">
            <div class="left f-03 col-9">邮箱:</div>
            <div class="box-flex f-03 col-3">{$purchase_info.contact_email}</div>
        </li>
    </ul>

</div>
</div>
     <!--快捷导航-->
    {include file="no_search_nav"}
         <li>
            <a href="{url('purchase/index/index')}">
                <i class="iconfont icon-btn_pljj"></i>
                    <p>批发首页</p>
            </a>
        </li>
        <li>
            <a href="{url('purchase/index/show')}">
                <i class="iconfont icon-geren"></i>
                    <p>求购信息</p>
            </a>
        </li>
    {include file="float_nav_footer"}
<script>
    /*切换*/
    var tabsSwiper = new Swiper('#j-tab-con', {
        speed: 100,
        noSwiping: true,
        autoHeight: true,
        onSlideChangeStart: function() {
            $(".j-tab-title .active").removeClass('active')
            $(".j-tab-title li").eq(tabsSwiper.activeIndex).addClass('active')
        }
    })
    $(".j-tab-title li").on('touchstart mousedown', function(e) {
        e.preventDefault()
        $(".j-tab-title .active").removeClass('active')
        $(this).addClass('active')
        tabsSwiper.slideTo($(this).index())
    })
    $(".j-tab-title li").click(function(e) {
        e.preventDefault()
    })
</script>
</body>

</html>