@charset "utf-8";
#goodsInfo .textInfo .house_list_style a{ color: #666666; text-decoration: none;}

#area_address .area_brand { width:auto;position: absolute;height: 10px;margin: 0;z-index: 999;background: #fff;top: 23px;left: 0;display: none;}
.dis_warehouse_brand{ width:auto;position: absolute;height: 2px;margin: 0;z-index: 999;background: #fff;top: 23px;left: 0px;display: none;}
.area_list_style{border:1px solid #cecece; position: absolute; width:380px; left:-1px; top:23px; z-index: 998; float:left; display: none; background:#FFFFFF;float:left; padding:13px 14px; line-height:40px;}
.select_area_style{ position:relative;}
.select_area_style .select_area_box { width: 100%;height: 25px;float: left;border-bottom: 2px solid #edd28b;overflow: visible;}
.select_area_style .select_area_box .select_tab{ position: relative;float: left;height: 23px;line-height: 23px;padding: 0 21px 1px 11px;margin-right: 3px;border: 1px solid #ddd;border-bottom: 0;color: #005aa0;text-align: center;cursor: pointer;}
.select_area_style .select_area_box .select_tab.curr{ height: 25px;background-color: #fff;border: 2px solid #edd28b;border-bottom: 0;padding: 0 20px 0 10px;line-height: 22px;text-decoration: none;}
.select_area_style .select_area_box .select_tab i{ top:8px; right:6px;}

.house_list_style{ float:left; margin-top:10px; width:100%;  min-height: 120px;}
.house_list_style li{ float: left;width: 80px;padding: 2px 0 2px 10px; line-height:normal;clear: none;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.house_list_style li a{ float: left;padding: 2px 4px;color: #005aa0;  height: 18px;line-height: 18px;}
.house_list_style li a:hover{background: #005ea7;color: #fff;}

.house_list_style li a.choosable{ color:#ddd; cursor: default;}
.house_list_style li a.choosable:hover{ background:none;}

.mod_storage_state{ float:left; width:100%; padding-left:15px; line-height:30px;}

.close_area_list { background:url(ckImgs/newicon201301028.png) no-repeat; background-position:-257px -86px; height:17px; width:17px; position:absolute; left:410px; top:-8px; z-index:9999; cursor:pointer}

.warehouse{ width:65px; background:#fff; border:1px #cecece solid; border-top:none;position:absolute; top:25px; left:-1px; z-index:3; display:none}
.warehouse li{ line-height:25px; cursor:pointer; padding:0 10px;}
.warehouse li:hover{ background:#ddd;}

#buyno1{background: url(images/buyno1.gif) no-repeat;}

.select_box{ margin-top:5px;}
.select_box table,.buy_cart .f_l table{ background:#ccc;}
.select_box table th{ font-weight:normal; height:30px; background: #F0F0F0;}
.select_box table  td{ height:40px; background:#fff; text-align:center;}
.select_box table  td span{color:#1A4F81;}
.select_box table  td dl dt{ float:left;  }
.select_box table  td dl dd{ float:left; padding-left:5px; width:30px;}
.select_box p{ line-height:25px;}

.bnt_bg1{ background:url(images/bnt_bg1.jpg) 0 repeat-x; border:1px solid #B8B8B8; width:49px; height:22px; margin-left:5px; text-align:center; }
.buy_cart{ margin-top:18px;}
.buy_cart .f_l{ width:350px;}
.buy_cart .f_l h3{ height:37px; color:#fff; background:#0479C9; font-size:14px; text-align:center; font-weight:bold;}
.buy_cart .f_l table th{ width:175px; background:#F0F0F0; height:37px; font-size:14px; color:#333;}
.buy_cart .f_l table td{ height:30px;width:175px; background:#fff;  color:#333; text-align:center; font-size:14px; font-weight:bold;}
.buy_cart .f_l table td span{color:#E6393D; font-family:"΢���ź�";}

.attrSid_cartNumber{ width:45px; text-align:center; border:1px #e2e2e2 solid; color:#ED145B}
.cart_changSid a{height:12px; text-decoration:none; color:#000; line-height:12px; padding:0px 4px; background:#fff; border:1px #eee solid; display:inline-block;}
.cart_changSid a:hover{ border:1px #ED145B solid; color:#ED145B}

.flow_shopfee{ width:100px; color:#005EA7; font-family:'΢���ź�'; padding-left:5px; position:relative; cursor:pointer;}
.flow_shopfee .shopfeeDiv{ width:200px; height:auto !important; padding-left:10px; padding:10px 10px; display:none; background:#fff; border:1px #e2e2e2 solid; position:absolute; top:19px; left:5px;text-align:left;}
.flow_shopfee .shopfeeDiv font,.flow_shopfee .shopfeeDiv span{ font-size:14px; font-weight:normal; color:#005EA7}
.peisong div font{ color:#666}

.flow_area_list_style{border:1px solid #cecece; position: absolute; width:380px; right:-1px; top:23px; z-index: 998; float:left; display: none; background:#FFFFFF;float:left; padding:13px 14px; line-height:40px;}