@charset "utf-8";

/* Visual Color Css Start */

/* two */
.store_tpl_1 [data-color = defaultTemp-color-type-2] .floor .mt h2,
.store_tpl_1 [data-color = defaultTemp-color-type-2] .floor .mc li .info .price{ color:#f42424;}
.store_tpl_1 [data-color = defaultTemp-color-type-2] .floor .mc .row3 li:hover{ background-color:#f42424; border:1px solid #f42424;}
.store_tpl_1 [data-color = defaultTemp-color-type-2] .floor .mt h2{ color:#f42424; border-bottom-color:#f42424;}
.store_tpl_1 [data-color = defaultTemp-color-type-2] .floor .mc .row3 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-2] .floor .mc .row4 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-2] .floor .mc .row5 li .info .name,
.store_tpl_1 [data-color = defaultTemp-color-type-2] .floor .mc .row5 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-2] .floor .mc .row5 li .info .price,
.store_tpl_1 [data-color = defaultTemp-color-type-2] .adv_module .hd li,
.store_tpl_1 [data-color = defaultTemp-color-type-2] .floor .mt p,
.store_tpl_1 [data-color = defaultTemp-color-type-2] .shop_banner .hd ul li.on{ background-color:#f42424;}
.store_tpl_1 [data-color = defaultTemp-color-type-2] .floor .mc .row5 li:hover{ border-color:#f42424;}

/* three */
.store_tpl_1 [data-color = defaultTemp-color-type-3] .floor .mt h2,
.store_tpl_1 [data-color = defaultTemp-color-type-3] .floor .mc li .info .price{ color:#EE356C;}
.store_tpl_1 [data-color = defaultTemp-color-type-3] .floor .mc .row3 li:hover{ background-color:#EE356C; border:1px solid #EE356C;}
.store_tpl_1 [data-color = defaultTemp-color-type-3] .floor .mt h2{ color:#EE356C; border-bottom-color:#EE356C;}
.store_tpl_1 [data-color = defaultTemp-color-type-3] .floor .mc .row3 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-3] .floor .mc .row4 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-3] .floor .mc .row5 li .info .name,
.store_tpl_1 [data-color = defaultTemp-color-type-3] .floor .mc .row5 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-3] .floor .mc .row5 li .info .price,
.store_tpl_1 [data-color = defaultTemp-color-type-3] .adv_module .hd li,
.store_tpl_1 [data-color = defaultTemp-color-type-3] .floor .mt p,
.store_tpl_1 [data-color = defaultTemp-color-type-3] .shop_banner .hd ul li.on{ background-color:#EE356C;}
.store_tpl_1 [data-color = defaultTemp-color-type-3] .floor .mc .row5 li:hover{ border-color:#EE356C;}

/* four */
.store_tpl_1 [data-color = defaultTemp-color-type-4] .floor .mt h2,
.store_tpl_1 [data-color = defaultTemp-color-type-4] .floor .mc li .info .price{ color:#027bd6;}
.store_tpl_1 [data-color = defaultTemp-color-type-4] .floor .mc .row3 li:hover{ background-color:#027bd6; border:1px solid #027bd6;}
.store_tpl_1 [data-color = defaultTemp-color-type-4] .floor .mt h2{ color:#027bd6; border-bottom-color:#027bd6;}
.store_tpl_1 [data-color = defaultTemp-color-type-4] .floor .mc .row3 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-4] .floor .mc .row4 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-4] .floor .mc .row5 li .info .name,
.store_tpl_1 [data-color = defaultTemp-color-type-4] .floor .mc .row5 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-4] .floor .mc .row5 li .info .price,
.store_tpl_1 [data-color = defaultTemp-color-type-4] .adv_module .hd li,
.store_tpl_1 [data-color = defaultTemp-color-type-4] .floor .mt p,
.store_tpl_1 [data-color = defaultTemp-color-type-4] .shop_banner .hd ul li.on{ background-color:#027bd6;}
.store_tpl_1 [data-color = defaultTemp-color-type-4] .floor .mc .row5 li:hover{ border-color:#027bd6;}

/* five */
.store_tpl_1 [data-color = defaultTemp-color-type-5] .floor .mt h2,
.store_tpl_1 [data-color = defaultTemp-color-type-5] .floor .mc li .info .price{ color:#6CC133;}
.store_tpl_1 [data-color = defaultTemp-color-type-5] .floor .mc .row3 li:hover{ background-color:#6CC133; border:1px solid #6CC133;}
.store_tpl_1 [data-color = defaultTemp-color-type-5] .floor .mt h2{ color:#6CC133; border-bottom-color:#6CC133;}
.store_tpl_1 [data-color = defaultTemp-color-type-5] .floor .mc .row3 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-5] .floor .mc .row4 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-5] .floor .mc .row5 li .info .name,
.store_tpl_1 [data-color = defaultTemp-color-type-5] .floor .mc .row5 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-5] .floor .mc .row5 li .info .price,
.store_tpl_1 [data-color = defaultTemp-color-type-5] .adv_module .hd li,
.store_tpl_1 [data-color = defaultTemp-color-type-5] .floor .mt p,
.store_tpl_1 [data-color = defaultTemp-color-type-5] .shop_banner .hd ul li.on{ background-color:#6CC133;}
.store_tpl_1 [data-color = defaultTemp-color-type-5] .floor .mc .row5 li:hover{ border-color:#6CC133;}

/* six */
.store_tpl_1 [data-color = defaultTemp-color-type-6] .floor .mt h2,
.store_tpl_1 [data-color = defaultTemp-color-type-6] .floor .mc li .info .price{ color:#7a45e5;}
.store_tpl_1 [data-color = defaultTemp-color-type-6] .floor .mc .row3 li:hover{ background-color:#7a45e5; border:1px solid #7a45e5;}
.store_tpl_1 [data-color = defaultTemp-color-type-6] .floor .mt h2{ color:#7a45e5; border-bottom-color:#7a45e5;}
.store_tpl_1 [data-color = defaultTemp-color-type-6] .floor .mc .row3 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-6] .floor .mc .row4 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-6] .floor .mc .row5 li .info .name,
.store_tpl_1 [data-color = defaultTemp-color-type-6] .floor .mc .row5 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-6] .floor .mc .row5 li .info .price,
.store_tpl_1 [data-color = defaultTemp-color-type-6] .adv_module .hd li,
.store_tpl_1 [data-color = defaultTemp-color-type-6] .floor .mt p,
.store_tpl_1 [data-color = defaultTemp-color-type-6] .shop_banner .hd ul li.on{ background-color:#7a45e5;}
.store_tpl_1 [data-color = defaultTemp-color-type-6] .floor .mc .row5 li:hover{ border-color:#7a45e5;}

/* seven */
.store_tpl_1 [data-color = defaultTemp-color-type-7] .floor .mt h2,
.store_tpl_1 [data-color = defaultTemp-color-type-7] .floor .mc li .info .price{ color:#715a52;}
.store_tpl_1 [data-color = defaultTemp-color-type-7] .floor .mc .row3 li:hover{ background-color:#715a52; border:1px solid #715a52;}
.store_tpl_1 [data-color = defaultTemp-color-type-7] .floor .mt h2{ color:#715a52; border-bottom-color:#715a52;}
.store_tpl_1 [data-color = defaultTemp-color-type-7] .floor .mc .row3 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-7] .floor .mc .row4 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-7] .floor .mc .row5 li .info .name,
.store_tpl_1 [data-color = defaultTemp-color-type-7] .floor .mc .row5 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-7] .floor .mc .row5 li .info .price,
.store_tpl_1 [data-color = defaultTemp-color-type-7] .adv_module .hd li,
.store_tpl_1 [data-color = defaultTemp-color-type-7] .floor .mt p,
.store_tpl_1 [data-color = defaultTemp-color-type-7] .shop_banner .hd ul li.on{ background-color:#715a52;}
.store_tpl_1 [data-color = defaultTemp-color-type-7] .floor .mc .row5 li:hover{ border-color:#715a52;}

/* eight */
.store_tpl_1 [data-color = defaultTemp-color-type-8] .floor .mt h2,
.store_tpl_1 [data-color = defaultTemp-color-type-8] .floor .mc li .info .price{ color:#e66a07;}
.store_tpl_1 [data-color = defaultTemp-color-type-8] .floor .mc .row3 li:hover{ background-color:#e66a07; border:1px solid #e66a07;}
.store_tpl_1 [data-color = defaultTemp-color-type-8] .floor .mt h2{ color:#e66a07; border-bottom-color:#e66a07;}
.store_tpl_1 [data-color = defaultTemp-color-type-8] .floor .mc .row3 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-8] .floor .mc .row4 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-8] .floor .mc .row5 li .info .name,
.store_tpl_1 [data-color = defaultTemp-color-type-8] .floor .mc .row5 li .info .btn_hover,
.store_tpl_1 [data-color = defaultTemp-color-type-8] .floor .mc .row5 li .info .price,
.store_tpl_1 [data-color = defaultTemp-color-type-8] .adv_module .hd li,
.store_tpl_1 [data-color = defaultTemp-color-type-8] .floor .mt p,
.store_tpl_1 [data-color = defaultTemp-color-type-8] .shop_banner .hd ul li.on{ background-color:#e66a07;}
.store_tpl_1 [data-color = defaultTemp-color-type-8] .floor .mc .row5 li:hover{ border-color:#e66a07;}

/* Visual Color Css End */