{if $attr_group}

<table class="table_head" width="100%">
    <thead>
        <tr>
            <th width="10%"> {foreach $attribute_array as $attribute} {$attribute.attr_name} {/foreach} </th>
            <th width="5%" {if $model_name == ''}class="hide"{/if}>{$model_name}</th>
            <th width="8%" {if $goods_attr_price == 0}class="hide"{/if}><em class="require-field">*</em>本店价<i class="sc_icon sc_icon_edit pointer pro_shop"></i></th>
            <th width="8%"><em class="require-field">*</em>库存<i class="sc_icon sc_icon_edit pointer pro_number"></i></th>
            <th width="8%"><em class="require-field">*</em>预警值<i class="sc_icon sc_icon_edit pointer pro_warning"></i></th>
            <th width="10%">商品货号</th>
            <th width="10%">砍价目标价格</th>
        </tr>
    </thead>
</table>

<div id="listDiv">
    <div class="step_item_table2">
        <table class="table_attr" width="100%">
            <tbody>
                {foreach $attr_group as $group}
                {if $group.attr_info}
                <tr>
                    <td class="td_bg_blue" width="10%">{foreach $group.attr_info as $one} {$one.attr_value}<input type="hidden"  value="{$one.attr_value}" />{/foreach}</td>
                    <td width="5%" {if $region_name == ''}class="hide"{/if}>{$region_name}</td>
                    <td width="8%" {if $goods_attr_price == 0}class="hide"{/if}><input type="text" name="product_price[]" class="text w60" autocomplete="off" readonly value="{$group.product_price}" /></td>
                    <td width="8%"><input type="text"  class="text w60" autocomplete="off" readonly value="{$group.product_number}" /></td>
                    <td width="8%"><input type="text"  class="text w60" autocomplete="off" readonly value="{$group.product_warn_number}" /></td>
                    <td width="10%"><input type="text"   class="text w120" autocomplete="off" readonly value="{$group.product_sn}" /></td>
                    <td width="10%"><input type="text" name="target_price[]" class="text w120"  autocomplete="off" value="{$group.target_price}" /></td>
                    <td class="hide" width="10%">
                         <input type="hidden" name="product_id[]" value="{$group.product_id}" />
                         <input type="hidden" name="bargain_id[]" value="{$group.goods_attr_id}" />
                    </td>

                </tr>
                {/if}
                {/foreach}
            </tbody>
        </table>

    </div>
</div>


{/if}