{include file="admin_pageheader"}

<div class="wrapper">
    <div class="title">砍价 - 亲友邦列表</div>
    <div class="content_tips">
        <div class="flexilist">
            <div class="common-content">
                <div class="list-div"  id="listDiv">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tr class="active">
                          <th><div class="tDiv">编号</div></th>
                          <th><div class="tDiv">会员名称</div></th>
                          <th><div class="tDiv">帮您砍价</div></th>
                          <th><div class="tDiv">参加时间</div></th>
                        </tr>
                        {if $list}
                        {foreach $list as $list}
                        <tr>
                            <td><div class="tDiv">{$list.id}</div></td>
                            <td><div class="tDiv clamp2">{$list.user_name}</div></td>
                            <td><div class="tDiv">{$list.subtract_price}</div></td>
                            <td><div class="tDiv">{$list.add_time}</div></td>
                        </tr>
                        {/foreach}
                        {else}
                        <tbody>
                        <tr><td class="no-records" colspan="9">没有找到任何记录</td></tr>
                        </tbody>
                        {/if}
                    </table>
                </div>
            </div>
        </div>
   </div>
</div>
{include file="admin/footer"}