<div class="select-top">
<a href="javascript:;" class="categoryTop" data-cid="0" data-cname="">重选</a>
{if $filter_category_navigation}
{foreach from=$filter_category_navigation item=navigation}
    &gt;<a href="javascript:;" class="categoryTop" data-cid="{$navigation.cat_id}" data-cname="{$navigation.cat_name}">{$navigation.cat_name}</a>
{/foreach}
{else}
&gt; <span>请选择分类</span>
{/if}
</div>
<div class="select-list">
    <ul>
        {foreach $filter_category_list as $category}
        <li data-cid="{$category.cat_id}" data-cname="{$category.cat_name}"><em>{if $filter_category_level == 1}Ⅰ{elseif $filter_category_level == 2}Ⅱ{elseif $filter_category_level == 3}Ⅲ{else}Ⅰ{/if}</em>{$category.cat_name}</li>
        {/foreach}

    </ul>
</div>