{include file="page_header"}
<div class="con">
		<div class="index-banner swiper-container box position-rel banner-first">
				<div class="swiper-wrapper">
                    {insert_ads(array('id'=>1020, 'num'=>6))}
				</div>
				<!-- 分页器 -->
				<div class="swiper-pagination banner-first-pagination" style="bottom:0"></div>
			</div>
			<!--list-->
			<section class="product-list j-product-list product-list-medium m-top02" data="1">
					<ul class="bargain-goods">
                    <script id="j-product" type="text/html">
                    <%if totalPage > 0 %>
                    <%each list as goods%>
                        <li>
                            <div class="product-div">
                                <a href="<%goods.url%>" class="p-r"><img class="product-list-img" src="<%goods.goods_img%>">
                                	<em class="bargain-tag"><i class="iconfont icon-renshu  f-03"></i><%goods.total_num%>人参与</em></a>
                                <div class="product-text index-product-text">
                                    <a href="<%goods.url%>" ><h4><%goods.goods_name%></h4></a>
									<div class="dis-box bargain-price m-top04">
										<div class="flex-box">
											<div class="f-01 col-9"><del>原价:<%goods.shop_price%></del></div>
											<div class="f-01 col-9"><em class="price">底价</em><label class="f-06 color-red"><%goods.target_price%></label></div>
										</div>
										<div class="right"><div class="btn fr">去参与</div></div>
									</div>
                                </div>

                            </div>
                        </li>
                        <%/each%>
                        <% else %>
                        <div class="no-div-message">
                            <i class="iconfont icon-biaoqingleiben"></i>
                                <p>亲，此处没有内容～！</p>
                        </div>
                        <% /if %>
                      </script>
                    </ul>
            </section>
            <div class="footer-cont" style="display: block;"><span>没有更多了</span></div>
</div>
    <!--快捷导航-->
    {include file="no_search_nav"}
		<li>
			<a href="{url('user/bargain/index')}">
				<i class="iconfont icon-40kanjia"></i>
					<p>我的砍价</p>
			</a>
		</li>
    {include file="float_nav_footer"}
	<!--悬浮菜单e-->
	<script>
	$(function($) {
		var mySwiper = new Swiper('.banner-first', {
			pagination: '.banner-first-pagination',
		});
	});

    /*砍价列表获取*/
    var url = "{url('bargain/index/index', array('page'=>$page,))}";
    $('.bargain-goods').infinite({url: url, template:'j-product'});

</script>
</body>

</html>
