{include file="page_header"}
	<div class="con">
		<div class="cont-pb">
		<ul class="goods-wait-list-box">
			{if $team_user}
			{foreach $team_user as $key=>$user}
			<li class="padding-all b-color-f dis-box goods-wait-box">
				{if $user.team_parent_id}
				<div class="tag-box">团长</div>
				{/if}
				<div class="goods-wait-left">
					<div class="left-img"><img src="{$user.headerimg}" class="img"></div>

				</div>
				<div class="box-flex list-two">
					<h4 class="f-06 col-3 onelist-hidden m-top04">{$user.user_name}</h4>
					<p class="col-9 f-02 onelist-hidden">{if $key == 0}开团时间：{else}参团时间：{/if}{$user.add_time}</p>
				</div>
			</li>
			{/foreach}
			{else}
			<div class="no-div-message">
				<i class="iconfont icon-biaoqingleiben"></i>
				<p>亲，此处没有内容～！</p>
			</div>

			{/if}
			</ul>
		</div>
	</div>
	<div class="goods-scoll-bg"></div>
	{include file="team_nav"}
	</body>

</html>