{include file="page_header"}
		<div class="con">
			<div class="cont-pb">
				<section class="padding-all b-o dis-box goods-wait-box">
					<div class="goods-wait-left" style="width:5.6rem">
						<div class="left-img"><img src="{$goods.headerimg}" class="img"></div>
					</div>

					{if $team.status == 0}
					<div class="box-flex list-two m-top04">
						<h4 class="f-06 col-3 onelist-hidden">开团成功啦！</h4>
						<p class="col-9 f-02 onelist-hidden">只差{$team.surplus}位小伙伴参团，快点邀请好友参团。</p>
					</div>
					{elseif $team.status == 1}
					<div class="box-flex list-two m-top04">
						<h4 class="f-06 col-3 onelist-hidden">拼团成功啦！</h4>
						<p class="col-9 f-02 onelist-hidden">继续去开团吧。</p>
					</div>
					{else}
					<div class="box-flex list-two m-top04">
						<h4 class="f-06 col-3 onelist-hidden">拼团失败啦！</h4>
						<p class="col-9 f-02 onelist-hidden">只差{$team.surplus}位小伙伴参团,继续去开团吧。</p>
					</div>
					{/if}
				</section>
				<section class="flow-checkout-pro j-flow-checkout-pro active m-top1px">
					<div class="dis-box flow-checkout-list-box b-color-f padding-all position-rel">
						<a class="product-div-link" href="{:url('team/goods/index',array('id'=>$goods.goods_id))}"></a>
						<div class="flow-checkout-list-left">
							<div class="flow-checkout-list-left-img"><img class="img" src="{$goods.goods_img}" /></div>
						</div>
						<div class="box-flex">
							<h4 class="f-06 col-3 twolist-hidden" style="line-height:inherit;">{$goods.goods_name}</h4>
							<p class="col-7 f-03">{$goods.goods_attr}</p>
							<div class="f-05 col-7 m-top08"><i class="iconfont icon-qun"></i>{$goods.team_num}人团 <em class="color-red f-08">{$goods.team_price}</em></div>
						</div>
					</div>
				</section>
				<script type="text/javascript">
					var gmt_end_time = {$team.end_time};
					var day = '<em class="color-whie hour">';
					var hour = '</em> : <em class="color-whie mini">';
					var minute = '</em> : <em class="color-whie sec">';
					var second = '</em>';
					var end = '';
					onload = function(){
						try {onload_leftTime();}
						catch (e) {}
					}
				</script>
				<section class="b-color-f m-top10 padding-all">
					<div class="other-login countDown">

						{if $team.status == 0}
						<h4 class="title-hrbg-team">剩余<span class="color-dark" id="leftTime"> </span>结束<hr> </h4>
						{elseif $team.status == 1}
						<h4 class="title-hrbg-team">拼团成功<hr> </h4>
						{else}
						<h4 class="title-hrbg-team">拼团失败<hr> </h4>
						{/if}


					</div>
					<ul class="goods-wait-num">
						{foreach $team_user as $key=>$user}
						<li>
							{if $user.team_parent_id}
							<div class="tag-box">团长</div>
							{/if}
							<div class="num-img"><img src="{$user.headerimg}" class="img"></div>
						</li>
						{/foreach}
						<li class="position-rel">
							<a class="product-div-link" href="{:url('team/goods/teamuser',array('team_id'=>$team.team_id))}"></a>
							<div class="num-img"><i class="iconfont icon-menu icon-13caidan is-con"></i></div>
						</li>
					</ul>

					<div class="plan-box m-top08">
						<p class="left-title">
							<em>{$team.bar}%</em>
							<i class="color" style="width:{$team.bar}%;"></i>
						</p>
					</div>

					<div class="other-login m-top12">
						<h4 class="title-hrbg-team"><span>拼团规则</span><hr> </h4>
					</div>
					<div class="dis-box group-detail-cont f-03 text-c col-6 position-rel">
						<div class="box-flex position-rel">
							<label class="num-left">1</label>
							<p class="">选择商品</p>
							<div class="n-list-xian-first position-abo"></div>
						</div>
						<div class="box-flex position-rel">
							<label class="num-left">2</label>
							<p class="">开团/参团</p>
							<div class="n-list-xian position-abo"></div>
						</div>
						<div class="box-flex position-rel">
							<label class="num-left">3</label>
							<p class="">邀请好友</p>
							<div class="n-list-xian position-abo"></div>
						</div>
						<div class="box-flex position-rel">
							<label class="num-left">4</label>
							<p class="">人满成团</p>
							<div class="n-list-xian-last position-abo"></div>
						</div>

					</div>
					<div class="goods-mn-jiantou  j-goods-guize-box position-rel "><i class="iconfont icon-moreunfold ts-5"></i></div>
					<ul class="goods-service-nav-list goods-show-box ts-5">
						<li class="padding-all of-hidden">
							<p class="g-b-s-con">1.开团：在商城内选择喜欢的商品，点击“去开团”，付款成功后即为开团成功；</p>
							<p class="g-b-s-con">2.参团：进入朋友分享的页面，点击“立即参团”，付款后即为参团成功，若多人同时支付，按先支付成功的用户获得参团资格，支付：参团订单未支付不计入参团数量，团过期未支付订单失效，但参团人信息也会显示在团里面；</p>
							<p class="g-b-s-con">3.成团：在开团或参团之后,可以点击“分享出去”，在有效时间凑齐成团人数即拼团成功；</p>
							<p class="g-b-s-con">4.组团失败：在有效时间内未凑齐人数，即为组团失败，此时商城会将原款分别退回；</p>
							<!-- <p class="g-b-s-con">5.中奖商品预计72小时内发货</p> -->
						</li>
					</ul>
				</section>
				<section class="index-seckill m-top10">
					<div class="box padding-all b-color-f wallet-bt">
						<h3 class="recom-title">
						热卖商品
					</h3>
					</div>
				<section class="product-list j-product-list product-list-medium" data="1">
					<ul class="team-goods">
						<script id="j-product" type="text/html">
						<%each list as vo%>
						<li>
                            <div class="product-div">
                              <a class="product-div-link" href="<%vo.url%>"></a>
              					<img class="product-list-img" src="<%vo.goods_thumb%>">
                                <div class="product-text">
                                    <h4><%vo.goods_name%></h4>
                                    <p class="dis-box p-t-remark"><span class="box-flex"></span><span class="box-flex"></span></p>
                                    <p>
                                    <span class="p-price t-first ">

                                        <%vo.shop_price%>

                                        <small><del></del></small>
                                    </span>
                                    </p>
                                    <a href="javascript:void(0);" class="icon-flow-cart fr j-goods-attr" onclick="addToCart(530, 0)"><i class="iconfont icon-gouwuche"></i></a>
                                </div>
                            </div>

                        </li>
						<%/each%>
						</script>
                    </ul>
                    </section>


				</section>

			</div>

			<div class="mask-filter-div"></div>
			<section class="filter-btn dis-box goods-btn-box">
				<a href="{:url('team/index/userranking')}" class="btn-p  btn-team box-flex">
					<h4 class="f-07">更多拼团</h4>
				</a>
				{if $team.status > 0}
				<a href="{url('team/goods/index',array('id'=>$team.goods_id))}" class="btn-p group-btn-box btn-submit box-flex ec-white text-c">
					<h4 class="f-07">去开团</h4>
					<p class="f-03">{$team.team_price}</p>
				</a>
				{else}
					{if $team_join}
					<a class="btn-p  btn-submit box-flex ec-white text-c j-fengxiang-box">
						<h4 class="f-07">邀请好友参团</h4>
					</a>
					{else}
					<a href="{url('team/goods/index',array('id'=>$team.goods_id,'team_id'=>$team.team_id))}" class="btn-p group-btn-box btn-submit box-flex ec-white text-c">
						<h4 class="f-07">立即参团</h4>
              			<p class="f-03">{$team.team_price}</p>
					</a>
					{/if}
				{/if}
			</section>
		</div>
		<div class="fengxiang-img-box"><img src="{elixir('img/fengxiang.png')}" class="img"></div>
		<div class="fengxing-bg"></div>

	</div>
	{include file="team_nav"}
	<script>
		//推荐拼团商品
		var url = "{url('team/goods/teamlist', array('page'=>$page,))}";
		$('.team-goods').infinite({url: url, template:'j-product'});
	</script>


	</body>

</html>