{include file="page_header"}
		<div class="con">
			<div class="category">
				<section class="search">
					<div class="text-all dis-box j-text-all text-all-back">
						<a class="a-icon-back j-close-search" href="javascript:history.go(-1);"><i class="iconfont icon-back"></i></a>
						<div class="box-flex input-text n-input-text i-search-input">
							<a class="a-search-input j-search-input" href="javascript:void(0)"></a>
						 <div class="j-input-text nav-soso"><i class="iconfont icon-sousuo"></i>商品搜索</div>
						</div>
						<a href="#j-filter-div" class="s-filter j-s-filter">筛选</a>
					</div>
				</section>
				<section class="product-sequence dis-box">
					{if $order == 'asc' && $sort == 'goods_id'}
					<a class="box-flex a-change {if $sort == 'goods_id'}active{/if}" href="{url('team/index/category', array('tc_id'=>$tc_id, 'intro'=>$intro, 'display'=>$display, 'brand'=>$brand_id, 'price_min'=>$price_min, 'price_max'=>$price_max, 'filter_attr'=>$filter_attr, 'page'=>$page, 'sort'=>'goods_id', 'order'=>'desc', 'keyword'=>$keywords))}#goods_list">综合<i class="iconfont icon-xiajiantou"></i></a>
					{else}
					<a class="box-flex {if $sort == 'goods_id'}active{/if}" href="{url('team/index/category', array('tc_id'=>$tc_id, 'intro'=>$intro, 'display'=>$display, 'brand'=>$brand_id, 'price_min'=>$price_min, 'price_max'=>$price_max, 'filter_attr'=>$filter_attr, 'page'=>$page, 'sort'=>'goods_id', 'order'=>'asc', 'keyword'=>$keywords))}#goods_list">综合<i class="iconfont icon-xiajiantou"></i></a>
					{/if}
					{if $order == 'asc' && $sort == 'last_update'}
					<a class="box-flex {if $sort == 'last_update'}active{/if}" href="{url('team/index/category', array('tc_id'=>$tc_id, 'intro'=>$intro, 'display'=>$display, 'brand'=>$brand_id, 'price_min'=>$price_min, 'price_max'=>$price_max, 'filter_attr'=>$filter_attr, 'page'=>$page, 'sort'=>'last_update', 'order'=>'desc', 'keyword'=>$keywords))}#goods_list">新品</a>
					{else}
					<a class="box-flex {if $sort == 'last_update'}active{/if}" href="{url('team/index/category', array('tc_id'=>$tc_id, 'intro'=>$intro, 'display'=>$display, 'brand'=>$brand_id, 'price_min'=>$price_min, 'price_max'=>$price_max, 'filter_attr'=>$filter_attr, 'page'=>$page, 'sort'=>'last_update', 'order'=>'ASC', 'keyword'=>$keywords))}#goods_list">新品</a>
					{/if}
					{if $order == 'asc' && $sort == 'sales_volume'}
					<a class="box-flex {if $sort == 'sales_volume'}active{/if}" href="{url('team/index/category', array('tc_id'=>$tc_id, 'intro'=>$intro, 'display'=>$display, 'brand'=>$brand_id, 'price_min'=>$price_min, 'price_max'=>$price_max, 'filter_attr'=>$filter_attr, 'page'=>$page, 'sort'=>'sales_volume', 'order'=>'DESC', 'keyword'=>$keywords))}#goods_list">销量</a>
					{else}
					<a class="box-flex {if $sort == 'sales_volume'}active{/if}" href="{url('team/index/category', array('tc_id'=>$tc_id, 'intro'=>$intro, 'display'=>$display, 'brand'=>$brand_id, 'price_min'=>$price_min, 'price_max'=>$price_max, 'filter_attr'=>$filter_attr, 'page'=>$page, 'sort'=>'sales_volume', 'order'=>'ASC', 'keyword'=>$keywords))}#goods_list">销量</a>
					{/if}
					{if $order == 'asc' && $sort == 'team_price'}
					<a class="box-flex a-change {if $sort == 'team_price'}active{/if}" href="{url('team/index/category', array('tc_id'=>$tc_id, 'intro'=>$intro, 'display'=>$display, 'brand'=>$brand_id, 'price_min'=>$price_min, 'price_max'=>$price_max, 'filter_attr'=>$filter_attr, 'page'=>$page, 'sort'=>'team_price', 'order'=>'DESC', 'keyword'=>$keywords))}#goods_list">价格<i class="iconfont icon-xiajiantou"></i></a>
					{else}
					<a class="box-flex {if $sort == 'team_price'}active{/if}" href="{url('team/index/category', array('tc_id'=>$tc_id, 'intro'=>$intro, 'display'=>$display, 'brand'=>$brand_id, 'price_min'=>$price_min, 'price_max'=>$price_max, 'filter_attr'=>$filter_attr, 'page'=>$page, 'sort'=>'team_price', 'order'=>'ASC', 'keyword'=>$keywords))}#goods_list">价格<i class="iconfont icon-xiajiantou"></i></a>
					{/if}
					<a class="a-sequence j-a-sequence"><i class="iconfont icon-pailie" data="1"></i></a>
				</section>
				<section class="product-list j-product-list product-list-medium" data="1">
					<ul class="team-goods">
						<script id="j-product" type="text/html">
						<%if totalPage > 0 %>
	                    <%each list as goods%>
						<li>
							<div class="product-div">
								<a class="product-div-link" href="<%goods.url%>"></a>
								<img class="product-list-img" src="<%goods.goods_thumb%>" />
								<div class="product-text">
									<h4><%goods.goods_name%></h4>
									<p class="dis-box p-t-remark"><span class="box-flex">库存:<%goods.goods_number%></span><span class="box-flex">销量:<%goods.sales_volume%></span></p>

									<p><span class="p-price"><i class="iconfont icon-wodetuandui"></i><em class="f-04 col-7"><%goods.team_num%>人团 </em><em class="color-red f-08"><%goods.team_price%></em>
									<small><em class="f-04 col7">单买</em><em class="f-05 color-red"><%goods.market_price%></em></small></span></p>
									<!--<a href="javascript:void(0)" class="icon-flow-cart fr j-goods-attr"><i class="iconfont icon-gouwuche"></i></a>-->
								</div>
							</div>
						</li>
						<%/each%>
						<% else %>
		                <div class="no-div-message">
		                    <i class="iconfont icon-biaoqingleiben"></i>
		                    <p>亲，此处没有内容～！</p>
		                </div>
		                 <% /if %>
                    	</script>

					</ul>
				</section>
			</div>
		</div>
		<div id="j-filter-div" class="j-filter-div filter-div ts-5 c-filter-div">
			<div class="mask-filter-div"></div>
			<section class="close-filter-div j-close-filter-div">
				<div class="close-f-btn">
					<i class="iconfont icon-fanhui"></i>
					<span>关闭</span>
				</div>
			</section>
			 <form action="{url('team/index/category', array('tc_id'=>$tc_id, 'display'=>$display, 'sort'=>$sort, 'order'=>$order))}" method="post" id="filter">
			<section class="con-filter-div">
				<div class="swiper-wrapper">
					<div class="swiper-slide">

					<div class="price-range padding-all" style="padding-top:1.3rem">
						<label class="price-range-label" data-min="{$price_range['min']}" data-max="{$price_range['max']}">价格区间</label>
						<div class="price-slider">
							<div id="slider-range" class="slider"></div>
							<div class="slider-info">
								<span id="slider-range-amount"></span>
							</div>
						</div>
					</div>
				<div class="select-two">
					<a class="select-title padding-all j-menu-select">
						<label class="fl">品牌</label>
						<span class="fr t-jiantou j-t-jiantou" id="j-t-jiantou"><em class="fl">{$brand_name}</em><i class="iconfont icon-jiantou tf-180 ts-2"></i></span>
					</a>
					<ul class="j-sub-menu padding-all j-get-limit brand" data-istrue="true">

						{foreach $brands as $brand}
						<li class="ect-select {if $brand['brand_id'] == 0}j-checkbox-all{/if}" data-brand="{$brand['brand_id']}" >
							<label class="ts-1 {if $brand['selected']}active{/if}">{$brand['brand_name']}<i class="fr iconfont icon-gou ts-1"></i></label>
						</li>
						{/foreach}

					</ul>
				</div>
				<div class="ect-button-more dis-box padding-all">

					<input type="hidden" name="price_min" value="{$price_min}" />
                    <input type="hidden" name="price_max" value="{$price_max}" />
                    <input type="hidden" name="brand" value="{$brand_id}" />
                    <input type="hidden" name="keyword" value="{$keywords}"/>

					<a class="box-flex btn-reset j-filter-reset" type="button">清空选项</a>
					<a class="box-flex btn-submit" type="submit" onclick="$('#filter').submit()">确定</a>
				</div>
				</div>
				</div>
			</section>
			</form>
		</div>
		<!--搜索弹出窗 sty-->
		<div class="search-div j-search-div ts-3">
		    <section class="search">
		        <form action="{url('team/index/category')}" method="post" id="search-form">
		        <div class="text-all dis-box j-text-all text-all-back">
		            <a class="a-icon-back"  href="javascript:history.go(-1);"><i class="iconfont icon-back"></i></a>
		            <div class="box-flex input-text">
				        <label class="search-check j-search-check">
		                    <span>商品</span>
		                </label>
		                <input class="j-input-text" type="text" name="keyword" placeholder="{if $keywords}{$keywords}{else}商品搜索{/if}" />
		                <input type="hidden" name="type_select" value="2" />
		                <input type="hidden" name="isself" value="{$isself}" />
		                <input type="hidden" name="brand" value="{$brand_id}" />
		                <input type="hidden" name="price_min" value="{$price_min}" />
		                <input type="hidden" name="price_max" value="{$price_max}" />
		                <input type="hidden" name="filter_attr" value="{$filter_attr}"/>
		                <i class="iconfont icon-guanbi1 close-common j-is-null"></i>
		            </div>
		            <a type="button" class="btn-submit" type="submit" onclick="$('#search-form').submit()">搜索</a>
		        </div>
		        </form>
		    </section>
		    <section class="search-con">
		        <div class="history-search">
		           <!-- <div class="swiper-wrapper">
		                <div class="swiper-slide">-->
		                    <p>
		                        <label class="fl">热门搜索</label>
		                    </p>
		                    <ul class="hot-search a-text-more">
		                        {foreach $hot_keywords as $v}
		                        <li class="w-3"><a href="{url('team/index/category', array('keyword'=>$v))}"><span class="onelist-hidden">{$v}</span></a></li>
		                        {/foreach}
		                    </ul>
		                    <p class="hos-search">
		                        <label class="fl">最近搜索</label>
		                        <span class="fr clear_history"><i class="iconfont icon-xiao10"></i></span>
		                    </p>
		                    {if $history_keywords}
		                    <ul class="hot-search a-text-more a-text-one search-new-list" id="search-con">
		                        {foreach $history_keywords as $v}
		                        {if $v}
		                        <li><a href="{url('team/index/category', array('keyword'=>$v))}"><span class="onelist-hidden">{$v}</span></a></li>
		                        {/if}
		                        {/foreach}
		                    </ul>
		                    {else}
		                    <div class="no-div-message">
		                        <p>暂无搜索记录</p>
		                    </div>
		                    {/if}
		                <!--</div>
		            </div>-->
		        <div class="swiper-scrollbar"></div>
		        </div>
		    </section>
		    <footer class="close-search j-close-search">
		        点击关闭
		    </footer>
		    </a>
		</div>
				<!--悬浮菜单e-->
		{include file="team_nav"}
		<script type="text/javascript">
		    $(function(){
		        //清除搜索记录
		        var history = {if $history_keywords}{$history_keywords}{else}""{/if};
		        $(".clear_history").click(function(){
		            if(history && $("ul#search-con").length > 0){
		                $.get("{url('category/index/clear_history')}", '', function(data){
		                    if(data.status){
		                        $("#search-con").remove();
		                        var no = '<div class="no-div-message"><p>暂无搜索记录</p></div>';
		                        $(".hos-search").after(no);
		                    }
		                }, 'json');
		            }
		        });
		    })
		</script>
		<!--搜索弹出窗 end-->

		<script type="text/javascript">
			var Sliders = function() {
				// 筛选价格区间 js
				$("#slider-range").slider({
					range: true,
					min: {$price_range['min']},
					max: {$price_range['max']},
					step: 100,
					values: [{$price_min}, {if $price_max}{$price_max}{else}{$price_range['max']}{/if}],
					slide: function(event, ui) {
						$("#slider-range-amount").text(ui.values[0] + " ~ " + ui.values[1]);
                        $("input[name=price_min]").val(ui.values[0]);
                        $("input[name=price_max]").val(ui.values[1]);
					}
				});
				$("#slider-range-amount").text($("#slider-range").slider("values", 0) + " ~ " + $("#slider-range").slider("values", 1));
			}();

			var url = "{url('team/index/category', array('tc_id'=>$tc_id, 'display'=>$display, 'brand'=>$brand_id, 'intro'=>$intro, 'price_min'=>$price_min, 'price_max'=>$price_max, 'filter_attr'=>$filter_attr, 'sort'=>$sort, 'order'=>$order, 'keyword'=>$keywords, 'isself'=>$isself, 'hasgoods'=>$hasgoods, 'promotion'=>$promotion))}";
			$('.team-goods').infinite({url: url, template:'j-product'});

		</script>
	</body>

</html>