html{
	width:100%;
	height:100%;
    -ms-text-size-adjust:none;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-o-text-size-adjust:none;
}
body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:#47c9af;;
	color:#74777b;
	font-weight:500;
	font-size:1em;
	font-family:'Raleway', Arial, sans-serif;
}
a:link,a:visited{
	text-decoration:none;
	outline:none;
	color:#309ad8;
}
*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,.clearfix:after{
	content: '';
	display:block;
}
.clearfix:after {
	clear: both;
}

#content .global-nav {
	position: fixed;
	left: 0;
	bottom: 0;
	width:100%;
	height:60px;
}

#content .global-nav .global-nav-wrap{
	display:block;
	width:100%;
	background:#fff;
	height:60px;
}

#content .global-nav .global-nav-wrap .global-nav-item{
	display:inline-block;
	width:32%;
	text-align:center;
	padding-top:10px;
}

