{include file="admin/header"}

<div class="warpper">
	<!-- <div class="title">手机-系统配置</div> -->
	<div class="content">
        <div class="tabs_info">
            <ul>
                <li class="curr"><a href="{url('index')}">更新字段检测</a></li>
            </ul>
        </div>
        <div class="explanation" id="explanation">
            <div class="ex_tit">
                <i class="sc_icon"></i>
                <h4>操作提示</h4>
                <span id="explanationZoom" title="收起提示"></span>
            </div>
            <ul>
                <li>目的：兼容mysql严格模式，更新数据表字段的默认值。</li>
                <li>仅显示需要更新兼容性的数据表。</li>
                <li>你可以选择更新全部，或者更新单个表。防止意外，建议更新前备份一下全部数据库。</li>
            </ul>
        </div>
        <div class="wrapper-content" style="margin-top:20px;">
            <div class="flexilist">
                <div class="common-head">
                    <div class="fl">
                        <a href="{url('all')}"><div class="fbutton"><div class="csv" title="更新"><span><i class="icon icon-refresh"></i>更新全部</span></div></div></a>
                    </div>
                </div>
                <div class="common-content">
                    <div class="list-div" id="listDiv" >
                        <table cellpadding="0" cellspacing="0" border="0">
                            <thead>
                                <tr>
                                    <th width="55%"><div class="tDiv">数据表名</div></th>
                                    <th width="15%" ><div class="tDiv">状态</div></th>
                                    <th  style="text-align:center;padding: 0;"><div class="tDiv">操作</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $tables as $val}
                                <tr>
                                {if $val.status == 1}
                                    <td><div class="tDiv">{$val.table_name}</div></td>
                                    <td>
                                        <div class="tDiv"><img src="../admin/images/no.gif" width="14" height="14" alt="NO" /> 有兼容问题</div>
                                    </td>
                                    <td class="handle">
                                    <div class="tDiv" style="padding-left: 10px;">
                                        <a class="btn_edit fancybox fancybox.iframe" href="{url('one', array('table' => $val['table_name']))}"  title="更新" ><i class="icon icon-refresh"></i>更新</a>
                                    </div>
                                    </td>
                                {/if}
                                </tr>
                                {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
<script>
	$(document).on("mouseenter",".list-div tbody td",function(){
		$(this).parents("tr").addClass("tr_bg_blue");
	});

	$(document).on("mouseleave",".list-div tbody td",function(){
		$(this).parents("tr").removeClass("tr_bg_blue");
	});


    $("#explanationZoom").on("click",function(){
        var explanation = $(this).parents(".explanation");
        var width = $(".content").width();
        if($(this).hasClass("shopUp")){
            $(this).removeClass("shopUp");
            $(this).attr("title","收起提示");
            explanation.find(".ex_tit").css("margin-bottom",10);
            explanation.animate({
                width:width-0
            },300,function(){
                $(".explanation").find("ul").show();
            });
        }else{
            $(this).addClass("shopUp");
            $(this).attr("title","提示相关设置操作时应注意的要点");
            explanation.find(".ex_tit").css("margin-bottom",0);
            explanation.animate({
                width:"115"
            },300);
            explanation.find("ul").hide();
        }
    });
</script>
{include file="admin/footer"}