{include file="pageheader"}
<div class="panel panel-default" style="margin:0;">
    <div class="panel-heading">编辑图片</div>
    <div class="content of">
	    <div class="flexilist of">
		    <div class="main-info of">
				<form action="{url('media_edit')}" method="post" class="form-horizontal" role="form" onsubmit="return false;">
			      <table id="general-table" class="table table-hover ectouch-table">
			       <div class="item">
			          <div class="label-t">名称:</div>
			          <div class="label_value">
			              <input type='text' name='file_name' value="{$pic['file_name']}" class="text" />
			          </div>
			        </div>
			        <div class="item">
			          <div class="label-t">&nbsp;</div>
			          <div class="label_value info_btn">
			              	<input type="hidden" name="id" value="{$pic['id']}" />
							<input type="submit" value="{$lang['button_submit']}" class="button btn-danger bg-red" />
			              	<!-- <input type="reset" value="{$lang['button_reset']}" class="button button_reset" /> -->
			            </div>
			        </div>
			       </table>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	$(".form-horizontal").submit(function(){
		var ajax_data = $(".form-horizontal").serialize();
		$.post("{url('media_edit')}", ajax_data, function(data){
		    if(data.status > 0){
		    	window.parent.location.reload();
			}
		    else{
			    alert(data.error);
			    return false;
			}
		}, 'json');
	});
})
</script>
{include file="pagefooter"}
