{include file="pageheader"}
<style>
/*#footer {position: static;bottom:0px;}*/
</style>
<div class="wrapper">
	<div class="title">{$lang['wechat_menu']} - 营销中心</div>
    <div class="content_tips">
    	<div class="explanation" id="explanation">
        	<div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
            <ul>
            	<li>点击管理，进入创建活动页面，配置参数。</li>
            </ul>
        </div>
		<div class="flexilist">
			<div class="common-content market-index">
				<ul class="items-box seller-extend ">
                    {foreach $list as $val}
                    <a href="{$val['url']}">
                    <li class="item_wrap">
                        <div class="plugin_item">
                            <div class="plugin_icon">
                                <i class="icon iconfont icon-{$val['keywords']} bg-{$val['keywords']}"></i>
                            </div>
                            <div class="plugin_status">
                                <span class="status_txt">
                                   <div class="list-div">
                                        <div class="handle">
                                            <div class="tDiv">
							                    <p class="btn_inst"><i class="sc_icon sc_icon_inst"></i>管理</p>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                            <div class="plugin_content"><h3 class="title">{$val['name']}</h3><p class="desc">{$val['desc']}</p></div>
                        </div>
                    </li>
                    </a>
                    {/foreach}
                </ul>
			</div>
		</div>
    </div>
</div>

{include file="pagefooter"}