{include file="pageheader"}
<style>
#footer {position: static;bottom:0px;}
</style>
<div class="wrapper">
  <div class="title"><a href="{url('article')}" class="s-back">返回</a>{$lang['wechat_article']} - 图文添加/编辑</div>
  <div class="content_tips">
      <div class="flexilist">
        <div class="common-content">
        	<div class="main-info">
		        <form action="{url('article_edit')}" method="post" enctype="multipart/form-data" role="form">
			         <div class="item">
			            <div class="label-t">标题:</div>
			            <div class="label_value">
			                <input type='text' name='data[title]' value="{$article['title']}" class="text" />
			            </div>
			          </div>
			          <div class="item">
			            <div class="label-t">作者（选填）:</div>
			            <div class="label_value">
			                <input type='text' name='data[author]' value="{$article['author']}" class="text" />
			            </div>
			          </div>
			          <div class="item">
			            <div class="label-t">封面:</div>
			            <div class="label_value">
			            		<div class="type-file-box">
						            <input type="button" id="button" class="type-file-button">
						            <input type="file" class="type-file-file" name="pic" size="30" data-state="imgfile" hidefocus="true" >
						            <span class="show">
						                <a href="#inline" class="nyroModal fancybox" title="预览">
						                	<i class="fa fa-picture-o" ></i>
						                </a>
						            </span>
						            <input type="text" name="file_path" class="type-file-text" value="{$article['file']}" id="textfield" readonly="" style="display:none">
						        </div>
         				        <div class="notic">大图片建议尺寸：900像素 * 500像素</div>
			            </div>
			          </div>
			          <div class="item">
			            <div class="label-t">是否显示封面图片:</div>
			            <div class="label_value">
			            	  <div class="checkbox_items">
		                      <div class="checkbox_item">
					                    <input type="radio" name="data[is_show]" class="ui-radio evnet_show" id="value_119_0" value="1" checked="true" {if $article['is_show'] == 1}checked{/if}>
					                    <label for="value_119_0" class="ui-radio-label {if $article['is_show'] == 1}active{/if}">{$lang['yes']}</label>
					                </div>
					                <div class="checkbox_item">
					                    <input type="radio" name="data[is_show]" class="ui-radio evnet_show" id="value_119_1" value="0" {if $article['is_show'] == 0}checked{/if}>
					                    <label for="value_119_1" class="ui-radio-label {if $article['is_show'] == 0}active{/if}">{$lang['no']}</label>
					                </div>
                     </div>
			            </div>
			          </div>
			          <div class="item">
			            <div class="label-t">摘要:</div>
			            <div class="label_value">
			                <textarea class="textarea" name="data[digest]">{$article['digest']}</textarea>
			            </div>
			          </div>
			          <div class="item">
			            <div class="label-t">正文:</div>
			            <div class="label_value" style="line-height:0px;">{create_editor('content', $article['content'])}</div>
			          <div class="item" style="padding-top:10px;">
			            <div class="label-t">原文链接:</div>
			            <div class="label_value">
			                <input type='text' name='data[link]' value="{$article['link']}" class="text" />
			                <div class="notic">链接前请带上http或者https</div>
			            </div>
			          </div>
			          <div class="item">
			            <div class="label-t">排序:</div>
			            <div class="label_value">
			                <input type='text' name='data[sort]' value="{$article['sort']}" class="text" />
			            </div>
			          </div>
			          <div class="item">
			            <div class="label-t">&nbsp;</div>
			            <div class="label_value info_btn">
			                <input type="hidden" name="id" value="{$article['id']}" />
			  				      <input type="submit" value="{$lang['button_submit']}" class="button btn-danger bg-red" />
			                <input type="reset" value="{$lang['button_reset']}" class="button button_reset" />
			            </div>
			          </div>
		      </form>
	        </div>
        </div>
      </div>
   </div>
</div>
<div class="panel panel-default" style="display: none;" id="inline">
  <div class="panel-body">
     <img src="{$article['file']}" class="img-responsive" />
  </div>
</div>
<script>
	//file移动上去的js
	$(".type-file-box").hover(function(){
		$(this).addClass("hover");
	},function(){
		$(this).removeClass("hover");
	});
</script>
{include file="pagefooter"}
