{include file="pageheader"}
<div class="fancy">
    <div class="title">{$lang['group_edit']}</div>
    <div class="flexilist of">
    		<div class="main-info">
				<form action="{url('groups_edit')}" method="post" class="form-horizontal" role="form" onsubmit="return false;">
			        <div class="switch_info">
				        <div class="item">
				            <div class="label-t">{$lang['group_name']}:</div>
				            <div class="label_value">
				                <input type='text' name='name' maxlength="20" value="{$group['name']}" class="text" />
				            </div>
				        </div>
				        <div class="item">
				            <div class="label-t">&nbsp;</div>
				            <div class="label_value info_btn">
				              	<input type="hidden" name="id" value="{$group['id']}" />
				              	<input type="hidden" name="group_id" value="{$group['group_id']}" />
								<input type="submit" value="{$lang['button_submit']}" class="button btn-danger bg-red" />
				              	<input type="reset" value="{$lang['button_reset']}" class="button button_reset" />
				            </div>
				        </div>
			        </div>
				</form>
			</div>
    </div>
</div>
<script type="text/javascript">
$(function(){
	$(".form-horizontal").submit(function(){
		var ajax_data = $(".form-horizontal").serialize();
		$.post("{url('groups_edit')}", ajax_data, function(data){
		    if(data.status > 0){
		    	window.parent.location.reload();
			}
		    else{
			    alert(data.msg);
			    return false;
			}
		}, 'json');
	});
})
</script>
{include file="pagefooter"}