{include file="pageheader"}

<div class="wrapper">
  <div class="title">{$lang['wechat_menu']} - {$lang['custom_message_list']}</div>
  <div class="content_tips" >

<!--   <div class="tabs_info">
      <ul>
          <li class="curr"><a href="#">{$lang['custom_message_list']}  -  {$nickname}</a></li>
      </ul>
  </div> -->

      <div class="main-info">
            <div class="switch_info">
              <div class="row" style="margin:0">
                  <div class="col-md-12 col-sm-12 col-lg-12" style="padding:0;">

                      <div class="panel-heading">{$lang['custom_message_list']}  -  {$nickname}</div>
                      <div class="list-div">
                          <table class="table table-hover table-bordered table-striped">
                            <tr>
                    		      <th class="text-center">{$lang['interactive_user']}</td>
                              <th class="text-center">{$lang['message_content']}</td>
                              <th class="text-center"  width="20%">{$lang['message_time']}</td>
                            </tr>
                            {foreach $list as $key=>$val}
                            <tr>
                        		{if $val['wechat_id']}
                        		  <td class="text-center">{$lang['official']}</td>
                        		{else}
                        		  <td class="text-center">{$nickname}</td>
                        		{/if}
                              <td class="text-center">{$val['msg']}</td>
                              <td class="text-center">{$val['send_time']}</td>
                            </tr>
                            {/foreach}
                          </table>
                      </div>

                      {include file="pageview"}

                </div>
              </div>
        </div>
  </div>
  </div>

</div>
{include file="pagefooter"}
