<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{$lang['cp_home']} - {$postion['ur_here']}</title>
<link href="__PUBLIC__/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/vendor/fancybox/jquery.fancybox.css?v=2.1.5" rel="stylesheet" type="text/css" media="screen" />
<link href="__PUBLIC__/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

<!-- PC -->
<!-- <link rel="stylesheet" type="text/css" href="__STATIC__/seller/css/font-awesome.min.css" /> -->
<link rel="stylesheet" type="text/css" href="__STATIC__/seller/css/style.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/seller/css/general.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/seller/css/purebox.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/seller/css/perfect-scrollbar.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/js/calendar/calendar.min.css">
<script src="__STATIC__/js/calendar/calendar.min.js"></script>
<!-- PC -->

<link href="__PUBLIC__/css/console_wechat_seller.css" rel="stylesheet">
<script src="__PUBLIC__/vendor/common/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/vendor/fancybox/jquery.fancybox.js?v=2.1.5" type="text/javascript"></script>
<script src="__PUBLIC__/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/vendor/layer/layer.js"></script>

</head>
<body>