<div class="ecsc-head-layout ">
    <!-- 顶部 -->
    <div class="wrapper">
        <div class="admin-logo">
            <a href="../seller/">
                <div class="t">
                    <img src="../seller/images/logo.png" class="logo"/>
                    <h1>商家中心</h1>
                </div>
                <div class="en"><img src="../seller/images/en.png" /></div>
            </a>
        </div>
        <div class="ecsc-nav">
            <ul class="ecsc-nav-ul">
                <li   {if !$menu_select.action} class="current"{/if} ><a href="../seller/">首页</a><div class="arrow"></div></li>
                {foreach $seller_menu as $menu}
                {if $menu.url}
                            <li {if $menu.action eq $menu_select.action}class="current"{/if}><a href="{$menu.url}">{$menu.label}</a><div class="arrow"></div></li>
                        {/if}
                {/foreach}
            </ul>
        </div>
        <div class="ecsc-admin">
            <div class="avatar">
                <form action="../seller/index.php" method="post" enctype="multipart/form-data" runat="server">
                    <input type="hidden" name="act" value="upload_store_img">
                    <input type="file" name="img">
                </form>
                <a href="javascript:void(0);"><img src="{if $admin_info.admin_user_img}../seller/{$admin_info.admin_user_img}{else}../seller/images/tx.png{/if}"></a>
            </div>
            <dl>
                <dt>
                    <span>{$seller_name}</span>
                    {if $privilege_seller eq 1}<a href="../seller/privilege.php?act=modif" class="modif"><i class="icon icon-edit"></i></a>{/if}
                </dt>
                <dd>
                    <span><i class="sc_icon sc_icon_seller"></i><a class="" href="../merchants_store.php?merchant_id={$ru_id}" target="_blank">店铺</a></span>
                    <span><i class="sc_icon sc_icon_set"></i><a class="" href="../seller/index.php?act=clear_cache">清缓存</a></span>
                    <span><i class="sc_icon sc_icon_out"></i><a class="" href="../seller/privilege.php?act=logout">退出</a></span>
                </dd>
            </dl>
        </div>
    </div>
</div>
