
    <div id="turn-page">
        <div class="pagination">
            <ul>
                <li class="first-li"><span><a href="{if $page['page_first']}{$page['page_first']}{else}javascript:;{/if}" class="first" title="首页">首页</a></span></li>
                <li><span><a href="{if $page['page_prev']}{$page['page_prev']}{else}javascript:;{/if}" class="prev" title="上一页">上一页</a></span></li>
                <li class="select-page">
                    <span id="page-link">
                        <select id="gotoPage" onchange="location.href=this.value" >
                            {if $page['page_number']}
                            {foreach $page['page_number'] as $key=>$vo}
                            <option {if $page['page'] == $key} selected {/if} value="{$vo}">{$key}</option>
                            {/foreach}
                            {else}
                            <option selected value="1">1</option>
                            {/if}
                        </select>
                    </span>
                </li>
                <li><span><a href="{if $page['page_next']}{$page['page_next']}{else}javascript:;{/if}" class="next" title="下一页">下一页</a></span></li>
                <li class="last-li"><span><a href="{if $page['page_last']}{$page['page_last']}{else}javascript:;{/if}" class="last" title="末页">末页</a></span></li>
                <li class="totalRecords"><span>共 <em id="totalRecords">{if $page['count']}{$page['count']}{else}0{/if}</em> 条记录</span></li>
            </ul>
        </div>
    </div>
