{include file="page_header"}
		<div class="con">
                        <div id="j-tab-con" class="article_info">
                <script id="j-product" type="text/html">
         <%if log_list%>
         <%each log_list as item%>
			<section class="padding-all b-color-f position-rel m-top1px">
                            <a href="<%item.url%>" class="product-div-link"></a>
				<div class="dis-box b-color-f card-div">
					<div>
						<p><%item.type%></p>
						<span><%item.add_time%></span>
					</div>
					<div class="box-flex input-text text-right" style="padding-right:1.6rem">
						<p><%item.amount%></p>
						<span class="color-red"><%item.pay_status%></span>
					</div>
					<span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span>
				</div>
				</section>
			<%/each%>
            <%else%>
            <div class="no-div-message">
                <i class="iconfont icon-biaoqingleiben"></i>
                <p>亲，此处没有内容～！</p>
            </div>
            <%/if%>
            
             </script>
                </div>
		</div>
    <!--快捷导航-->
    {include file="float_nav"} 
                <li>
                    <a href="{url('user/account/index')}">
                         <i class="iconfont icon-money"></i>
                         <p>资金管理</p>
                    </a> 
                </li>                
    {include file="float_nav_footer"} 
<script>
     $('.article_info').infinite({url: "{url('user/account/log')}", template:'j-product'});
</script>
	</body>

</html>