.jShopHeader{height:30px; width:100%; background:#fafafa; position:relative; z-index:5; zoom:1; font-size:12px;}
.jShopHeader .j-shopHeader{float:left;}
.jShopHeader .jFixWidth{width:990px; margin:0 auto; }
.jShopHeader .jIm b, .jShopHeader a, .jShopHeader span, .jShopHeader em, .jShopHeader img{display:inline-block; *dispaly:inline; zoom:1; vertical-align:middle;}
.jShopHeaderArea{height:30px; float:right; white-space:nowrap; position:relative;}
.jShopHeader.fixed{margin:0; position:fixed; top:0; z-index:5; width:990px;}

.jShopHeader .jLogo{float:left; height:30px; line-height:30px; padding:0 10px;}
.jShopHeader .jLogo a{color:#333333; font-size:12px; text-decoration:none;}
.jShopHeader .jLogo a:hover{color:#333333;}

.jShopHeader .jRating{float:left; height:30px;}
.jShopHeader .jRating em{height:16px; line-height:16px; color:#333333;  padding-right:15px; border-right:solid 1px #e8e8e8; font-style:normal;}
.jShopHeader .jIconRating{position:relative; padding-top:6px; width:76px; height:24px;}

.jShopHeader .jGray, .jShopHeader .jRed, .jShopHeader .jIconHigh, .jShopHeader .jIconAverage, .jShopHeader .jIconLow{height:16px; background:url(../images/shng.png);}

.jShopHeader .jGray, .jShopHeader .jRed{width:70px; height:18px; background:url(../images/jiantou.png) 0 -18px no-repeat; display:inline-block; *zoom:1; _background:url(jiantou.png) 0 -18px no-repeat;}
.jShopHeader .jRed{height:18px; background-position:right 0; position:absolute; left:0; top:6px;}

.jShopHeader .jIconRating em{white-space:nowrap;}
.jShopHeader .jIconHigh{background-position:-10px -268px; padding-left:20px;color:#ff6600;}
.jShopHeader .jIconAverage{background-position:-10px -294px; padding-left:20px;color:#ff6600;}
.jShopHeader .jIconLow{background-position:-10px -320px; padding-left:20px;color:#009900;}

.jShopHeader .jRating .jRatingTotal{padding-left:15px; width:240px; background-color:#000; color:#999; /*border:solid 1px #ddd;*/ background:#fff; display:none; position:absolute; left:10px; top:30px; z-index:1000;}
.jShopHeader .jRatingTotal.show{display:block;}
.jShopHeader th, .jShopHeader td{padding:5px;}
.jShopHeader .jNum{color:#000;}

.jShopHeader .jRatingTotal #jRatingTotal_table{cursor:pointer;}
.jShopHeader .jRating:hover .jRatingTotal{display:block;}
.jShopHeader .jRating .jRatingTotal table{}
.jShopHeader .jRating .jRatingTotal th{color:#666; text-align:left;}
.jShopHeader .jRating .jRatingTotal .shopTolal{border-top:dashed 1px #F5AFB1; margin:5px 15px 0 0;}
.jShopHeader .jRating .jRatingTotal .shopTolal.noBorder{border-top:0; margin-top:0;}
.jShopHeader .jRating .jRatingTotal .shopTolal li{clear:both;}
.jShopHeader .jRating .jRatingTotal .shopTolal li span{float:left;padding:5px 0 5px 5px;color:#333333;}
.jShopHeader .jRating .jRatingTotal .shopTolal li a{float:left;padding:5px;color:#f84c4c;}
.jShopHeader .jRating .jRatingTotal .shopTolal li .icon{background:url(../images/icoe.gif);width:15px;height:12px;margin-left:5px;}

.jShopHeader .jIm{height: auto; line-height: auto; margin: auto; overflow: hidden; padding-left: 0; text-align: center; width: auto;}
.jShopHeader .jIm, .jShopHeader .jCollect, .jShopHeader .jAttention{float:left;}
.jShopHeader .jCollect{}
.jShopHeader .jIm b, .jShopHeader .jAttention a{height:30px; line-height:30px; cursor:pointer; color:#f84c4c; /*text-shadow:1px 1px 0 rgba(234, 117, 120, 1);*/ background:#fafafa;}

.jShopHeader .jIm b{padding:0 0 0 10px;}
.jShopHeader .jIm a{padding-left:20px; color:#f84c4c; background:url(../images/lindang.png) 1px no-repeat; text-decoration:none;} 
.jShopHeader .jAttention a{padding:0 10px 0 15px;}
.jShopHeader .jAttention span{padding-left:15px; background:url(../images/jiahao.gif) 1px no-repeat;}

.jShopHeader .jIm b:hover, .jShopHeader .jCollect a:hover, .jShopHeader .jAttention a:hover{color:#f84c4c;}
.jShopHeader .jIm a:hover{color:#f84c4c; text-decoration:none;}


