{include file="page_header"}

	<body>
		<div class="con mb-7">
			<!--头部导航-->
			<header class="dis-box padding-all open-header-bg">
				<div class="box-flex">
					<div class="header-left-box p-r">
						<div class="header-x p-a o-hs-x active"></div>
						<div class="header-y p-a o-hs-bg active"><span class="text-c color-whie f-03">1</span></div>
					</div>
					<label class="o-hs active">入驻商家信息</label>
				</div>
				<div class="box-flex">
					<div class="header-left-box p-r">
						<div class="header-x p-a o-hs-x active"></div>
						<div class="header-y p-a o-hs-bg active"><span class="text-c color-whie f-03">2</span></div>
					</div>
					<label class="o-hs active">入驻商铺信息</label>
				</div>
				<div class="box-flex">
					<div class="header-left-box p-r">
						<div class="header-x p-a o-hs-x"></div>
						<div class="header-y p-a o-hs-bg"><span class="text-c color-whie f-03">3</span></div>
					</div>
					<label class="o-hs">审核/完成</label>
				</div>
			</header>
			<form action="{url('merchants/index/shop')}" method="post" id="formSub" onsubmit="return checks()">
			<div class=" user-open open-box of-hidden b-color-f">
				<section class="drp-settled-one">
					<div class="text-all dis-box j-text-all">
						<label>店铺名称:</label>
						<div class="box-flex input-text">
							<input class="j-input-text" name="rz_shopName"  placeholder="店铺名称" />
							<i class="iconfont icon-guanbi1 close-common j-is-null"></i>
						</div>
					</div>
					<div class="text-all dis-box j-text-all">
						<label>期望登陆名:</label>
						<div class="box-flex input-text">
							<input class="j-input-text" name="hopeLoginName"  placeholder="期望登陆名" />
							<i class="iconfont icon-guanbi1 close-common j-is-null"></i>
						</div>
					</div>
					<div class="text-all dis-box j-text-all">
						<label>店铺类型:</label>
						<div class="box-flex input-text">
							<div class="drp-settled-select">
								<select name="shoprz_type">
									<option value="0">--请选择--</option>
									<option value="1">旗舰店</option>
									<option value="2">专卖店</option>
									<option value="3">专营店</option>
								</select>
								<i class="iconfont icon-jiantou tf-180"></i>
							</div>
						</div>
					</div>
					<div class="text-all dis-box j-text-all">
						<label>经营类目:</label>
						<div class="box-flex input-text">
							<div class="drp-settled-select">
								<select name="shop_categoryMain">
									<option value="0">--请选择--</option>
									{foreach $category as $cat}
									<option value="{$cat.cat_id}">{$cat.cat_name}</option>
									{/foreach}
								</select>
								<i class="iconfont icon-jiantou tf-180"></i>
							</div>
						</div>
					</div>
				</section>
			</div>
			<footer class="dis-box  padding-all">
				<button class="btn-submit box-flex">提交</button>
			</footer>
			</form>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				$(".open-two-box i").click(function() {
					$(".open-two-box").hide();
				});
			});

			function checks(){
				var rz_shopName = $("input[name=rz_shopName]").val();
				var hopeLoginName = $("input[name=hopeLoginName]").val();
	            if( rz_shopName==''){
			        d_messages('店铺名不能为空',2);
				    $("div[name=shop_namediv]").addClass("active");
					return false;
	            }

	            if( hopeLoginName==''){
			        d_messages('期望登陆名不能为空',2);
				    $("div[name=shop_namediv]").addClass("active");
					return false;
	            }
	　　　　}
		</script>
	</body>

</html>
