.header_warpper{ width: 1000px; }
.content{ width: 1000px; }

.order-tb-tab{ height: 36px; border-bottom: 2px solid #E8E8E8; position: relative; top: -10px;}
.order-tb-tab a{  font-weight: 700; color: #333; padding: 0 15px; position: relative; line-height: 36px; height: 36px; float: left;}
.order-tb-tab a:after{ content: ""; width: 0; height: 14px; border-right: 1px solid #ececec; position: absolute; top: 50%; margin-top: -7px; right: 0; }
.order-tb-tab a.current{ border-bottom: 2px solid #ff6000; color: #ff6000; }
.order-tb-tab a:last-child:after{ display: none; }
.order-tb-table thead th  { font-weight: normal; background: #F9F9F9;}

.order-tb-table tbody tr td.bdl{vertical-align: top;}
.order-tb-table tbody tr td.bdl .product_info{ height:100px;}
.order-tb-table .order-sku{ padding-left: 10px; }
.order-tb-table .ecsc-order-amount{ color: #3c3c3c; }
.order-tb-table .ecsc-goods-thumb{ width: 50px; height: 50px; }
.order-tb-table .ecsc-goods-thumb a img{ width: 50px; height: 50px; }
.order-tb-table .product_info .goods-info .goods-name a{ color: #333; }
.order-tb-table .product_info .goods-info .goods-name a:hover{ color: #ff6000; }
.order-tb-table .checkbox-info{ float: left; }
.order-tb-table tbody td{ color: #333; }
.order-tb-table tbody tr th , 
.list-div .tr_bg_blue td{ background: #fff; }
.list-div .order-hd.tr_bg_blue td{ background: #EAF8FF; }
.list-div .table tbody .order-hd,
.list-div .table tbody .order-hd.tr_bg_blue{ background: #EAF8FF; }
.order-tb-table td .goods-info{ color: #9e9e9e; }
.order-tb-table .goods-icons{ clear: both; }
.order-tb-table .goods-icons .order_icon{ display: inline-block; }
.order-tb-table .price-tag span{ display: inline-block; box-sizing: border-box; height: 16px; line-height: 14px; font-family: '宋体', sans-serif; font-size: 12px; border: 1px solid #5CB8E7; color: #fff; padding: 0 2px; background: #98D3F0; text-shadow: 0 1px 1px #429ac5; border-radius: 2px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ade0f6+0,5aa3cf+100 */
background: rgb(173,224,246); /* Old browsers */
background: -moz-linear-gradient(top, rgba(173,224,246,1) 0%, rgba(90,163,207,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(173,224,246,1) 0%,rgba(90,163,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(173,224,246,1) 0%,rgba(90,163,207,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ade0f6', endColorstr='#5aa3cf',GradientType=0 ); /* IE6-9 */}
.table td{ border-left: 1px solid #E6E6E6; }
.sep-row td{ border-left: 0 none; }
.order-tb-table tfoot .check-info{ float: left; margin-left: 11px; margin-right: 20px; }
.common-head {margin-bottom: 20px;}
.list-div .table tbody .order-hd span{color:#666;}
.list-div  .table th{background:#f9f9f9; color:#666;}

.handle a{ border-color: #139ff0; color: #139ff0; }
.handle a:hover{ background-color: #139ff0; }

.order_product .name{ width: 240px; }