/*后台打印订单页面 start*/
.print-main{ position:relative;}
.print-main .print-warp{ position:relative; width:800px; min-height:500px; margin:20px auto; box-shadow: 2px 2px 2px rgba(204,204,204,0.5); padding: 5mm 50mm 5mm 5mm; font-size:12px; background:#FAFAFA; border:1px solid #CCC;overflow: hidden;}

.print-content{ background:#FFF; float:left; padding:0; width:210mm; color:#000000; position:relative; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.print-content .print-panel{ min-height: 320px;overflow: hidden;border-bottom: 1px dashed #ddd;width:auto;display: block; position:relative; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

.print-warp .print-content{ border: dashed 1px #ccc;}

.print-panel .top{ width:100%;}
.print-panel .top:after{content:""; width:100%; height:0; display:block; overflow:hidden; float:none; clear:both;}
.print-panel .top .logo{ float:left; width:160px; height:60px; margin-right:60px;}
.print-panel .top .title{ line-height:60px; height:60px; text-align: center; width:250px; display: block; margin: auto; float:left;}
.print-panel .top .title h3{ font-size:24px;}
.print-panel .top .seal{ position:absolute; width:60px; height:60px; right:5px; top:20px;}


.print-panel .buyer-info{ margin:15px 0; display:block;}
.print-panel .buyer-info .row{ width:100%; overflow:hidden;}
.print-panel .buyer-info .row .lie{ float:left; line-height:22px;}
.print-panel .buyer-info .row .lie_colspan{ width:100%;}

.print-panel .buyer-goods-info{ position:relative; margin-bottom:15px;}

.print-panel .buyer-goods-info .table{ background: #FFF none repeat scroll 0% 0%; font-size: 12px; border: 1px solid #333; overflow:visible; width:100%;}
.print-panel .buyer-goods-info .table th,.print-panel .buyer-goods-info .table td{ border:1px solid #333; padding:5px; text-align:center; color:#333; height: auto;line-height: normal; font-weight:normal;}
.print-panel .buyer-goods-info .table td.p-name{ text-align:left;}
.print-panel .buyer-goods-info .table tfoot td{ padding:5px 10px;}

.print-panel .address-info{ overflow:hidden;}
.print-panel .address-info p{ margin-bottom:5px; text-align:right; overflow:hidden;}
.print-panel .address-info .print_textarea{ resize:none; width:100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; border-radius: 2px; padding: 6px;transition: none 0s ease 0s;font-size: 12px;box-shadow: none;display: inline-block;vertical-align: middle; border:solid 1px #dedede; color:#777; float:right; margin-top:10px;}
.print-panel .address-info .print_textarea:hover,.print-panel .address-info .print_textarea:active{ background-color: #fff; border: 1px solid;border-color: #1B9AF7;-moz-box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15);-webkit-box-shadow: 0 0 0 0 2px rgba(82, 168, 236, 0.15);box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15);outline: 0 none;}

.print-handle{ position:absolute; right:30px; top:20px; width:140px;}
.print-handle .print-btn{ background:#FFF; border:solid 1px #ccc; line-height:32px; padding: 5px 10px;border-radius:5px; box-shadow: 2px 2px 0 rgba(153,153,153,0.2);cursor: pointer;width: 93px; margin-bottom:20px;}
.print-handle .print-btn a{ width: 100%;height: 100%;display: block;font-size: 20px;color: #555;font-weight: 600;letter-spacing: 0px;}
.print-handle .print-btn .iconfont{ font-size:32px; vertical-align:middle; margin-right:15px;}
.print-handle .print-btn:hover{ background:#555; box-shadow: none; border: 1px solid #555;}
.print-handle .print-btn:hover a{ color:#fff;}

.print-handle .print-spec{ width:140px;}
.print-handle .print-spec:after{content:""; width:100%; height:0; display:block; overflow:hidden; float:none; clear:both;}
.print-handle .print-spec label{ display:block; margin-bottom:5px;}
.print-handle .print-spec p{ display:block; float:left; color:#999; margin-top:10px;}
.print-handle .print-spec .sc-btn{ margin-top:5px;}
.print-handle .tip{ margin-top:20px; float:left; width:140px;}
.print-handle .tip .title{ text-align:center}
.print-handle .tip .title h1{ font-size:72px; line-height:72px; font-weight:500; color:#333;}
.print-handle .tip .title em{ font-family: Arial;font-size: 11px;line-height: 20px;background: #333;color: #FFF;padding: 0 5px;height: 20px;border-radius: 10px;-webkit-text-size-adjust: none;font-style: normal;font-weight: 100;}
.print-handle .tip .desc{ line-height: 24px;text-align: left;}

.print-remark{ float:left; text-align:left; color:#333;}

/*打印规格*/
.print-warp.a4 .print-panel{padding:5mm 8mm 3mm 8mm; margin-bottom:40px;}

.print-warp.a4 .print-content .print-panel .top .seal,
.print-warp.mm190mm93 .print-content .print-panel .top .seal,
.print-warp.mm190mm140 .print-content .print-panel .top .seal,
.print-warp.mm190mm280 .print-content .print-panel .top .seal,
.print-warp.mm241mm93 .print-content .print-panel .top .seal,
.print-warp.mm241mm140 .print-content .print-panel .top .seal,
.print-warp.mm241mm280 .print-content .print-panel .top .seal,
.print-warp.mm210mm145 .print-content .print-panel .top .seal{ width:120px; height:120px; right:30px; top:12px;}

.print-warp.mm241mm93{ width: 241mm;}
.print-warp.mm241mm93 .print-content{ width:241mm;}

.print-warp.mm241mm140{ width: 241mm;}
.print-warp.mm241mm140 .print-content{ width:241mm;}

.print-warp.mm241mm280{ width: 241mm;}
.print-warp.mm241mm280 .print-content{ width:241mm;}

.print-warp.mm241mm93 .print-content .print-panel,
.print-warp.mm241mm140 .print-content .print-panel,
.print-warp.mm241mm280 .print-content .print-panel{ padding:5mm 8mm 3mm 8mm;}

.print-warp.mm241mm93 .print-panel .top .logo,
.print-warp.mm241mm140 .print-panel .top .logo,
.print-warp.mm241mm280 .print-panel .top .logo{ margin-right:160px;}

.print-warp.mm210mm145{ width: 210mm;}
.print-warp.mm210mm145 .print-content{ width:210mm; height:145mm; padding:2mm}


.print-warp.mm190mm93{ width: 190mm;}
.print-warp.mm190mm93 .print-content{ width:190mm;}

.print-warp.mm190mm140{ width: 190mm;}
.print-warp.mm190mm140 .print-content{ width:190mm;}

.print-warp.mm190mm280{ width: 190mm;}
.print-warp.mm190mm280 .print-content{ width:190mm;}

.print-warp.mm190mm93 .print-content .print-panel,
.print-warp.mm190mm140 .print-content .print-panel,
.print-warp.mm190mm280 .print-content .print-panel{ padding:3mm 5mm 3mm 5mm;}

.print-warp.mm120mm93{ width: 120mm;}
.print-warp.mm120mm93 .print-content{ width:120mm;}

.print-warp.mm120mm140{ width: 120mm;}
.print-warp.mm120mm140 .print-content{ width:120mm;}

.print-warp.mm120mm280{ width: 120mm;}
.print-warp.mm120mm280 .print-content{ width:120mm;}

.print-warp.mm120mm93 .print-panel .top .logo,
.print-warp.mm120mm140 .print-panel .top .logo,
.print-warp.mm120mm280 .print-panel .top .logo{ margin-right:0; width:200px;}

.print-warp.mm120mm93 .print-panel .top .title,
.print-warp.mm120mm140 .print-panel .top .title,
.print-warp.mm120mm280 .print-panel .top .title{ width:253px;}

.print-warp.mm100{ width: 100mm;}
.print-warp.mm100 .print-content{ width:100mm;}
.print-warp.mm100 .print-panel .top .title{ width:160px;}
.print-warp.mm100 .print-panel .address-info p{ text-align:left;}

.print-warp.mm80{ width: 80mm;}
.print-warp.mm80 .print-content{ width:80mm;}

.print-warp.mm70{ width: 70mm;}
.print-warp.mm70 .print-content{ width:70mm;}

.print-warp.mm60{ width: 60mm;}
.print-warp.mm60 .print-content{ width:60mm;}

.print-warp.mm50{ width: 50mm; font-size:10px;}
.print-warp.mm50 .print-content{ width:50mm;}

.print-warp.mm80 .print-panel .top .title,
.print-warp.mm70 .print-panel .top .title,
.print-warp.mm60 .print-panel .top .title,
.print-warp.mm50 .print-panel .top .title{ width:100%; text-align:center; height:40px; line-height:40px;}

.print-warp.mm80 .print-panel .top .title h3,
.print-warp.mm70 .print-panel .top .title h3,
.print-warp.mm60 .print-panel .top .title h3,
.print-warp.mm50 .print-panel .top .title h3{ font-size:20px; color:#666;}

.print-warp.mm80 .print-panel .buyer-info .row .lie,
.print-warp.mm70 .print-panel .buyer-info .row .lie,
.print-warp.mm60 .print-panel .buyer-info .row .lie,
.print-warp.mm50 .print-panel .buyer-info .row .lie{ width:100%;}
/*后台打印订单页面 end*/
