<!doctype html>
<html>
<head>{include file ='library/admin_html_head.lbi'}</head>

<body>
<div class="list-div">
  <div class="fh_message">
  <div class="fr_content">
    <div class="success_img">
      {if $msg_type eq 0}
      <img src="images/success.jpg">
      {elseif $msg_type eq 1}
      <img src="images/error.jpg">
      {else}
      <img src="images/tooltip.jpg">
      {/if}
    </div>
    <div class="success_right">
  	<h3 class="title">{$msg_detail}</h3>
    <span class="ts" id="redirectionMsg">{if $auto_redirect}{$lang.auto_redirection}{/if}</span>
    <ul class="msg-link">
    {foreach from=$links item=link}
    <li><a href="{$link.href}" {if $link.target}target="{$link.target}"{/if}>{$link.text}</a></li>
    {/foreach}
    </ul>
    </div>
  </div>
  </div>
</div>
{if $auto_redirect}
{literal}
<script type="text/javascript">
var seconds = 3;
var defaultUrl = "{$default_url}";
onload = function()
{
  if (defaultUrl == 'javascript:history.go(-1)' && window.history.length == 0)
  {
    document.getElementById('redirectionMsg').innerHTML = '';
    return;
  }

  window.setInterval(redirection, 1000);
}
function redirection()
{
  if (seconds <= 0)
  {
    window.clearInterval();
    return;
  }

  seconds --;
  document.getElementById('spanSeconds').innerHTML = seconds;

  if (seconds == 0)
  {
    //window.clearInterval(); //ie11不支持此写法
    location.href = defaultUrl;
  }
}
</script>
{/literal}
{/if}
</body>
</html>