/*
$Id: general.css 13504 2007-11-08 09:51:13Z weberliu $
*/
body {margin: 0px;padding: 0px;color: #192E32;font: 12px "微软雅黑","Microsoft Yahei","sans-serif", "Arial", "Verdana";}
p, td, div { font-size:12px;}
th {font: 12px "sans-serif", "Arial", "Verdana";font-weight: bold;}
form {margin: 0px;padding: 0px;}
input, textarea, select { font: 12px "微软雅黑";}
input[type='text']{ padding: 0px 4px; height: 28px; line-height: 28px; width: 200px; width: auto; border: solid 1px #ddd;}
select{ margin:5px; border: solid 1px #ddd; padding: 4px; line-height: 20px; box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition: all 0.2s linear 0s; -moz-transition: all 0.2s linear 0s; -o-transition: all 0.2s linear 0s; transition: all 0.2s linear 0s;}
textarea{ border: solid 1px #ddd; padding: 4px; margin:5px;}
a{ color:#666; text-decoration:none;}
a.blue,.blue{ color:#1b9ad5;}
a:hover {color: #EB8A3D;}
i,em{ font-style:normal;}
.clear {clear: both;float: none;font-size: 0px;margin: 0;padding: 0;display:block;}
.nowrap {white-space:nowrap;}
.muneFG {height: 13px;width: 0px;border-right: 1px solid #15aae3;border-left: 1px solid #08679f;display: inline-block;position:relative;top:15px;float:left;}
.num { min-width: 22px; *min-width: 32px; padding:0 5px;height: 16px; background:#ec5051; border-radius:8px; *background: url(../images/menu/index-11_22.png) no-repeat scroll;display: inline-block;line-height: 15px;vertical-align: middle;text-align: center;}
.fl{ float:left;}
.fr{ float:right;}
.org{color:#F60;}
.org2{ color:#F90;}
.red{color:#F00;}
.red2{color: #CC0000;}
.blue2{ color:#0071E1}
.blue3{ color:#0e92d0;}
.green{ color:#2FBC5E;}
.navy{ color:#009B9B;}
.navy2{ color:#007B7B;}
.yellow{ color:#C60;}

#header-div {background: #1b9ad5;border-bottom: 1px solid #118ec9;height: 83px;}
#logo-div {margin-left: 8px;margin-top: 21px;width: 262px;height: 45px;float: left;}
#license-div {height: 50px;float: left;text-align: center;vertical-align: middle;line-height: 50px;}
#license-div a:visited,
#license-div a:link { color: #EB8A3D; }
#license-div a:hover {text-decoration: none;color: #EB8A3D;}
#loading-div {clear: right;text-align: right;display: block;}
#submenu-div {text-align: center;width: 1000px;position: absolute;right: 0px;height: 84px;}
#submenu-div ul {margin: 0;padding: 0;list-style-type: none;}
#submenu-div li {float: right;width: 82px;height: 82px;border-left: 1px solid #27aae7;border-right: 1px solid #0779ba;}
#submenu-div li a {text-align: center;height: 74px;width: 82px;padding-top: 8px;display: block;text-decoration: none;color: #FFF;}
#submenu-div li a:hover { background: url(../images/muneBG.JPG) repeat-x top center; }
#submenu-div li span {margin-top: 6px;display: block;}
#submenu-div li img {margin: auto;display: block;}
#menu-div {background: #0e92d0;height: 42px;}
#menu-div ul {margin: 0px 0px 0px 15px;padding: 0;list-style-type: none;}
#menu-div ul li {float: left;display: block;height: 42px;line-height: 42px;position: relative;}
#menu-div ul li.last .muneFG{ display:none;}
#menu-div ul li a {float: LEFT;color: #FFF;padding: 0px 12px;display: block;text-decoration: none;_margin-top: 14px;}
#menu-div ul li a:hover { background: #1887bb }
#menu-div ul li a span { margin-left: 10px; }
#menu-div ul li a img { border: none;}
#menu-div ul li ul { display: none; }
#menu-div ul li:hover a {color: #fff;background: #1887bb;}
#menu-div ul li:hover ul {display: block;position: absolute;top: 42px;left: -15px;}
#menu-div ul li:hover ul li {border-bottom: 1px solid #11689c;border-top: #1f9dd1 1px solid;}
#menu-div ul li:hover ul li a {width: 133px;display: block;}
#menu-div ul li:hover ul li a:hover {width: 133px;display: block;background: #1480b3;}
#menu-div ul li:hover ul li a.hide {background: #6a3;color: #fff;}
#menu-div ul li:hover ul li:hover a.hide {background: #6fc;color: #fff;}
#menu-div li.fix-spacer { border: none; }

/*搜索*/
.menuSerach {width: 237px;height: 15px;float: right;margin-right: 18px;margin-top: -35px;_width: 240px;}
.menuSerach .text{width:202px; padding-left:9px; height:25px; line-height:25px; border:none; color:#fff; background:url(../images/menu/index-11_03.png) no-repeat scroll left top; float:left; display:block;}
.menuSerach .image{display:block; width:25px; height:25px; float:left;}

.shopName{font-size:24px; color:#fff; width:auto!important; float:left;}
#send_info{padding: 5px 10px 0 0; clear:right;text-align: right; color: #FF9900;width:40%;float: right; display:none;}
#lnkSwitch{margin-right:10px;color: #FF9900;text-decoration: underline}
#load-div{padding: 30px 20px 0 0; text-align: right; color: #FF9900; display: none;float:right;}

#menu-frame{ float:left;}
#main-frame{ float:right;}
.show_content{ width:10px; float:left; position:relative; background:#39b9f4;}
.show_content .jiantou{ width:10px; height:30px; position:absolute; top:50%; margin-top:-15px; left:0;}
.show_content #show_right{ display:none; position:relative; height:100%; width:37px; background:url(../images/show_icon.gif) no-repeat center top; cursor:pointer;}

#menu-frame::-webkit-scrollbar {width: 5px;}
#menu-framet::-webkit-scrollbar-track {-webkit-border-radius: 10px;border-radius: 10px;background-color: #F5F5F5 }
#menu-frame::-webkit-scrollbar-thumb {-webkit-border-radius: 10px;border-radius: 10px;background: #0e92d0}


#notIe{ position:fixed;}
#notIe .noContent{ width:316px; height:376px; background:url(../images/not_ie78.png) no-repeat;}
#notIe .noContent .noText{ padding-top:190px; width:100%;}
#notIe .noContent .noText p{ text-align:center; margin:0;}
#notIe .noContent .noText p.p1{ font-size:16px; color:#0092ce; margin-bottom:6px;}
#notIe .noContent .noText p.p2{ padding-top:10px;}
#notIe .noContent .noText p.p2,#notIe .noContent .noText p.p3{ font-size:14px; color:#333333; margin-bottom:5px;}
#notIe .pb-btn{ position:absolute; width:270px; height:60px; line-height:60px; font-size:18px; color:#fff; bottom:0; left:20px; text-align:center; cursor:pointer;}

