@charset "utf-8";
/* CSS Document */
body {background: #075d85;} 
#tabbar-div { padding-left: 10px;height: 34px;padding-top: 0px;background:#fff;}
#tabbar-div p {margin: 1px 0 0 0;}
#tabbar-div .tab-front {line-height: 33px;font-weight: bold;padding: 4px 15px 4px 28px;cursor: hand;cursor: pointer; font-size:14px; font-family:"微软雅黑"; color:#565656;}
#tabbar-div .tab-back {color: #F4FAFB;line-height: 20px;padding: 4px 15px 4px 18px;cursor: hand;cursor: pointer;}
#tabbar-div .tab-hover {color: #F4FAFB;line-height: 20px;padding: 4px 15px 4px 18px;cursor: hand;cursor: pointer;background: #2F9DB5;}
#top-div{padding: 3px 0 2px;background: #BBDDE5;margin: 5px;text-align: center;}
#menu-list {padding: 0;margin: 0;}
#menu-list ul {padding: 0;margin: 0;list-style-type: none;color: #335B64;}
#menu-list li {cursor: hand;cursor: pointer;}
#menu-list li:hover{ background-color:#1480b3;}
#menu-list li span {font-size:14px;padding: 0px 12px; color:#FFF; }
#menu-list .collapse,#menu-list .explode {display: block;border-top: #397d9d 1px solid;width:100%; color:#FFF; line-height: 42px; text-align:left;text-indent:40px;}
#menu-list .collapse{ background-color:#075d85;}
#menu-list .explode{background-color:#1480b3;}

.ico_02_cat_and_goods{ background:url(../images/menu/menu_1.png) 9px 0 no-repeat;}
.ico_02_goods_storage{ background:url(../images/menu/menu_storage_1.png) 9px 0 no-repeat;}
.ico_03_promotion{ background:url(../images/menu/menu_2.png) 9px 0 no-repeat;}
.ico_04_order{ background:url(../images/menu/menu_3.png) 9px 0 no-repeat;}
.ico_05_banner{ background:url(../images/menu/menu_4.png) 9px 0 no-repeat;}
.ico_06_stats{ background:url(../images/menu/menu_5.png) 9px 0 no-repeat;}
.ico_07_content{ background:url(../images/menu/menu_6.png) 9px 0 no-repeat;}
.ico_08_members{ background:url(../images/menu/menu_7.png) 9px 0 no-repeat;}
.ico_10_priv_admin{ background:url(../images/menu/menu_8.png) 9px 0 no-repeat;}
.ico_01_system{ background:url(../images/menu/menu_9.png) 9px 0 no-repeat;}
.ico_12_template{ background:url(../images/menu/menu_10.png) 9px 0 no-repeat;}
.ico_13_backup{ background:url(../images/menu/menu_11.png) 9px 0 no-repeat;}
.ico_14_sms{ background:url(../images/menu/menu_12.png) 9px 0 no-repeat;}
.ico_15_rec{ background:url(../images/menu/menu_13.png) 9px 0 no-repeat;}
.ico_16_email_manage{ background:url(../images/menu/menu_14.png) 9px 0 no-repeat;}
.ico_17_merchants{ background:url(../images/menu/menu_15.png) 9px 0 no-repeat;}
.ico_18_batch_manage{ background:url(../images/menu/menu_16.png) 9px 0 no-repeat;}
.ico_19_merchants_store{ background:url(../images/menu/menu_17.png) 9px 0 no-repeat;}
.ico_20_ectouch{ background:url(../images/menu/menu_19.png) 9px 0 no-repeat;}
.ico_21_cloud{ background:url(../images/menu/menu_18.png) 9px 0 no-repeat;}
.ico_09_crowdfunding{ background:url(../images/menu/menu_09.png) 9px 0 no-repeat;} /*众筹 by wu*/

.ico2_02_cat_and_goods{ background:url(../images/menu/menu1_1.png) 9px 0px no-repeat;}
.ico2_02_goods_storage{ background:url(../images/menu/menu_storage1_1.png) 9px 0px no-repeat;}
.ico2_03_promotion{ background:url(../images/menu/menu1_2.png) 9px 0px no-repeat;}
.ico2_04_order{ background:url(../images/menu/menu1_3.png) 9px 0px no-repeat;}
.ico2_05_banner{ background:url(../images/menu/menu1_4.png) 9px 0px no-repeat;}
.ico2_06_stats{ background:url(../images/menu/menu1_5.png) 9px 0px no-repeat;}
.ico2_07_content{ background:url(../images/menu/menu1_6.png) 9px 0px no-repeat;}
.ico2_08_members{ background:url(../images/menu/menu1_7.png) 9px 0px no-repeat;}
.ico2_10_priv_admin{ background:url(../images/menu/menu1_8.png) 9px 0px no-repeat;}
.ico2_01_system{ background:url(../images/menu/menu1_9.png) 9px 0px no-repeat;}
.ico2_12_template{ background:url(../images/menu/menu1_10.png) 9px 0px no-repeat;}
.ico2_13_backup{ background:url(../images/menu/menu1_11.png) 9px 0px no-repeat;}
.ico2_14_sms{ background:url(../images/menu/menu1_12.png) 9px 0px no-repeat;}
.ico2_15_rec{ background:url(../images/menu/menu1_13.png) 9px 0px no-repeat;}
.ico2_16_email_manage{ background:url(../images/menu/menu1_14.png) 9px 0px no-repeat;}
.ico2_17_merchants{ background:url(../images/menu/menu1_15.png) 9px 0px no-repeat;}
.ico2_18_batch_manage{ background:url(../images/menu/menu1_16.png) 9px 0px no-repeat;}
.ico2_19_merchants_store{ background:url(../images/menu/menu1_17.png) 9px 0px no-repeat;}
.ico2_20_ectouch{ background:url(../images/menu/menu1_19.png) 9px 0px no-repeat;}
.ico2_21_cloud{ background:url(../images/menu/menu1_18.png) 9px 0px no-repeat;}
.ico2_09_crowdfunding{ background:url(../images/menu/menu1_09.png) 9px 0px no-repeat;} /*众筹 by wu*/
.menu-item {font-size: 12px;height: 30px;line-height: 30px;display: block;font-weight: normal; background:#efefef}
.menu-item a{font-size: 12px;height: 30px;line-height: 30px;display: block; color:#666;}
.menu-item a:hover,.menu-item a.on{ background-color:#fff; text-decoration:none; color:#ec5051;}
#help-title {font-size: 14px;color: #000080;margin: 5px 0;padding: 0px;}
#help-content {margin: 0;padding: 0;}
.tips {color: #CC0000;}
.link {color: #000099;}

