/*
$Id: main.css 13991 2008-01-17 06:17:23Z maruitao $
*/
.dis{
  display:block;
}
.inline{
  display:inline;
}
.none{
  display:none;
}
.hide{
	display:none;
}
.show{
	display:block;
}
ul,li{
	padding:0;
	margin:0;
	list-style-type:none;
}
body {
  background:#f3f3f3;
  padding: 10px 12px 10px 12px;
  min-width:773px;
  min-height:500px;
}
.clearfix{ zoom: 1;}
.clearfix:after{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}
h1 { border-bottom: 1px solid #ccc; color: #333; font-weight: normal; padding: 7px 10px 7px 0; margin: 0 0 16px 0; overflow: hidden;}

h1 a:visited {
  color: #333;
}

h1 a:link {
  color: #333;
}

h1 a:hover {
  color: #EB8A3D;
}

h1 span{zoom:1;}

h1 .action-span{ display:block; float:right;}
h1 .action-span a { float: right; height: 26px; line-height: 26px; padding: 0 10px 0 23px; background: #c43926 url(../images/icon_add02.gif) no-repeat 6px center; border-radius: 3px; color: #fff; font-size: 13px; font-weight: normal; text-align: center; cursor:pointer; margin-left:15px;}
h1 .action-span a:hover { text-decoration:none; background-color:#ca4d3c;}

h1 .action-span1 {color: #4c4c4c; font-size: 18px; font-weight: normal; float:left;}

p{ margin:0; padding:0;}

#footer {
  background: #f3f3f3;
  border: 1px solid #d7d7d7;
  padding: 15px;
  color: #9CACAF;
  margin: 10px 0;
  text-align: center;
}

.main-div {
  background: #f3f3f3;
  border: 1px solid #d7d7d7;
  margin-bottom: 10px;
  padding: 2px;
}

.main-div table {
  background: #FFF;
  width: 99%;
}

/*
 列表部分的样式
 */
.list-div {
  width: 100%;
  border: 1px solid #d7d7d7;
}

.list-div-ad {
  border: 0px solid #BBDDE5;
}

.list-div table {
  width: 100%;
  background:#ddd;
}

.list-div th {
  line-height: 39px;
  background: #f3f3f3;
  white-space: nowrap;
}

.list-div td {
  background: #FFF;
  padding:8px 10px;
}

.list-div td.first-cell{
  font-weight: bold;
  padding-left: 10px;
}

.list-div input {
  vertical-align: middle;
}

.list-div a:hover {
  color: #EB8A3D;
}

.list-div input, list-div img {
  vertical-align: middle;
  margin-top:0;
}

.list-div input[type='text']{ min-width:inherit; text-align:center;}
.list-div input.text{ text-align:left;}

.list-div td span,.list-div td font{/* display:inline-block; *display:inline; *zoom:1; height:20px; line-height:20px;*/}
.list-div td span input{ height:18px; min-width:25px; padding:0; margin:0; text-align:center; line-height:18px;*line-height:30px;font: 12px "sans-serif", "Arial", "Verdana";
}
.list-div .footer {
  background: #F4FAFB;
  text-align: right;
}
.list-div .light_blue{ background-color: #F4FBFB; font-weight: bold; padding:15px 10px;}

i.icon{ font-size:17px; color:#49879f;}
.handler_icon a{ margin-right:5px;}

#cloud_list{
	 color: #CC0000;
}
#page-table {
  width: 100%;
}

/*
 标签部分的样式
 */
.tab-div {
  background: #f3f3f3;
  border: 1px solid #d7d7d7;
  margin: 0 0 10px 0;
  padding: 1px;
}
#tabbar-div {
  margin-top: 0px;
background: #efefef;
padding-left: 10px;
height: 39px;
}

#tabbar-div p {
  margin: 2px 0 0 0;
}

.tab-front {
 background: #fefefe;
height: 39px;
line-height: 39px;
display: block;
float: left;
padding:0 20px;
text-align: center;
font-weight: bold;
cursor: hand;
cursor: pointer;
}

.tab-back {
	padding:0 20px;
text-align: center;
font-size: 13px;
float: left;
display: block;
float: left;
color: #787878;
line-height: 39px;
cursor: hand;
cursor: pointer;
}

.tab-hover {
	padding:0 20px;
display: block;
float: left;
text-align: center;
font-size: 13px;
color: #787878;
line-height: 39px;
cursor: hand;
cursor: pointer;
}

#tabbody-div {
  padding: 10px;
  background: #fefefe;
}

#tabbody-div img {
  vertical-align: middle;
}

.tab-body {
  border: 0px solid #BBDDE5;
  padding: 10px;
}
/*
表单部分
*/
.notice-span {
  color: #666;
}

td.label {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  padding: 5px 1em;
  width: 30%;
  line-height:30px;
  min-width:270px;
}

td.label_2 {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  padding: 5px 1em;
}

td.td_1 {
  text-align: right;
  vertical-align: top;
  padding: 5px 1em;
}

td.label_left {
  text-align: left;
  vertical-align: top;
  font-weight: bold;
  padding: 5px 1em;
}

td.narrow-label {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  padding: 5px 1em;
  width: 20%;
}

td.micro-label {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  padding:0 2px;
  line-height:30px;
  width: 150px;
  *width: 150px;
}

.button-div {
	width:88%;
	margin:0 auto;
    padding: 10px 0 30px;
}
.button-div #button-info{
	margin-left:30%;
	overflow:hidden;
}
.button-div #button-info.button-info-item2,.button-div #button-info.button-info-item4,.button-div #button-info.button-info-item5,.button-div #button-info.button-info-item7,.button-div #button-info.button-info-item8,.button-div #button-info.button-info-item9,.button-div #button-info.button-info-item10,.button-div #button-info.button-info-item11{ margin-left:45%;}
.button-div .button{ float:left;}
.button-div p{ overflow:hidden;}

.topic_edit #button-info.button-info-item1{ margin-left:45%;}
.auction_info #button-info.button-info-item1,.auction_info #button-info.button-info-item3{margin-left:45%;}

input.button,a.button { height:30px; line-height:28px; min-width:75px; font-size:14px; border: none; background: #c43926; color: #FFF; cursor: pointer; border-radius:3px; display:inline-block; *display:inline; *zoom:1; text-align:center;}
input.button.btn_disabled{ background:#aaa;}
a.button{ line-height:30px;}
.button:hover{ color:#fff;}
.button.button_reset{ margin-left:10px; background:#f3f3f3; border:1px solid #dcdcdc; color:#000; height:31px;}
input.button_blue,a.button_blue{ background:#48a7e7;}

.capital {
  text-transform: uppercase;
}

span.require-field {
  font: 12px verdana;
  color: #FF0000;
}

th.group-title {
  text-align: left;
}


span.link-span {
  color: #999;
  padding-left: 10px;
  margin-left: 15px;
  border-left: 2px solid #999;
  font-weight: normal;
  cursor: pointer;
}



option.leafCat {
  color: #008000;
}

li.warning {
  border: 1px solid #CC0000;
  background: #FFFFCC;
  padding: 10px;
  margin-bottom: 5px;
}

#Marquee{ 
  height:20px; 
  overflow:hidden;  
  border: 1px solid #CC0000;
  background: #FFFFCC;
  margin-bottom: 5px;
}
  
#Marquee div{ 
  background: #FFFFCC;
  padding: 10px;
  margin-bottom: 5px;
  }
/*
MSN Messenger
*/


* html div#popMsg {
  position:absolute;
}

#topbar{
  position:absolute;
  border: #0e92d0 1px solid;
  background-color: #D0F0FF;
  width: 300px;
  visibility: hidden;
  z-index: 99999;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=.95);
  opacity: 0.95;
}
.closebar{ padding:0 5px;}

.no-records {
  color: #666;
  text-align:center;
  padding: 10px;
  height:80px;
}

#loader {
  background-color: #FFFFCC;
  border: 1px solid #CC0000;
  position: fixed;
  color: #CC0000;
  z-index: 1000;
  left: 0px;
  bottom: 0px;
  padding: 5px 15px;
  text-align: center;

  /*display: none;*/
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=.65);
  opacity: 0.65;
}

* html #loader {
  position: absolute;
}

.todolist-box {
  position:absolute;
  z-index:99999;
  width:300px;
  top:0px;
  left:0px;
  border: 1px solid #C9C9D7;
  padding: 1px;
  background:#FFFFFF;
}

.todolist-box .container {
  border:1px solid #E4E5ED;
  border-bottom-color:#EAEDF5;
  position:relative;
}

.todolist-box .head {
  line-height: 23px;
  color: #fff;
  font-size: 12px;
  background: #D8D9DF url(../images/icon_title.gif) no-repeat 10px center;
  height: 23px;
  padding-left: 28px;
  margin: 0;
  border-top: 3px solid #E4E5ED;
  border-bottom: 1px solid #EAEDF5;
}

.todolist-box .middle {

}

.todolist-box .buttons {
  float:right;
  margin-top: -21px;
}

.todolist-box .buttons img {
  margin-right:2px;
  cursor:auto;
}


.todolist-box .bottomLeft  {
  text-align: right;
  font-size: 12px;
  border: 1px solid #CCCBD9;
  border-top: 0;
  background: #DCDDE3;
  height: 22px;
  vertical-align: middle;
  padding-top:3px;
  padding-right:20px;
}

.todolist-box label
{
  margin-bottom:2px;
}

.todolist-box .bottomLeft  input
{
  vertical-align: middle;
  margin-bottom:2px;
}

.todolist-box .bottomRight {
  margin: 0;
  margin-right:-2px;
  margin-bottom:-2px;
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 14px;
  height: 14px;
  background:url(../images/btn_drop.gif) no-repeat center;
}

.todolist-box .button
{
  border:#fff 1px solid;
  border-bottom:#94949C 1px solid;
  border-right:#94949C 1px solid;
  background:#B8B7C8;
  color:#fff;
  width:40px;
}

.virtualBox
{
  position:absolute;
  overflow:hidden;
  z-index:999999;
  width:300px;
  top:0px;
  left:0px;
  border: #a6b4cf 3px solid;
}

#ColorSelectertBox
{
  border-top:#EAF0FF 1px solid;
  border-left:#EAF0FF 1px solid;
  border-right:#9DADCE 1px solid;
  border-bottom:#9DADCE 1px solid;
  position:absolute;
  z-index:1;
  top:1px;
  left:1px;
  background-color:#FFFFFF;
}

/* setting */
.step1, .step2, .step3{
  padding:20px 20px 20px 80px;
  color:#6CA1B4;
  font-size:28px;
  font-weight:700;
}

.step1 {
  background:#FFF url(../images/stepnum.gif) no-repeat 20px 20px;
  *background:#FFF url(../images/stepnum.gif) no-repeat 20px 17px;
}

.step2 {
  background:#FFF url(../images/stepnum.gif) no-repeat 20px -80px;
  *background:#FFF url(../images/stepnum.gif) no-repeat 20px -83px;
}

.step3 {
  background:#FFF url(../images/stepnum.gif) no-repeat 20px -180px;
  *background:#FFF url(../images/stepnum.gif) no-repeat 20px -183px;
}

.step1 em, .step2 em, .step3 em{
  display:block;
  padding-left:3px;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999;
}

.shortcut{
  background:#FFF;
}

.shortcut ul{
  list-style:none;
  margin:0 0 0 85px;
  padding:0;
  width:370px;
  overflow:hidden;
}

.shortcut li{
  float:left;
  margin:0 20px 15px 0;
  width:100px;
  font-size:14px;
  text-align:center;
}

.shortcut li a{
  display:block;
  padding:2px 5px;
  *padding:3px 5px 1px;
  border:1px solid #278296;
  background:#F2F9FA;
}

.shortcut li a:hover{
  border:1px solid #5FA6B6;
  background:#FFF;
  color:#666;
  text-decoration:none;
}

a.special:link, a.special:visited{
  margin:0 5px;
  padding:1px 5px;
  *padding:2px 5px 0;
  border:1px solid #DCDCDC;
  background:#fff;
  text-decoration:none;
  font-weight:400;
}

a.special:hover{
  color:#666;
}

a.special:active{
  margin:1px 5px 0 6px;
  border:1px solid #5FA6B6;
  background:#F2F9FA;
  color:#666;
  outline:none;
}

.order-goods{
  position:absolute;
  width:60%;
  border: 1px solid #BBDDE5;
  /*
  filter:alpha(opacity=90);
  opacity:0.9;
  */
}
.order-goods td {
  background: #FFF;
  line-height: 22px;
}
/* 文件校验 */
.infobox {
  background:#f3f3f3  none repeat scroll 0 0;
  border:4px solid #d7d7d7;
  clear:both;
  margin:60px 30px;
  padding:20px;
  text-align:center;
}
.normal {
  font-weight:400;font-size:12px;
}
.marginbot {
  margin-bottom:10px;
}
.nobdb {
  border-bottom:medium none;
}
.btn {
  background:#DDDDDD none repeat scroll 0 0;
  border-color:#DDDDDD #666666 #666666 #DDDDDD;
  color:#000000;
  cursor:pointer;
  margin:3px 0;
  padding:2px 5px;
  vertical-align:middle;
}
.infotitle1{
  margin-bottom:10px;
  color:#09C;
  font-size:14px;
  font-weight:700;
}
em, cite, th {
  font-style:normal;
  font-weight:normal;
}
.left {
  float:left;
}
.lightfont {
  color:#CCCCCC;
}
.left .cfolder, .left .ofolder{
  display:block;
  padding-left:50px;
  line-height:30px;
  background:url(../images/filecheck.gif) no-repeat -260px -50px;
  font-weight:700;
  font-size:14px;
  color:#2366A8;
}
.left .ofolder{
  background:url(../images/filecheck.gif) no-repeat -260px -100px;
  color:#2366A8;
  font-size:14px;
}
.filenum{
  margin:8px 0 0 20px;
}
.files{
  padding:1px 0 1px 50px;
  background:url(../images/filecheck.gif) no-repeat -260px -150px;
}
.del{
  padding-left:18px;
  background:url(../images/filecheck.gif) no-repeat 0 -285px;
  *background:url(../images/filecheck.gif) no-repeat 0 -286px;
  color:#E8594D;
}
.edited{
  padding-left:18px;
  background:url(../images/filecheck.gif) no-repeat -100px -385px;
  *background:url(../images/filecheck.gif) no-repeat -100px -386px;
  color:#E8594D;
}
.unknown{
  padding-left:18px;
  background:url(../images/filecheck.gif) no-repeat -50px -435px;
  *background:url(../images/filecheck.gif) no-repeat -50px -436px;
  color:#6189B8;
}
.correct{
  padding-left:18px;
  background:url(../images/filecheck.gif) no-repeat 0 -485px;
  *background:url(../images/filecheck.gif) no-repeat 0 -486px;
  color:#70B759;
}
.tb2 th, .tb2 td {
  background:transparent url(../images/bg_repx.gif) repeat-x scroll 0 bottom;
  padding:5px 5px 5px 0;
  text-align:left;
}
.tb2 th {
  line-height:21px;
  font-weight:bold;
}
.bold {
  font-weight:700;
}

/* 模板管理 */
#messageATX {
  position:absolute;
  z-index:100;
  display:none;
}
#messageATX .bgtable{
  width:40px;
  height:120px;
  border:solid 1px #000000;
  background:#FFFFE1;
}
#messageATX .colortable{
  height:20px;
  border:solid 1px #FFFFFF;
  cursor:pointer;
}

#CurrTplStyleList{
  margin-top:8px;
}



/*
 标签部分的样式
 */
.custab-div {
  background: #EEF8F9;
  border: 1px solid #BBDDE5;
  margin: 0 0 10px 0;
  padding: 1px;
}
#custabbar-div {
  background: #80BDCB;
  padding-left: 10px;
  height: 22px;
  overflow : hidden;
}

#custabbar-div p {
  margin: 2px 0 0 0;
}

.custab-front {
  background: #BBDDE5;
  line-height: 20px;
  font-weight: bold;
  padding: 4px 15px 4px 18px;
  border-right: 2px solid #278296;
  cursor: hand;
  cursor: pointer;
  margin: -5px -5px -5px -3px;
}

.custab-back {
  color: #FFF;
  line-height: 20px;
  padding: 4px 15px 4px 18px;
  border-right: 1px solid #FFF;
  cursor: hand;
  cursor: pointer;
}

.custab-hover {
  color: #FFF;
  background: #94C9D3;
  line-height: 20px;
  padding: 4px 15px 4px 18px;
  border-right: 1px solid #FFF;
  cursor: hand;
  cursor: pointer;
}

#custabbody-div {
  border: 2px solid #BBDDE5;
  padding: 10px;
  background: #FFF;
}

#custabbody-div img {
  vertical-align: middle;
}

.custab-body {
  border: 0px solid #BBDDE5;
  padding: 10px;
}

.cloud_close{ position:relative; padding:0 10px 10px; border-bottom:1px solid #333; margin-bottom: 10px;position:relative; font-size:14px; font-family:"微软雅黑"}
.cloud_close a{}
.cloud_close img{ position:absolute; right:10px; top:8px; border:none}
.Start315{border: 1px solid #CC0000; background: #ffffcc; padding: 10px; margin-bottom: 5px;}

ul,li{ list-style:none;}
.list-div{ border:0;}
.list-div .important{ width:100%;}
.list-div .important ul{ overflow:hidden; padding:0; margin:0;}
.list-div .important li{ float:left; margin-left:1%; width:24.24%; background:#000; height:80px; min-width:187px;}
.list-div .important li.item01{ margin-left:0;}
.list-div .important li .con_box{ padding:10px 20px 10px 0; position:relative;}
.list-div .important li .con_box img{ position:absolute; top:10px; left:20px;}
.list-div .important li .con_box h2,.list-div .important li .con_box p{ margin:0; padding:0; text-align:right;}
.list-div .important li .con_box h2{ font-size:14px; font-weight:100; font-family:"微软雅黑"; color:#fff; padding:7px 0 5px;}
.list-div .important li .con_box p{ font-size:24px; font-weight:700; color:#fff}
.list-div .important li.item01{ background:#27a9e3;}
.list-div .important li.item02{ background:#28b779;}
.list-div .important li.item03{ background:#852b99;}
.list-div .important li.item04{ background:#ffb848;}
.list-div .console_detaile{ margin:15px 0 0 0;}
.list-div .console_detaile ul{ overflow:hidden; margin:-15px 0 0 0; padding:0;}
.list-div .console_detaile li{ width:13.42%; margin:15px 0 0 1%; background:#fff url(../images/bj02.jpg) 0 bottom repeat-x; height:62px; min-width:156px; display:inline-block; vertical-align:top; *display:inline; *zoom:1; -webkit-transition:ease-in-out .5s; -moz-transition:ease-in-out .5s; -o-transition:ease-in-out .5s; transition:ease-in-out .5s;}
.list-div .console_detaile li.item01{ margin-left:0;}
.list-div .console_detaile li .con_box{ border:1px solid #d4d4d4; border-radius:3px; height:60px;}
.list-div .console_detaile li .img{ float:left; width:60px; text-align:center; height:60px; border-right:1px solid #e2e2e2;}
.list-div .console_detaile li .img img{ width:30px; height:auto; margin-top:26%;}
.list-div .console_detaile li .text{ padding:10px 0 0 15px; float:left;}
.list-div .console_detaile li .text h2,.list-div .console_detaile li .text p{ margin:0;}
.list-div .console_detaile li .text h2{ font-size:12px; font-weight:100; font-family:"微软雅黑"; color:#6a6a6a;}
.list-div .console_detaile li .text p{ font-size:24px; font-weight:700;}
.list-div .console_detaile li .text p a:hover{ color:#ff3f3f;}

.order_count{ border:1px solid #d4d4d4; background:#fff; margin-top:15px; padding:30px 80px 0; -webkit-transition:ease-in-out .5s; -moz-transition:ease-in-out .5s; -o-transition:ease-in-out .5s; transition:ease-in-out .5s;}

/*.goods_info input[type='text'],.goods_info select{ margin:5px 0;}*/
.goods_info .input02{ min-width:inherit;}

@media screen and (min-width:1023px) and (max-width:1199px){
	.list-div .console_detaile li{ width:15.666%;}
	.list-div .console_detaile li.item07{ margin-left:0;}
	.order_count{ padding:30px 30px 0;}
}
@media screen and (min-width:850px) and (max-width:1022px){
	.list-div .console_detaile li{ width:19%;}
	.list-div .console_detaile li.item06{ margin-left:0;}
	.order_count{ padding:30px 30px 0;}
}
@media screen and (max-width:849px){
	.list-div .console_detaile li{ width:24%;}
	.list-div .console_detaile li.item05{ margin-left:0;}
	.order_count{ padding:30px 30px 0;}
}

.shenhe{ overflow:hidden; float:left; padding:10px 0;}
.shenhe .button{ margin-right:10px;}
.shenhe select{ margin:0;}
.shenhe .text_time input,.shenhe .lh26{ height:26px; line-height:26px;}

.list-div .img{ display:inline-block; width:9px; height:9px; *display:inline; *zoom:1;}
.table_page,#page-table{ margin-top:10px;}
.table_page td{ padding:0 10px;}

/*上门自提*/
.since_table .item{ width:550px; float:left; border:1px solid #dcdcdc; margin:0 20px 10px 0px; padding:10px; position:relative;}
.since_table .item p{ margin:0; overflow:hidden;}
.since_table .item label{ float:left; width:72px;display: inline-block;text-align: right; *display:inline; *zoom:1;font-family: simsun; color:#666; height:30px; line-height:30px; margin:5px 0;}
.since_table .item input,.since_table .item textarea{ margin:5px 0;}
.since_table .item .file{ margin:10px 0;}
.since_btn{ float:left; width:100%;}
.since_btn a{ height:28px; line-height:28px; float:left; padding:0 10px; border-radius:3px; background:#c43926; color:#fff; margin:10px 0px;}
.since_btn a:hover{ text-decoration:none;}
.since_delete{ position:absolute; color:#0e92d0; top:15px; right:20px;}
.since_delete:link{color:#0e92d0;}

/*大商创后台界面改版 sunle start*/
input.text{ float:left; width:328px; border:1px solid #dcdcdc;padding: 0px 4px;height: 28px;line-height: 28px;}
input.text_2{ width:170px;}
input.text_3{ width:38px;}
input.text_4{ width:106px;}
input.text_5{ width:70px;}
input.text_6{ width:138px;}
input.text_7{ width:428px;}
input.text_disabled{ background:#EBEBE4;}
select.select{ margin:0; float:left; border:1px solid #dcdcdc; *margin-top:3px; height:28px;}
select.select.mr10{ margin-right:10px;}
select.select_2{ width:338px;}
select.select_3{ min-width:142px;}
select.select_4{ min-width:180px;}
label{ cursor:pointer;}
.button1,.button2{ float:left;height:30px; line-height:28px; width:75px;}
.button2{ width:115px;}
.btn_gary{ display:block; float:left; text-align:center; width:75px; height:28px; line-height:28px; border-radius:4px; border:1px solid #dcdcdc; background:#f3f3f3; color:#000;}
.btn_gary:hover{ text-decoration:none;}
.label .tip{ margin-right:5px;}
.checkbox{ vertical-align:middle; margin:-2px 4px 0 0;}
.textarea{ margin:0; min-width:328px; min-height:70px;}
.textarea_2{ min-width:500px;}
.textarea_3{ min-width:328px; min-height:120px; margin:0;}
.file{ margin-bottom:10px; width:320px;}
.file_2{ width:338px;}
.ts_img{ display:inline-block; *display:inline; *zoom:1; vertical-align:middle;}
.th{ height:30px; line-height:30px; font-weight:bold; color:#000;font-family:"微软雅黑","Microsoft Yahei"; font-size:14px;}
.lh{ line-height:30px; height:30px;}
.lh20{ line-height:20px; height:20px;}
.lh28{ line-height:28px; height:28px;}
.red_text{ line-height:30px; height:30px;color:#F00;}
.orange_label{ margin-left:12px; color:#f4a958; line-height:30px; cursor:default;}
.blue_label{ margin-left:12px; color:#1b9ad5; line-height:30px; cursor:default;}
.red_label{ margin-left:12px; color:#F00; line-height:30px; cursor:default;}
.notice-span{ display:block; float:left; height:30px; line-height:30px; margin-left:10px;}
.caozuo{ min-width:168px;}
.caozuo p{ overflow:hidden; margin:10px 0;}

.new_warp{width:100%; height:auto; position:relative; overflow:hidden;font-family:"微软雅黑","Microsoft Yahei";}
.tabs{ height:43px; border:1px solid #dcdcdc; background:#fff; margin-bottom:16px;}
.tabs li{ float:left; font-size:14px; color:#000; padding:0 20px; height:43px; line-height:43px; border-right:1px dashed #dcdcdc; cursor:pointer;}
.tabs li.current{background:#1b9ad5; color:#fff; border-right-color:#1b9ad5; margin-left:-1px;}

.info_warp{ width:auto; height:auto; border:1px solid #dcdcdc; background:#fff;}
.table_item{ padding-top:25px; position:relative; margin:0 auto; font-size:12px;}
.table_item td{ padding-bottom:10px;}
.table_item_ptb td{ padding:0px 10px 10px;}
.table_item .label{ padding:0; position:relative; font-weight:normal; font-weight:bold;}
.table_item .label2{ width:42%;}
.table_item .label3{ width:46%;}
.table_item .label .t100{ display:block; width:100px; float:right; text-align:left; font-size:14px;}
.table_item .select{ height:30px; margin-right:10px; max-width:600px;}
.table_item .font_color{ margin:6px 10px 0 10px; float:left;}
.table_item .require-field{ margin:10px 0 0 0px;}
.table_item .file_label{ line-height:20px;}

.table_item td.pb0{ padding-bottom:0;}
.table_item td.pt5{ padding-top:5px;}
.table_item td.pt10{ padding-top:10px;}
.table_item td.pb20{ padding-bottom:20px;}

.table_item3 .label{ width:40%;}

.volume{ position:relative;}
.volume .button{/*position:absolute; top:0; left:348px;*/ margin-top:10px;}
.removeV{ margin:0 0 0 8px;}
.text_time,.text-item{ position:relative; float:left;}
.text_time input[type='text'],.text-item input[type='text']{ width:148px;}
.text_time input[type='button']{display:inline-block; *display:inline; *zoom:1; width:15px; height:15px; background:url(../images/text_time_icon.png) no-repeat; position:absolute; right:8px; top:8px; border:0; cursor:pointer; outline:0;}
.time_disabled input[type='text']{ background:#EBEBE4;}
.time_disabled input[type='button']{ cursor:default;}
.bolang{ float:left; line-height:30px;}
.gouxuan{ display:inline-block; *display:inline; *zoom:1; margin:0 0 0 10px;}

.goodsModel_item{ float:left; text-align:left; padding:5px 0;}
.goodsModel_item label{ margin-right:10px;}
.goodsModel_item label input{vertical-align: middle;margin-right: 3px;margin-top: -2px;cursor: pointer;}
.goodsModel_item label span{ font-size:14px;}
.model_ts{ color:#f00; padding:7px 0; float:left; margin-left:5px; font-family:"宋体";}

.goods_desc_tit{ float:left; width:100px; height:30px; line-height:30px; text-align:right; min-width:70px;}
.goods_desc_con{ float:left; width:92%; margin-left:15px;}
.checkbox_items{ padding:7px 0; float:left;}
.checkbox_items_2{ padding-bottom:0;}
.checkbox_items label{ margin-right:10px;}
.checkbox_items_2 label{ display:inline-block; float:left; margin-bottom:10px;}
#consumtable p .text_2{ width:129px;}
#tbody-goodsAttr .select{ min-width:260px; margin-right:13px;}
#tbody-goodsAttr .text_2{ min-width:250px; margin-right:10px;}
#tbody-goodsAttr .text_3{ width:60px;}
.up,.down{ background:url(../images/icon_updown.png) no-repeat; display:inline-block; width:13px; height:13px; margin-right: 5px; text-indent:99999px; vertical-align:middle;}
.up{ background-position: 0 -3px;}
.down{ background-position:0 -16px;}
.up:hover{ background-position:0 -29px;}
.down:hover{ background-position:0 -42px;}
.table_item .button3{ min-width:60px;}
.dp_label{ display:block; width:38%; float:left; text-align:right; height:30px; line-height:30px;}
#groupgoods-table .caozuo p .button{ float:left; margin-left:38%;}

/*添加商品--仓库*/
.warehouse_info{ width:100%; overflow:hidden;}
.addinfo_items .item{ float:left; width:16.67%; min-height:100px; padding:10px 15px; border:1px solid #dcdcdc; margin:0 1% 15px 0; position:relative;}
.addinfo_items .item.item_loop{min-width:225px;}
.addinfo_items .item-item{ float:left; width:100%; height:25px; line-height:25px;}
.warehouse_info .w_item_label{ float:left; width:46%; margin-right:4%; text-align:right;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.warehouse_info .w_item_warp{ float:left; width:43%; white-space: nowrap;text-overflow: ellipsis; position:relative;}
.warehouse_info .w_item_warp .edit_icon{ background:url(../images/edit_icon.jpg) no-repeat; width:13px; height:14px; position:absolute; top:5px; margin-left:10px; display:none;}
.warehouse_info .w_item_warp:hover .edit_icon{ display:inline-block;}
.warehouse_info .item .delete{ position:absolute; right:10px; top:10px; color:#1b9ad5; display:none;}
.warehouse_info .item:hover .delete{ display:block;}
.warehouse_info .item .delete:hover{ color:#ec5051;}
.addinfo_items .item_but{ line-height:100px; text-align:center; width:90px; background:#F6F5F5; cursor:pointer;}

.warehouse_warpper{ overflow:hidden;}
.warehouse_item{ float:left; margin:10px 10px 0 0; width:80%;}
#dialog .warehouse_item,#dialog .img_item{ padding:0 20px; width:auto; float:none; margin:10px 10px 0 0;}
/*添加商品--仓库end*/

/*商品相册*/
.gallery_items{}
.gallery_items .gallery_item{ float:left; text-align:center; margin:0 9px 9px 0; position:relative;}
.gallery_items .gallery_item a{ display:block;}
.gallery_items .gallery_item img{ margin:0; padding:0; border:0; width:240px; height:240px;}
.gallery_items .gallery_item .delete{ font-family:Verdana;font-size: 9px;font-weight: lighter;background-color: #FFF;line-height: 14px;text-align: center;display:none;width: 14px;height: 14px;border-style: solid;border-width: 1px;border-radius: 8px;position: absolute;top:-8px;right:-8px; color:#1b9ad5;}
.gallery_items .gallery_item:hover .show-default{ border-color:#1b9ad5;}
.gallery_items .gallery_item:hover .delete{ display:block;}
.gallery_items .show-default{ border: 1px solid #DADADA; position:relative; width:240px;}
.gallery_items .img_default{ width:230px; color: #28B779; line-height: 20px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#E5FFFFFF', endColorstr='#E5FFFFFF');background:rgba(255,255,255,0.9); display: none; height: 20px; padding: 5px; position:absolute; bottom:0;}
.gallery_items .selected{ border-color:#28B779;}
.gallery_items .selected .img_default{ display:block;}
.gallery_items .selected .delete{ color:#28B779;}
.gallery_items .show-sort{ line-height: 25px;color: #999;width: 236px;height: 25px;padding: 4px 0 4px 4px;border:1px solid #E6E6E6;margin-top:10px;}
.gallery_items .show-sort .text{ color:#666;font-size: 12px;line-height: 20px;width: 20px;height: 20px;padding: 0;border: none 0; float:none;}
.gallery_items .gallery_item:hover .selected{ border-color:#28B779;}
/*商品相册end*/

/*商品列表页点击展开属性*/
.trigger{ width:16px; height:20px; float:left;}
.trigger .tip{ display:block; background:url(../images/icon_down.png) -14px 0 no-repeat; width:9px; height:9px; margin:4px 0; cursor:pointer;}
.trigger .tip.icon-down{ background-position:0 0;}

.ecsc-goods-sku{ padding:20px 80px; overflow:hidden;}
.ecsc-goods-sku dl{ width:35%; float:left;height:30px; line-height:30px; margin:0; min-width:465px;}
.ecsc-goods-sku dt{ text-align:left; float:left;}
.ecsc-goods-sku dd{ float:left; margin-left:5px;}
.ecsc-goods-sku dd .text{ height:24px; line-height:24px; margin-top:2px;}
.ecsc-goods-sku dd .checkbox_items{ padding:0;}
.ecsc-goods-sku dd .checkbox_items .checkbox{ margin-top:-2px;}


/*弹出窗口*/
.pb{ position:fixed; min-width:480px;box-shadow: 0 0 0 2px rgba(153,153,153,0.25);}
.pb .cboxContent{ background:#fff; min-height:200px; overflow:hidden;}
.pb .pb-ct{ padding:20px 0; overflow:hidden;}
.pb .pb-hd{ background-color: #FFF;display:block;height: 20px;padding: 10px 20px;border-bottom: solid 1px #EEE;}
.pb .pb-title{ font-size: 14px;line-height: 20px;font-weight: bold;color: #555;}
.pb .pb-x{ font-family: Verdana;font-size: 14px;line-height: 20px;font-weight: lighter;color: #999;text-align: center;display: block;width: 20px;height: 20px;position: absolute;z-index: 1;top: 10px;right: 10px;cursor: pointer;}
.cboxContent dl{ font-size: 0;line-height: 20px;display: block;clear: both;}
.cboxContent dt{ font-size: 12px;height:32px;line-height: 32px;vertical-align: top;letter-spacing: normal;word-spacing: normal;text-align: right;display: inline-block;width: 29%;padding: 10px 1% 10px 0;margin: 0;zoom: 1;}
.cboxContent dd{ font-size: 12px;height:32px;line-height: 32px;vertical-align: top;letter-spacing: normal;word-spacing: normal;display: inline-block;width: 65%;padding: 10px 0 10px 0;zoom: 1; margin:0; overflow:hidden;}
.cboxContent dd select{ height:30px; line-height:30px;}
.cboxContent dd input[type='button']{ margin-top:5px;}
.tip-box{ background-color: #F9F9F9;text-align: center;border-top: 1px solid #EAEAEA;overflow: hidden;}
.tip-box .pb-ft{ margin:20px 0; }
.tip-box .pb-btn{font-family:"微软雅黑","Microsoft Yahei"; height: 30px;line-height: 30px;min-width: 75px;font-size: 14px;margin: 2px 2px;border: none;background: #c43926;color: #FFF;cursor: pointer;border-radius: 3px; display:inline-block; margin-right:10px;}
.tip-box .pb-btn:hover{ text-decoration:none;}

.brand_zizhi{ overflow:hidden;background-color: #FFF;display: block;height: 20px;padding: 20px;border-top: solid 1px #EEE; border-bottom: solid 1px #EEE; margin-top:20px;}
.brand_zizhi .title{ margin:0; font-size:14px; float:left;}
.brand_zizhi span{ float:left; margin:2px 0 0 10px;}
.zizhi_items{ overflow:hidden;}
.zizhi_items .zizhi_item{ padding:0 20px; width:auto; float:none; margin:10px 10px 0 0; overflow:hidden;}
.zizhi_items .zizhi_item a.up,.zizhi_items .zizhi_item a.down{ float:left; margin-top:10px;}
.zizhi_items .zizhi_item p{ float:left; height:30px; line-height:30px; margin-right:10px;} 

/*添加商品->商品属性弹出窗*/
#goods_dialog{ margin:0; padding:0 ;border:#1b9ad5 2px solid;background:#fff; width:auto; height:auto; overflow:hidden;position:fixed;}
#goods_dialog .cboxContent dt,#goods_dialog .cboxContent dd{ padding-top:0; padding-bottom:0;}

#feedbox{ margin:20px 10px 20px 10px; padding:0 ;border:#d7d7d7 1px solid; width:800px; background:#fff; float:left; overflow:hidden; clear:both; cursor:pointer; filter:alpha(opacity=100);opacity:1; position:relative;}
#feedbox h2{text-align:center;}
#feedbox h2 .close{font-family: Verdana;font-size: 14px;line-height: 20px;font-weight: lighter;color: #999;text-align: center;display: block;width: 20px;height: 20px;position: absolute;z-index: 1;top: 10px;right: 10px;cursor: pointer;}
#feedbox ul{width:800px; padding:0; margin:0; overflow-y:scroll; max-height:330px;}
#feedbox li{float:left; list-style:none; padding:5px 0 5px 5px; position:relative;}
#feedbox li i{position:absolute; width:30px; height:30px; right:7px; bottom:10px; display:none;}
#feedbox li img{border:2px solid #dadada;}
#feedbox li i img{border:0px;}
#feedbox li.on i{display:block;}

/*商品图片上传*/
.alert-info { color: #3A87AD;background-color: #D9EDF7;padding: 8px 35px 8px 14px;margin: 0px auto;border: 1px solid #BCE8F1;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); line-height:20px;}
.alert-info h4 { font-size: 16px;font-weight: bold;line-height: 1.5em;margin:10px 0 2px;}
.alert-info ul { margin-bottom: 10px;}
.alert-info li { margin: 8px 0;}

.images_info .addinfo_items .item_but{ width:210px; margin-right:9px; height:220px; line-height:220px; font-size:16px; margin-bottom:54px;}

/*商品筛选*/
.form-div{ background: #f3f3f3;border: 1px solid #d7d7d7;padding: 10px;margin: 0 0 10px 0; overflow:hidden;}
.form-div .p{ overflow:hidden; margin-bottom:10px; float:left;}
.form-div label{ float:left; line-height:28px; margin-right:8px; cursor:default;}
.form-div .select,.form-div .text{ margin-right:10px;vertical-align: middle;}
.form-div .select{ height:28px;}
.form-div .text{height:26px; line-height:26px;}
.form-div .button,.shenhe .button{ height:28px; line-height:26px; float:left;}
.form-div .fl{ float:left;}
.form-div .fr{ float:right;}
.form-div .text_time input[type='button']{ right:18px;}
.form-div .mr10{ margin-right:10px;}
.form-div .btn_gary{ background: #fff;width: auto;margin-left: 10px; padding:0 10px;}
.form-div .btn_gary:hover{ background:#c43926; color:#fff;}

/*订单列表*/
.order_code{ display:inline-block; *display:inline; *zoom:1; color:#F00;}
.oreder_product{ padding:12px; overflow:hidden;}
.oreder_product img{ float:left; border:1px solid #dcdcdc;}
.oreder_product .p-name{ line-height:18px; width:230px; float:left; margin-left:10px;}
.order_xq_table{ width:100%;}
.order_xq_table td{ border-bottom:1px solid #dcdcdc; background:#F5F8F9; padding:8px;}
.order_xq_table th{ background:#D0F0FF; padding:5px 0;}
.order_xq_table .last td{ border-bottom:0;}
.order_list_oper p{ line-height:20px;}
.order_operation{ float:left; margin-top:9px;}

.order_desc th{ font-weight: 700;color: #000; text-align:left;}
.order_desc ul{ width:95%;margin: 5px auto;overflow: hidden;}
.order_desc li{ color: #333;width: 50%;float: left;padding: 4px 0; min-height:24px; line-height:24px;}
.order_desc li strong{ float:left;}
.order_desc li span{ float:left;}
.order_desc .qb li{ width:100%;}
.order_desc .qb li strong{ text-align:right; width:100px;}
.order_desc th a{ margin-left:6px;}

.list-div .order_goods_table{ width:98%; margin:10px auto;border: solid 1px #CBE9F3;}
.order_goods_table th{ background-color: #F3FBFE; text-align:center;}
.order_goods_table td{ padding:6px;border-top: 1px dotted #CBE9F3; height:50px;}

.list-div .order_js_table{ width:98%; margin:0 auto;}
.order_js_table .td{ padding:8px 10px;}
.order_js_table th{ text-align:center;}
.order_js_table .th{ background:#f3f3f3; line-height:30px;}
.order_js_table .th,.order_js_table .td{ float:left; text-align:center; padding:0;}

.caozuo_bz{ float:right;}
.caozuo_bz_l{ float:left;}
.caozuo_bz strong{ vertical-align: top; line-height:20px; margin-right:10px;}
.caozuo_bz_l strong{ width:60px; text-align:right; display:block; float:left;}
.caozuo_bz textarea{ margin:0; float:right; width:495px; height:60px;}
.caozuo_bz .caozuo_btns{ float:right; min-width:505px; text-align:right}
.caozuo_bz_l .caozuo_btns{ float:left; text-align:left;}
.caozuo_bz .item{ overflow:hidden; padding:5px 0;}
.caozuo_bz .item strong{ float:left; width:100px; text-align:right; margin-right:5px;}
.caozuo_bz .item .r{ float:left; width:510px;}
.caozuo_bz .item .r textarea{ float:left;}
.caozuo_bz .item .checkbox_items{ padding:0;}
.caozuo_bz .item .lh{ height:30px; line-height:30px;}
.caozuo_bz .caozuo_btns_left input{ float:left;}
/*订单列表end*/

/*管理员权限*/
.qx_item{width:200px;float:left; margin-bottom:8px;}
.qx_item .checkbox{ margin-top:-1px;}
.qx_checkbox .checkbox{ margin-top:-2px;}
.qx_list td{ padding:15px 10px;}
.qx_list td.qx_items{ padding-bottom:7px;}

.checkbox_items a.button{ margin-top:-5px;}
#regionCell{ float:left;}
#regionCell .checkbox{ margin-right:0;}
.dialog_privilege .select{ margin-right:10px;}

/*系统设置*/
.system_setup .checkbox_items{ min-width:338px;}
.system_setup .button-div #button-info.button-info-item2,.system_setup .button-div #button-info.button-info-item4,.system_setup .button-div #button-info.button-info-item5,.system_setup .button-div #button-info.button-info-item7{ margin-left:30%;}
.img_logo_show{position:absolute; z-index:1; visibility:hidden; background:#fff; border:1px solid #dcdcdc; padding:10px;}

.log_items{ padding:20px; overflow:hidden;}
.log_items .item{ float:left; margin-right:15px;}
.log_items .label{ float:left; font-weight:bold;}

/*模板设置*/
.templates_items{ padding:10px;}
.templates_items p{ margin-top:6px;}
.templates_items2{ display:-moz-inline-stack;display:inline-block;vertical-align:top;zoom:1;*display:inline; padding:10px;}
.templates_items2 table{ width: 220px; text-align:center;}
.templates_items2 .templates_content{ border:1px solid #dcdcdc;}
.templates_items2 .tit{ color:#000; font-weight:bold; height:40px; line-height:40px; text-align:center; border-bottom:1px solid #dcdcdc;}
.templates_items2 .t_img{ padding:3px;}
.templates_items2 .t_img img{ width:300px; height:200px; cursor:pointer;}
.templates_items2 .t_desc,.templates_items2 .t_max_img{ height:40px; text-align:center; line-height:40px; border-top:1px solid #dcdcdc;}

.libContent{ padding:20px 0px 20px 40px;}
.libContent textarea{ width:97%;}
.lib_btn{ overflow:hidden; width:auto; padding-left:45px;}
.lib_btn .button_restore{ margin-left:10px; padding:0 15px;}
.mail_tmp{ width:70%; float:left;}

/*推荐管理*/
.tj_info .desc{ margin-bottom:15px;}

/*商家入驻管理*/
.dm_edit_items{ overflow:hidden;}
.dm_edit_items .dm_edit_item{ width:100%; overflow:hidden; margin-bottom:10px;}
.dm_edit_items .title{ float:left; line-height:30px; min-width:78px; text-align:right;}
.dm_edit_items .title_2{ min-width:95px;}
.dm_edit_items .title_3{ min-width:65px;}
.table_item .dm_edit_items .select{ margin-right:0;}
.dm_edit_items_curr{ padding-top:10px; border-top:1px dashed #1b9ad5;}

.radioCheckbox_list{ float:left; clear:both; display:none;}

.addMerchants td{ padding-bottom:10px;}
.addMerchants_2 td{ padding:0 25% 10px; }
#radioCheckbox-table td{ padding:5px 0px;}
#selectId-table td{ padding:5px 0px;}

.table_chants{ padding:20px 40px;}
.merchants_warp{ overflow:hidden;}
.merchants_warp .item{ margin-bottom:10px; padding-bottom:10px; width:100%; float:left; border-bottom:1px dashed #1b9ad5;}
.merchants_warp .item .mt{ line-height:32px; overflow:hidden;}
.merchants_warp .item h4{ float:left; font-size:16px; color:#333; margin:0 10px 0 0; font-family:"Microsoft Yahei";}
.merchants_warp .item .mc{ overflow:hidden; margin-top:10px;}
.merchants_warp .item dl{ float:left; font-size:12px; overflow:hidden; width:100%; margin:0 0 10px;}
.merchants_warp .item dt{ float:left; width:160px; line-height:30px; text-align:right;margin-right:5px; overflow:hidden;white-space: nowrap;}
.merchants_warp .item dd{ float:left; line-height:30px; margin-left:0;}
.merchants_warp .item .file{ margin:6px 0 0; width:315px; float:left;}
.merchants_warp .item .select{ height:30px;}
.merchants_warp .item .textarea{ float:left;}

.detailCategoryTable .table{ width:700px;}
.category_permanent .table{ width:800px;}

.callout {border: 1px solid #f0d58f;background: #fffdf0;color: #333333;font-size: 12px;padding:5px 10px;line-height: 180%;position: relative;}
.callout_list{ padding-top:10px;}
.callout .dl{ line-height:30px; overflow:hidden; margin-bottom:10px;}
.callout .dt{ float:left; width:150px; text-align:right; margin-right:5px;}
.callout .dd{ float:left;}
.callout .dd .text{ width:220px;}

#divSCA{ position: absolute;width: 320px;font-size: 12px;background: #fff;border: 2px solid #B0D2E7;z-index: 10001;display: none;}
.setps_closeDivA{ width:15px; height:14px; background:url(../images/cart_opera.gif) no-repeat; display:block; position:absolute; top:5px; right:5px; cursor:pointer}
#divSCA .p_mod {border-bottom: 1px dotted #E8E8E8;margin: 0 2px;}
#divSCA .p_mod p {padding: 20px;}
#divSCA .p_mod .p_mod_span {display: block;padding: 5px 0; overflow:hidden;}
#divSCA .p_mod p a:hover{ color:#fff;}
#divSCA .p_mod .p_mod_span .label_item{ min-width:90px; float:left;}

.m_rl_zs{ position:absolute; right:10px; top:-38px; height:20px; line-height:20px;}

/*店铺设置管理*/
.seller_img{ padding:10px 0;}
.seller_img2{ padding:10px 0 0 0;}

/*商品图片批量管理*/
#goods_list .goods_item{ background:#EFEFEF; padding:5px 10px; margin-bottom:5px;}
#goods_list .goods_item .goods_item_p{ width:100%; overflow:hidden;}
#goods_list .goods_item .goods_item_p span{ float:left; margin-right:10px;}
#goods_list .goods_item .goods_item_p img{ float:left; vertical-align:middle; border:0; margin-top:3px; cursor:pointer;}

/*商品批量导出*/
#export_format{ width:100%; float:left; margin-top:10px;}

/*用户评论*/
.msg_info{ margin:0 10px; overflow:hidden;}
.msg_desc{ width:100%; float:left;}
.msg_items{ width:100%; float:left; overflow:hidden; margin-top:10px;}
.msg_items li{ float:left; margin-right:10px;}
.msg_info .time{ float:left; margin:5px 0;}
.msg_info .time p{ margin-top:5px;}

/*flash模板*/
.flash_items{ width:100%; float:left; overflow:hidden;}
.flash_items .item{ float:left;width: 220px; margin-left:10px; margin-bottom:10px;}
.flash_items .item .title{ font-weight:bold; text-align:center; margin:10px 0;}
.flash_items .item .flash_img{text-align:center; padding-bottom:8px;}
.flash_items .item .desc{ text-align:center;}

/*统计报表*/
.screeItme{ width:100%; float:left; overflow:hidden;}

/*统计报表end*/
.first_column i{ cursor:pointer; margin-right:3px;}
.first_column i.up{ background-position: 0 -29px;}
.first_column i.down{ background-position: 0 -42px;}

.goods_area_list { overflow:hidden;}
.goods_area_list .item{ overflow:hidden; width:100%; margin-top:6px;}
.goods_area_list .checkbox_items{ overflow:hidden; width:100%;}
.goods_area_list .checkbox_items .item_item{ float:left; width:320px; height:30px; line-height:30px;}

#linklist-table{ border-left:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; padding-top:0; margin:20px auto;}
#linklist-table th,#linklist-table td{ border:1px solid #dcdcdc; border-left:0; border-bottom:0; text-align:center; padding-bottom:0; height:30px;}

.audit_status .tip{ cursor:default;}

/*订单列表*/
.to_order_sn{ padding-left:10px; cursor:pointer; position:relative;}
.div_order_id{ padding:5px; color:#033; background:#fff; display:none; border:1px #eee solid; position:absolute; top:17px; left:10px;}

.tip-yellowsimple { color:#000; background-color:#fff9c9; text-align:left; min-width:50px; max-width:300px; border:1px solid #c7bf93; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; z-index:1000; padding:6px 8px;}
.tip-yellowsimple .tip-inner { font:12px/16px arial,helvetica,sans-serif;}
.tip-yellowsimple .tip-arrow-top { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat; width:9px; height:6px; margin-top:-6px; margin-left:-5px; top:0; left:50%;}
.tip-yellowsimple .tip-arrow-right { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -9px 0; width:6px; height:9px; margin-top:-4px; margin-left:0; top:50%; left:100%;}
.tip-yellowsimple .tip-arrow-bottom { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -18px 0; width:9px; height:6px; margin-top:0; margin-left:-5px; top:100%; left:50%;}
.tip-yellowsimple .tip-arrow-left { background:url(../images/tip-yellowsimple_arrows.gif) no-repeat -27px 0; width:6px; height:9px; margin-top:-4px; margin-left:-6px; top:50%; left:0;}


#turn-page{ float:right; height:48px; line-height:48px;}
#turn-page span{ float:left; height:48px; line-height:48px; margin-right:10px; color:#acacac;}
#turn-page span input{ height:26px; line-height:24px; float:left; margin:10px 0; text-align:center;}
#turn-page span i{ float:left; color:#333; margin-right:5px;}

#page-link { padding-left: 1em;height: auto;line-height: normal;display: inline;}
#page-link a{ display:block; float:left; padding:0 8px; border-left:1px solid #dcdcdc; color:#333;}
#page-link a.last{ border-right:1px solid #dcdcdc; }
#page-link a:hover{ background:#1b9ad5; color:#fff;}
#page-link select{ margin:12px 0 10px 20px;}

.fs14{ font-size:14px;}
.table_list2 th{ padding:6px 0;}
.table_list2 td{ padding:10px;}
.table_list2 td input.checkbox{ margin-top:-2px;}
.form-div-pb0{ padding-bottom:0;}

input.lh28_button{ height:28px; line-height:26px;}

/*恢复默认设置*/
.restore_region{ position:absolute; top:18px; right:160px;}
.restore_region .restore_btn{ height: 26px; line-height: 26px; padding: 0 10px 0 23px; background: #c43926; border-radius: 3px; color: #fff; font-size: 13px; font-weight: normal; text-align: center; cursor:pointer; margin-left:15px; display:block;}
.restore_region .restore_btn:hover{ text-decoration:none; background-color: #ca4d3c;}

/*添加广告位*/
.ad-set{display:none; margin-left:5px;}
.ad-set .num-set,.ad-set .cat-set{ padding:0px; margin-right:10px; display:none; width:auto; margin-top:10px; overflow:hidden;}
.ad-set strong{ float:left; line-height:29px; color:#716f6f;}
.ad-set input,.ad-set select{ margin:0;}
.ad-set .num_id{ min-width:25px; width:25px; height:27px; text-align:center; float:left; margin:0 5px;}
.ad-set .cat_id{ min-width:100px; width:100px; height:27px; text-align:left; float:left;}
.ad-set .num_add{width:25px; height:25px; text-align:center; float:left; margin-top:2px;}
.ad-set .num_reduce{width:25px; height:25px; text-align:center; float:left; margin-top:2px;}
.ad-set select{ height:29px; float:left; margin-left:10px;}

/*新订单弹出提示*/
.popMsg{ width:325px;height:auto; position:fixed; right:0px; bottom:-200px;}
.popMsg .order_notice{ overflow:hidden; border-radius:3px;}
.popMsg .order_notice .title{ height:40px; line-height:40px; background:#1198d2;}
.popMsg .order_notice .title h3{ font-size:14px; color:#fff; font-weight:normal; margin:0 0 0 12px; float:left;}
.popMsg .order_notice .title .close{ color:#77d4fb; float:right; margin-right:12px; cursor:pointer; font-size:16px;}
.popMsg .order_notice .title .close:hover{ color:#F60;}
.popMsg .order_notice .notice_content{overflow:hidden; padding:0 12px; background:#fff; border:1px solid #dcdcdc;}
.popMsg .order_notice .notice_content .item{ border-bottom:1px solid #dcdcdc; height:20px; padding:20px 0;}
.popMsg .order_notice .notice_content .item.last{ border-bottom:0;}
.popMsg .order_notice .notice_content .item span{ float:left; color:#666; font-size:14px;}
.popMsg .order_notice .notice_content .item em{ min-width:35px; border-radius:12px; height:20px; line-height:20px; text-align:center; color:#fff; font-size:12px; display:block; float:right; background:#f75a53;}

/*系统提示*/
.fh_message{ padding:30px 40px; overflow:hidden; background:#fff;}
.fh_message .img{ float:left; width:95px; height:95px;}
.fh_message .img i{ display:block; width:95px; height:95px; background:url(../images/fh_message_icon.png) no-repeat;}
.fh_message .img i.information{ background-position: 0 0;}
.fh_message .img i.warning{ background-position: -102px 0;}
.fh_message .img i.confirm{ background-position: -206px 0;}
.fr_content{ float:left; margin-left:20px;}
.fr_content h3{ margin:0; font-size:14px;}
.fr_content span.ts{ margin-top:10px; float:left; width:100%;}

.fr_content ul.msg-link {
	list-style-type: none;
	float:left;
	margin-top:10px;
}

.fr_content ul.msg-link li {
  background: url(../images/arrow.gif) no-repeat 0px center;
  padding-left: 18px;
  margin-left:0;
  margin-bottom:10px;
}

/*店铺模板展开大图*/
.carrousel, .carrousel .wrapper {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:9999;
}
.gallery {
  list-style: none;
}

.carrousel {
  position: fixed;
  background-color: rgba(10, 10, 10, 0.8);
  display: none;
}
.carrousel .wrapper {
  width: 1000px;
  height:800px;
  overflow-y:auto;
}
.carrousel .wrapper > img {
  width: 100%;
}

.carr_close {
  cursor: pointer;
  color: #FFF;
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 18px;
}
.carr_close:hover {
  color: #DDD;
}

/*大商创后台界面改版 sunle end*/

.tck{ width:600px;}
.tck p{ float:left; margin-right:10px;}
.tck .last{ margin-bottom:0;}
.w200{ width:200px;}
.w180{ width:180px;}
.w800{ width:800px;}
.w1000{ width:1000px;}
.mt5{ margin-top:5px;}
.mt8{ margin-top:8px;}
.mt10{ margin-top:10px;}
.mt16{ margin-top:16px;}
.mt20{ margin-top:20px;}
.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr0{ margin-right:0px;}
.ml0{ margin-left:0px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml20{ margin-left:20px;}
.pad10{ padding:10px;}
.pt0{ padding-top:0px;}
.pt10{ padding-top:10px;}
.pt20{ padding-top:20px;}
.pt25{ padding-top:25px;}
.pb10{ padding-bottom:10px;}
.pb20{ padding-bottom:20px;}
.pl20{ padding-left:20px;}
.pr20{ padding-right:20px;}
.h25{ height:25px;}
.h27{ height:27px;}
.h30{ height:30px !important;}
.inputwz{ margin:0 0 0 -3px;}
.pointer{ cursor:pointer;}
.ellipsis{ overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.hidden{ overflow:hidden;}
.mw90{ min-width:90px;}
.mw160{ min-width:160px;}
.first_all{ float:left; margin-left:10px;}
.list-div .first_td_checkbox{ padding-left:1px; padding-right:1px;}
.tb_img{ float:left; margin:1px 8px 0 0;}
.baojia{ text-align:left; margin:10px 0 10px 20px;}
.td_btn{ text-align:center; padding:10px 0;}
.md_type{ float:left;margin-right:10px;line-height:40px;}
.md_img{ float:left;height:40px;max-width:200px;*width:200px;overflow:hidden;}
.btn_anniu{ text-align:center; margin:40px 0;}
.info_title{ margin:0px 0 20px; font-size:16px; font-weight:700;}
.bf30,.order_desc .qb li .bf30{ width:30%;}
.bf100,.order_desc .bf100{ width:100%;}
.bor{ border:1px solid #dadada;}
.bt_bor{ border-top:1px dashed #dadada;}
.readonly{ background:#dedede;}
.items p{ overflow:hidden;}
.yemian .checkbox_items{ width:500px; padding-bottom:0;}
.yemian .checkbox_items .item-item{ width:90px; float:left; margin-bottom:10px;}
.pl_btn{ padding:0 10px;}
a.pl_btn:hover{ color:#fff;}
.table_item2{ width:850px;}
#tipDialog .warehouse_info{ width:90%; margin:0 auto; max-width:1550px; overflow-y:auto; max-height:550px;}
.checkbox_items_region label{ float:left; width:100px; margin-bottom:10px;}
.table_item_label .label{ width:10%;}
.horn{ padding:10px 10px 10px 30px; border: 1px solid #d7d7d7;background: #fcfcfc; margin-bottom:10px;}
#range-div{ width:100%; float:left;}
#range-div p{ height:20px; margin-top:10px; float:left; margin-right:20px;}
.list-div input.span_input{ text-align:left;}

.span_color{ padding:1px 2px; color:#FFF;}
.span_green{ background:#0C0;}
.span_blue{ background:#09C;} 
.span_light_red{ background:#F60;}
.span_red{ background:#F00;}
.span_light_purple{ background:#C69;}

/*促销活动--优惠券*/
.ysc-coupon{ margin: 0 auto;padding-top: 40px;width: 630px;}
.ysc-coupon h2,.ysc-coupon h5{ margin: 0;font-weight: normal;text-align: center;}
.ysc-coupon h2{ font-size: 26px;line-height: 46px;color: #333;}
.ysc-coupon h5{ font-size: 16px;line-height: 36px;color: #999;}
.ysc-coupon-list{ padding-top: 20px;}
.ysc-coupon-list li{ margin-bottom: 20px;}
.ysc-coupon-list li a{ display: block;padding: 20px;width: 588px;border: 1px dashed #ccc;}
.ysc-ticket{ float: left;padding: 14px 0 14px 23px;width: 170px;height: 44px;font-size: 24px;line-height: 44px;color: #fff;background: url("../images/coupons-tickets.png") no-repeat;}
.ysc-ticket-red{ background-position: 0 0;}
.ysc-ticket-blue{ background-position: 0 -82px;}
.ysc-ticket-green{ background-position: 0 -164px;}
.ysc-ticket-yellow{ background-position: 0 -246px;}
.ysc_right{ float:right; width:370px;}
.ysc_right h3{ font-size: 18px;font-weight: normal;line-height: 22px;color: #666; margin:10px 0;}
.ysc_right p{ margin: 0;padding: 5px 0;line-height: 18px;color: #999;}

.ysc-coupon-dialog{ width:550px;padding: 20px 25px; overflow:hidden;}
.ysc-coupon-dialog h2{ margin: 0;padding: 0px 0 10px;font-size: 18px;font-weight: normal;color: #333;line-height: 26px;text-align: center;}
.ysc-coupon-dialog .ysc-coupon-list{ padding: 10px 10px 10px 30px;width: 510px;}
.ysc-coupon-dialog .ysc-coupon-list li{ float: left;margin-right: 20px;}
.ysc-coupon-dialog .ysc-coupon-list li a{ width: 193px;}
.ysc-coupon-dialog .ysc-ticket { float: none;}

.coup_volume{ overflow:hidden;}
.coup_volume .p{ float:left; margin-right:20px;}
.coup_volume span{ float:left; line-height:30px; margin-right:10px;}
/*促销活动--优惠券end*/

/* by kong grade*/
.sub_pay{min-width:80px; height: 30px; display: block; line-height: 30px;cursor:pointer; float: left; text-align: center; margin-right:10px; padding:0 15px;}
.sub_border{ border: 1px #dddddd solid;}
.sub_border2,.sub_border:hover{border: 1px #e4393c solid; color:#FF0000;}

.table_seller_apply th{ text-align:left; padding-left:10px; font-weight:bold;}
.table_seller_apply .label{ font-weight:normal; width:40%;}
.table_seller_apply .td_btn{ padding:20px 0 20px 35%; text-align:left;}
.table_seller_apply .td_btn input{ margin-right:10px;}
.table_seller_apply .checkbox{ margin-top:-2px;}

/*众筹*/
.zc_dimg{ float:left;}
.zc_dimg .img_item{ position:relative; width:60px; height:60px; float:left; margin-right:10px;}
.zc_dimg .img_item .icon{ position:absolute; top:3px; right:5px; display:none; cursor:pointer;}
.zc_dimg .img_item:hover .icon{ display:block;}