html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,button{ margin:0; padding:0; background:none;}
a{ color:#666; text-decoration:none;}
a:hover, a:visited, a:link ins{ outline:0; text-decoration:none;}
body,button,input,select,textarea{font:12px/150% arial,\5FAE\8F6F\96C5\9ED1,\5b8b\4f53; outline:none; color:#666;}
.main{ width:100%; height:100%;}
ol,ul{list-style: none;}
em{ font-style:normal;}
img,input,button{ border:0;}
.layout-container{ position:relative;}
.layout-main{}
.layout-area{margin-bottom: 10px;}
.layout{width: 990px;overflow: hidden;clear: both;margin: 0 auto;}
.layout-auto{ width:100%;}
.w990{ width:990px;}
.w790{ width:790px;}
.w750{ width:750px;}
.w200{ width:200px;}
.w190{ width:190px;}
.fn-clear {margin-bottom: 10px;overflow:hidden;}
.no-margin{ margin-bottom:0;}
.layout-one{ overflow:hidden;}
.layout-two-left, .layout-three-left, .layout-four-left {float: left;}
.layout-two-right, .layout-three-middle, .layout-three-right, .layout-four-middle-left, .layout-four-middle-right, .layout-four-right { float: left;margin-left: 10px;}

/*头部区域*/
.header_top{ height: 120px;width: 990px;overflow: hidden; position: relative;}
/*.logo{ float:left; padding-top:30px; margin-right:10px;}*/
.header_gz{ float:left; padding-top:30px;}

.header_top .searchArea {position:absolute;right:10px;bottom:30px;z-index:3;width:200px;height:47px;overflow:hidden;}
.header_top .searchArea .jSearchArea { width:200px; height:47px; overflow:hidden; }
.header_top .searchArea .jSearchArea .jSearchInput {display:block;width:227px;height:25px;overflow:hidden;}
.header_top .searchArea .jSearchArea .jSearchInput .inputMiddle {width: 130px;color: #7f8080;background: #ebebeb;padding: 4px 0;text-indent: 5px;border: solid 0px #ccc;float: left;}
.header_top .searchArea .jSearchArea .jHotwords {display:block;line-height:18px;height:18px;overflow:hidden;margin-bottom:4px;}
.header_top .searchArea .jSearchArea strong { font-weight:normal; float:left; display:block; color:#000; }
.header_top .searchArea .jSearchArea a { color:#555; display:block; float:left; padding:0px 3px; }
.header_top .searchArea .jSearchArea a:hover { text-decoration:underline; color:#000; }
.header_top .searchArea .jSearchArea .jSearchInput button { border: none;width: 34px;font-size: 12px;letter-spacing: 4px;cursor: pointer;color: #fff;line-height: 30px;height: 25px;overflow: hidden;float: left;background: url(../images/search_an.jpg) no-repeat;}

/*导航栏*/
.user_nav .user_boxmain{ background-color:#a8ca40;}
.user_nav .user_boxmain .user_box {width: 990px;margin: 0px auto;height: 30px;}
.user_nav .user_boxmain .user_box .user_cate {width: 200px;height: 30px;float: left;}
.user_nav .user-cate-box {position: absolute;z-index: 1;}
.user_nav .user-cate-box .user-catt {height: 30px;line-height: 30px;width: 200px;text-indent: 35px;font-size: 14px;cursor: pointer;background-image: url('../images/xia.png');background-position: 155px center;background-repeat: no-repeat;background-color: #a8ca40; position:relative;}
.user_nav .user-cate-box .user-catt a{color:#fff;}
.user_nav .user_boxmain .user_box .user_nav {float: left;width: 790px;}
.nav-13 ul li {float: left;padding: 0px;text-align: center;height: 30px;line-height: 30px;}
.nav-13 ul li:hover{ background-color:#ec6f15;}
.nav-13 ul li a {padding: 0px 20px;height: 30px;font: 14px/30px 'microsoft yahei';display: block;color:#fff;}

/*幻灯片*/
.hdp-slide .Left,.hdp-slide .Right{transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;opacity: 0.1;-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);overflow: hidden;cursor: pointer;position: absolute;width: 60px;height: 80px;top: 40%; background: #000 url(../images/slide_btn.gif) no-repeat;}
.hdp-slide .Left{left: 150px; background-position: 0px 0px;}
.hdp-slide .Right{right:150px; background-position: -70px 0px;}
.hdp-slide .Left:hover{filter: alpha(opacity=60);opacity:0.6;}
.hdp-slide .Right:hover{filter: alpha(opacity=60);opacity:0.6;}
.hdp-slide{position:relative;width:100%;}
.hdp-slide li{display:none;position:absolute;left:-10%;top:0;width:1920px;height:100%;overflow:hidden;}
.hdp-slide li img{width:100%;height:100%;}
.ban_nav{ position:absolute;bottom:0px;left:0;width:100%;text-align:center;z-index:4;height: 40px; line-height:40px;}
.ban_nav a,.fullSlide .hd ul li{display:inline-block;width: 8px;height: 14px;margin: 0px 5px;cursor: pointer;padding: 0px 6px;_margin-right: 5px;overflow: hidden;background: #ededed;text-indent:999px;border: solid 1px #fff;}
.ban_nav .on,.fullSlide .hd ul .on{background:#a8ca40;color:#fff; width:18px;}
.Left,.Right{cursor:pointer;}

/*内容主体样式*/
.user-sli .eventareas { background-position: center center;background-repeat: no-repeat;overflow: hidden;position: relative;}
.user-sli .eventareas ul {height: 290px;}
.user-sli .eventareas ul:after {content: "";display: table;line-height: 0;clear:both;}
.user-sli .eventareas ul li { background-color: #FFFFFF;display: inline;float: left;height: 300px;margin-left: 8px;overflow: hidden;width: 237px;margin-top: 10px;}
.user-sli .eventareas ul li .textbox { color: #a8ca40;display: block;position: relative;text-align: center;text-decoration: none;}
.user-sli .eventareas ul li .textbox span {display: block;font-size: 16px;font-weight: 600;display: block;position: relative;text-align: center;text-decoration: none;}
.user-sli .eventareas ul li .textbox em {color: #B4B5B5;display: block;font-family: arial;font-size: 13px;margin-top: 2px;}
.user-sli .eventareas ul .img-3 { margin-right:0px; }
.user-sli .imgbox {display:block;width:235px;height:235px;margin-bottom: 5px;position: relative;background-color:#ffffff;background-repeat:no-repeat;background-position:left top;transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;}
.user-sli .imgbox:hover {background-position:right bottom;}

.user-te{ background:#f8f8f8;}
.dbttzg {width: 990px;height: 90px;overflow: hidden;background: url(../images/biaoti_bg.jpg) center;text-align: center;}
.dbttzg h3 {font: bold 38px/1.5em tahoma,'microsoft yahei';height: 65px;line-height: 50px;color: #666;margin-bottom: -18px;font-size: 22px;}
.dbttzg .xbttzg {display: inline-block;font-weight: bold;font-size: 14px;background: #a8ca40;color: #fff;line-height: 18px;padding: 2px 14px;}
.user-te .mbox { display:block; width:980px; height:802px; overflow:hidden; padding:5px; }
.user-te .right { float:right; width:336px; overflow:hidden; }
.user-te .right .jGoods { background:#f2f2f2;  margin-bottom:10px; }
.user-te .right .jPic { display:block; width:334px; height:334px; overflow:hidden; position:relative; }
.user-te .right .jPic:hover img { opacity:0.7; filter:alpha(opacity=70); }
.user-te .right .jPic .others {position:absolute;left:50%;bottom:0px;margin-left:-62px;background:#a8ca40;width:104px;padding:5px 10px;text-align:center;}
.user-te .right .jPic:hover .others { background:#323232; }
.user-te .right .others .cprice { color:#fff; font-size:16px; }
.user-te .right .others .go { display:block; margin:5px auto 0px auto; width:84px; height:24px; line-height:24px; background:#fff; color:#d00d0d; }
.user-te .right .jInfo { height:60px; overflow:hidden; background:#ededed; }
.user-te .right .jDesc { line-height:20px; height:20px; overflow:hidden; padding:0px 10px; text-align:center; margin-top:10px; margin-bottom:5px; }
.user-te .right .jDesc a { color:#323232; }
.user-te .right .jDesc a:hover { color:#d00d0d; }
.user-te .left { display:block; width:634px; height:802px; overflow:hidden; position:relative; float:left; }
.user-te .left .tabs { display:block; width:640px; height:156px; overflow:hidden; position:absolute; left:0px; bottom:0px; }
.user-te .left .tabs li { display:block; float:left; width:156px; height:156px; overflow:hidden; margin-right:3px; }
.user-te .left .tabs .picbox { width:152px; height:152px; background:#ddd; padding:2px; display:block; }
.user-te .left .tabs .show .picbox { background:#a8ca40; }
.user-te .left .tabs .thumb4 { margin-right:0px; }
.user-te .left .tabs .thumb2 { margin-right:4px; }
.user-te .left .items { display:block; width:634px; height:634px; overflow:hidden; }
.user-te .left .items-inner { display:block; height:634px; overflow:hidden; width:20000px; }
.user-te .left .items .jItem { display:block; width:634px; height:634px; overflow:hidden; position:relative; }
.user-te .left .items .jItem .picbox { display:block; width:534px; height:534px; overflow:hidden; margin:20px 0px 15px 50px; position:relative; }
.user-te .left .items .jItem .picbox:hover img { opacity:0.85; filter:alpha(opacity=85); }
.user-te .left .items .jItem .picbox .others {position:absolute;left:50%;bottom:0px;margin-left:-72px;background:#a8ca40;width:124px;padding:5px 10px;text-align:center;}
.user-te .left .items .jItem .picbox:hover .others { background:#323232; }
.user-te .left .items .jItem .picbox .others .cprice { color:#fff; font-size:16px; }
.user-te .left .items .jItem .picbox .others .go { display:block; margin:5px auto 0px auto; width:84px; height:24px; line-height:24px; background:#fff; color:#d00d0d; }
.user-te .left .items .jItem .jDesc { line-height:20px; height:20px; overflow:hidden; width:534px; text-align:center; margin:0px auto 10px auto; }
.user-te .left .items .jItem .jDesc a { color:#323232; font-size:14px; }
.user-te .left .items .jItem .jDesc a:hover { color:#d00d0d; }
.user-te .left .jPreOut,
.user-te .left .jNextOut {display:block;width:30px;height:60px;line-height:60px;overflow:hidden;text-align:center;font-family:宋体;font-size:20px;cursor:pointer;background:#222222;color:#fff;position:absolute;top:287px;}
.user-te .left .jPreOut { left:1px; }
.user-te .left .jNextOut { right:1px; }
.user-te .left .jPreOver,
.user-te .left .jNextOver { background:#d00d0d; }
.user-te .user_ops2 { display:block; height:25px; width:138px; overflow:hidden; margin:0px auto 0px auto; }
.user-te .user_ops2 .addcart,
.user-te .user_ops2 .btn-coll {background:none;background-image:url(../images/btn-coll.gif);background-repeat:no-repeat;display:block;width:64px;height:25px;overflow:hidden;float:left;cursor:pointer;text-indent:-1000px;}
.user-te .user_ops2 .addcart:hover { background-position:-60px 0px; }
.user-te .user_ops2 .btn-coll:hover { background-position:-60px -25px; }
.user-te .user_ops2 .addcart { background-position:0px 0px; }
.user-te .user_ops2 .btn-coll { background-position:0px -25px; margin-left:10px; }

.user-biaoqiangoods{ background:#fff;}
.user-biaoqiangoods .in { display:block; overflow:hidden; margin:0px auto; padding:0 5px;}
.user-biaoqiangoods .in li { display:block; float:left; margin-right:6px; margin-bottom:10px;border: 1px solid #EEEEEE; }
.user-biaoqiangoods .in .jPhoto { position:relative; display:block; background-repeat:no-repeat; background-position:left top; transition:all 0.2s ease-out; -moz-transition:all 0.2s ease-out; overflow:hidden; }
.user-biaoqiangoods .in .jPhoto:hover { background-position:right top; }
.user-biaoqiangoods .in .jPhoto .buynow {display:block; width:103px; height:103px; background:url(http://img11.360buyimg.com/cms/jfs/t688/322/397623477/6892/3c1d4c8c/546452b5N567f79fe.png) no-repeat 0px 0px; position:absolute; left:50%; top:-120px; margin:-51px 0px 0px -51px;transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;}
.user-biaoqiangoods .in .jPhoto:hover .buynow { top:50%; }
.user-biaoqiangoods .in .jPhoto .icon { position:absolute; left:0px; top:0px; display:block; width:80px; height:80px; background-repeat:no-repeat; background-image:url(http://img11.360buyimg.com/cms/jfs/t484/328/388828174/54016/b8a87480/546452b5Nca396946.png); }
.user-biaoqiangoods .in .jPhoto .none1,.user-biaoqiangoods .in .jPhoto .none2,.user-biaoqiangoods .in .jPhoto .none3 { background-position:-10000px -10000px; }
.user-biaoqiangoods .in .jPhoto .remai1 { background-position:-0px -0px; }
.user-biaoqiangoods .in .jPhoto .xinpin1 { background-position:-80px -0px; }
.user-biaoqiangoods .in .jPhoto .tuijian1 { background-position:-160px -0px; }
.user-biaoqiangoods .in .jPhoto .baoyou1 { background-position:-240px -0px; }
.user-biaoqiangoods .in .jPhoto .tejia1 { background-position:-320px -0px; }
.user-biaoqiangoods .in .jPhoto .cuxiao1 { background-position:-400px -0px; }
.user-biaoqiangoods .in .jPhoto .xianliang1 { background-position:-480px -0px; }
.user-biaoqiangoods .in .jPhoto .renqi1 { background-position:-560px -0px; }
.user-biaoqiangoods .in .jPhoto .huodong1 { background-position:-640px -0px; }
.user-biaoqiangoods .in .jPhoto .remai2 { background-position:-0px -80px; }
.user-biaoqiangoods .in .jPhoto .xinpin2 { background-position:-80px -80px; }
.user-biaoqiangoods .in .jPhoto .tuijian2 { background-position:-160px -80px; }
.user-biaoqiangoods .in .jPhoto .baoyou2 { background-position:-240px -80px; }
.user-biaoqiangoods .in .jPhoto .tejia2 { background-position:-320px -80px; }
.user-biaoqiangoods .in .jPhoto .cuxiao2 { background-position:-400px -80px; }
.user-biaoqiangoods .in .jPhoto .xianliang2 { background-position:-480px -80px; }
.user-biaoqiangoods .in .jPhoto .renqi2 { background-position:-560px -80px; }
.user-biaoqiangoods .in .jPhoto .huodong2 { background-position:-640px -80px; }
.user-biaoqiangoods .in .jPhoto .remai3 { background-position:-0px -160px; }
.user-biaoqiangoods .in .jPhoto .xinpin3 { background-position:-80px -160px; }
.user-biaoqiangoods .in .jPhoto .tuijian3 { background-position:-160px -160px; }
.user-biaoqiangoods .in .jPhoto .baoyou3 { background-position:-240px -160px; }
.user-biaoqiangoods .in .jPhoto .tejia3 { background-position:-320px -160px; }
.user-biaoqiangoods .in .jPhoto .cuxiao3 { background-position:-400px -160px; }
.user-biaoqiangoods .in .jPhoto .xianliang3 { background-position:-480px -160px; }
.user-biaoqiangoods .in .jPhoto .renqi3 { background-position:-560px -160px; }
.user-biaoqiangoods .in .jPhoto .huodong3 { background-position:-640px -160px; }
.user-biaoqiangoods .in .jInfo { padding:0px 5px 5px 5px; overflow:hidden; background:#fff; }
.user-biaoqiangoods .in .line1 { width:100%; height:30px; line-height:30px; overflow:hidde; }
.user-biaoqiangoods .in .line1 .jPrice { float:left; font-size:14px; color:#444; }
.user-biaoqiangoods .in .line1 .btn-coll { float: right;width: 64px;height: 24px;text-indent: -1000px;border: none;margin-top: 3px;background-image: url(../images/gz_2.gif);background-repeat: no-repeat;background-position: 0px -24px;background-color: #a8ca40;cursor: pointer;}
.user-biaoqiangoods .in .jDesc { height:32px; line-height:16px; overflow:hidden; margin-top:5px; }
.user-biaoqiangoods .in .jDesc a { color:#999; }
.user-biaoqiangoods .in .jDesc a:hover { color:#000; }
.user-biaoqiangoods .in4 { width:989px; }
.user-biaoqiangoods .in4 li { width:237px; margin-left:3px;}
.user-biaoqiangoods .in4 li { width:237px; height:237px; }
.user-biaoqiangoods .in3 { width:985px; }
.user-biaoqiangoods .in3 li { width:320px; }
.user-biaoqiangoods .in3 .jPhoto { width:320px; height:320px; }
.user-biaoqiangoods .in2 { width:990px; }
.user-biaoqiangoods .in2 li { width:490px; }
.user-biaoqiangoods .in2 .jPhoto { width:490px; height:490px; }

.userjSearch .jSearchArea { background: #a8ca40;padding: 3px 1px;height: 30px;overflow: hidden;}
.userjSearch .jHotwords{color: #fff;float: left;height: 20px;overflow: hidden;margin-top: 5px;margin-left: 10px;}
.userjSearch .jHotwords a{color:#333333;padding: 0px 5px;}
.userjSearch .jSearchInput{overflow:hidden; float:right;background: url(../images/selk.gif) no-repeat scroll right center transparent;height: 20px;overflow: hidden;margin-right: 10px;margin-top: 5px;}
.userjSearch .inputSmall,.userjSearch .inputMiddle{float: left;font-size: 12px;color:#ffffff; background:none repeat scroll 0% 0% transparent; height:18px;line-height: 18px; text-indent:5px; border:1px solid #DEDEDE;}
.userjSearch .inputSmall{width:50px; margin:0 10px; padding:0;}
.userjSearch .inputMiddle{width:166px;padding-left: 2px;line-height: 20px;color: #808080;}
.userjSearch input.current{color:#333;}
.userjSearch .jPriceArea{float:left;color: #fff;margin-right: 10px;}
.userjSearch .jText{float:left; margin-top:3px;}
.userjSearch button {border: medium none;font-size: 12px;letter-spacing: 4px;cursor: pointer;color: #FFF;line-height: 26px;height: 26px;overflow: hidden;float: left;background: none repeat scroll 0% 0% transparent;width:20px;}

.user-rightgoods {overflow:hidden;font-family:"微软雅黑","黑体";background-color: #ffffff;height: 450px;}
.user-rightgoods .mc{overflow:hidden;}
.user-rightgoods li{background:#fff;float:left;width:980px; _width:980px;overflow:hidden;padding:10px 0px;margin: 0px 5px;}
.user-rightgoods .jPic{text-align:center; background:#fff; _height:100%; float:left;width:445px;position: relative;border: 1px solid #EEEEEE;}
.user-rightgoods .jPic .biaoqian{position:absolute;right:5px;top:5px;width:89px;height:89px;}
.user-rightgoods .jPic .bq2,.user-rightgoods .jPic .bq4{background-position:-178px 0px;}
.user-rightgoods .jPic img{vertical-align:top;}
.user-rightgoods .jPic img.err-product{background:url(http://misc.360buyimg.com/lib/skin/e/i/error-jd.gif) no-repeat 50% 50%;}
.user-rightgoods .jPic a{display:block; margin:0 auto;}
.user-rightgoods .jGoodsInfo{overflow:hidden;background:#fff;float:left;width:520px;margin-left: 10px;}
.user-rightgoods .jDesc{height:70px; line-height:35px; font-size:24px; overflow:hidden;margin:15px 0px;}
.user-rightgoods .jDesc a{color:#666; text-decoration:none;font-family:微软雅黑;}
.user-rightgoods .jDesc a:hover{text-decoration:underline;}
.user-rightgoods .jPrice{height:80px;line-height:80px;overflow:hidden;margin-bottom: 10px;}
.user-rightgoods .jdPrice .jdNum{font-size:58px;}
.user-rightgoods .jSalePrice{font-size:14px;overflow:hidden;float:left;text-decoration:line-through;line-height:115px;}
.user-rightgoods .jsalebuy .gm:hover{background-color:#FF3734;}
.user-rightgoods .sright{float: right !important;}
.user-rightgoods .jsalebuy .gm { background-image:url(../images/lijqg.png);background-repeat: no-repeat;background-color: #a8ca40;width: 135px;height: 95px;display: block;}
.user-rightgoods .jSlogan { color: #a8ca40;height: 40px;line-height: 40px;overflow: hidden;font-size: 38px;margin: 10px 0px;}
.user-rightgoods .jdPrice { float: left;margin-left: 30px;color: #a8ca40;font-size: 14px;}

.user-sitzx{ background:#fff;}
.user-sitzx .bd { width:990px; overflow:hidden;}
.user-sitzx .itemlist { display:block;overflow:hidden; margin:0px auto; }
.user-sitzx li { display:block; width:240px; overflow:hidden; float:left; margin: 4px 2.5px 4px 3px;background:#fff;border: 1px solid #EEEEEE;}
.user-sitzx .jPhoto { display:block; width:240px; height:240px; position:relative; overflow:hidden; margin-bottom:0px; }
.user-sitzx .jPop { display:none; width:240px; height:240px; background:url(../images/wang.png) repeat; position:absolute; left:0px; top:0px; text-align:center; }
.user-sitzx .jPhoto:hover .jPop { display:block; }
.user-sitzx .jPop .jg { font-size:36px; color:#fff; line-height:46px; margin-top:75px; }
.user-sitzx .jPop .jdesc { line-height:20px; height:40px; overflow:hidden; color:#fff; padding:0px 30px; }
.user-sitzx .jInfo { display:block; height:25px; width:240px; overflow:hidden; background:#b2b2b1; line-height:25px; }
.user-sitzx .jInfo .addcart { background-position:0px 0px; }
.user-sitzx .jInfo .addcart, .user-sitzx .jInfo .gz { background-color: #a8ca40;background-image: url(../images/btn-coll-2.gif);background-repeat: no-repeat;display: block;width: 64px;height: 25px;overflow: hidden;float: right;cursor: pointer;text-indent: -1000px;}
.user-sitzx .jInfo .gz { background-position:0px -25px; margin-right:1px; }
.user-sitzx .jInfo .gz .btn-coll{opacity: 0;filter:progid:DXImageTransform.Microsoft.alpha(opacity=0);width:64px !important;}
.user-sitzx .jInfo .jPrice { float:left; color:#fff; }
.user-sitzx .jInfo .jPrice .jdRmb { font-weight:bold; font-size:14px; padding-left:10px; }
.user-sitzx .jInfo .jPrice .jdNum { font-weight:bold; font-size:14px;margin-right: 5px; }
.user-sitzx .jInfo .jPrice .jsRmb,.user-sitzx .jInfo .jPrice .jsNum { text-decoration:line-through; }

.user-lunbo .user-jBanner{ position:relative;}
.user-lunbo .jbannerImg{ position: relative;overflow: hidden;}
.user-lunbo .jbannerTab{width:100%; height:20px; position:absolute; bottom:5px; overflow:hidden; right:20px;}
.user-lunbo .jbannerTab span{width:14px; height:10px; line-height:10px; margin:0px; text-align:center; background:#8c8c8c; border:1px solid #ffffff; cursor:pointer; float:right;margin-right:5px;margin-left:5px; font-size:0px;}
.user-lunbo .jbannerTab span.show {width: 30px;height: 10px;line-height: 10px;margin: 0 0px;background: #a8ca40;color: white;border: 1px solid white;}

.user-sttjtzg{ background:#fff;}
.user-sttjtzg ul {background: none repeat scroll 0 0 #FFFFFF;overflow: hidden;padding-top: 10px;width: 990px;}
.user-sttjtzg li {border: 1px solid #EEEEEE;float: left;height: 395px;margin-bottom: 8px;margin-left: 8px;overflow: hidden;width: 317px;}
.user-sttjtzg li:hover{border-color: #a8ca40;transition: all 0.5s ease 0s;}
.user-sttjtzg .s-goodsimg, .user-sttjtzg .s-goodsimg a, .user-sttjtzg .s-goodsimg img {display: block;height: 311px;overflow: hidden;width: 311px;}
.user-sttjtzg .s-goodsimg {padding: 3px;}
.user-sttjtzg .s-goodsinfo {overflow: hidden;padding: 5px 10px;width: auto;}
.user-sttjtzg .s-price, .user-sttjtzg .s-name, .user-sttjtzg .s-goodsbtn {height: 18px;line-height: 18px;overflow: hidden;padding: 2px 0;width: 100%;}
.user-sttjtzg .s-name a {color: #666666;font: 12px/1.5 tahoma,arial;}
.user-sttjtzg .s-name a:hover{ color: #a8ca40; text-decoration:underline;}
.user-sttjtzg .s-price strong {color: #000000;font-size: 14px;}
.user-sttjtzg .s-price del { margin-left: 20px;}
.user-sttjtzg .s-buy { background: none repeat scroll 0 0 #a8ca40;color: #FFFFFF;font-family: arial;font-weight: bold;padding: 2px 10px;}

.user-fdj{ background:#fff;}
.user-fdj ul { width: 100%; overflow: hidden; height: 495px; }
.user-fdj li { float: left; _display: inline; width: 246px; height: 246px; border: 1px solid #eee; margin-right: -1px; margin-bottom: -1px; }
.user-fdj li .s-goods-box, .user-fdj .s-goodsimg, .user-fdj .s-goodsimg a, .user-fdj .s-goodsimg img { display: block; height: 234px; width: 234px; overflow: hidden; }
.user-fdj li .s-goods-box { padding: 5px; background: #fff; }
.user-fdj li:hover { position: relative; }
.user-fdj li:hover .zoom1 { left: 5px; top: 5px; }
.user-fdj li:hover .zoom2, .user-fdj li:hover .zoom3 { left: -30px; top: 5px; }
.user-fdj li:hover .zoom4 { right: 5px; top: 5px; }
.user-fdj li:hover .zoom5 { left: 5px; bottom: 5px; }
.user-fdj li:hover .zoom6, .user-fdj li:hover .zoom7 { left: -30px; bottom: 5px; }
.user-fdj li:hover .zoom8 { right: 5px; bottom: 5px; }
.user-fdj li:hover .s-goods-box {height: 353px;width: 306px;overflow: hidden;position: absolute;z-index: 2;padding: 2px;border: 2px solid #a8ca40;}
.user-fdj li:hover .s-goodsimg { padding: 3px; }
.user-fdj li:hover .s-goodsimg, .user-fdj li:hover .s-goodsimg a, .user-fdj li:hover .s-goodsimg img { display: block; width: 300px; height: 300px; }
.user-fdj .s-goodsinfo { padding: 2px 5px; overflow: hidden; }
.user-fdj .s-goodsinfo .s-name { height: 18px; line-height: 18px; overflow: hidden; padding: 2px 0; }
.user-fdj .s-goodsinfo .s-name a:hover{ color: #E4393C; text-decoration:underline;}
.user-fdj .s-goodsinfo .s-price { padding: 2px 0; }
.user-fdj .s-goodsinfo .s-price del { color: #666; margin-left: 140px; }
.user-fdj .s-goodsinfo .s-price strong { color: #a8ca40;font-size: 14px;}

.user-zoom .bd { width:988px; overflow:hidden; background:#fff; border:solid 1px #eee; padding:10px 0px 34px 0px; }
.user-zoom .in{ width:880px; padding:0 54px; }
.user-zoom .itemlist { display:block; overflow:hidden; width:900px; }
.user-zoom .jItem { display:block; float:left; width:130px; height:130px; margin:0px 17px 20px 0px;border: 1px solid #eee; }
.user-zoom .jItem:hover .jPop { display:block; }
.user-zoom .jPop { display: none;position: absolute;width: 310px;height: 335px;overflow: hidden;padding: 5px;background: #fff;border: solid 1px #a8ca40;z-index: 5;margin: -226px 0px 0px -96px;}
.user-zoom .jInfo .addcart,
.user-zoom .jInfo .btn-coll {background-image:url(../images/btn-coll-2.gif);background-repeat:no-repeat;display:block;width:64px;height:25px;overflow:hidden;float:right;cursor:pointer;text-indent:-1000px; background-color:#a8ca40;}
.user-zoom .jInfo .addcart { background-position:0px 0px; }
.user-zoom .jInfo .btn-coll { background-position:0px -25px; margin-right:1px; }
.user-zoom .jInfo .jPrice { float:left; color:#fff; }
.user-zoom .jInfo .jPrice .jdRmb { font-weight:bold; font-size:14px; padding-left:10px; }
.user-zoom .jInfo .jPrice .jdNum { font-weight:bold; font-size:14px; }
.user-zoom .jInfo .jPrice .jsRmb,
.user-zoom .jInfo .jPrice .jsNum { text-decoration:line-through; }
.user-zoom .jInfo { display: block;height: 25px;width: 310px;overflow: hidden;background: #a8ca40;line-height: 25px;}

.user_fltjj .jSortTab {overflow: hidden;position: relative;height: 37px;z-index: 2;border-top: 3px solid #a8ca40;}
.user_fltjj .jSortTab span { float: left;height: 37px;text-align: center;font-size: 14px;font-weight: bold;color: #a8ca40;cursor: pointer;}
.user_fltjj .jSortTab span.current {color: #fff;background: #a8ca40;}
.user_fltjj .jSortTab em { display: block;padding: 7px 0;}
.user_fltjj .jSortContent{overflow:hidden; margin-top:-1px; height:100%;}
.user_fltjj .jSortContent ul{overflow:hidden; display:none;margin:7px 0 0;padding:0 0 10px;}
.user_fltjj .jSortContent ul.current{display:block;}
.user_fltjj .jSortContent li{display:inline;}
.user_fltjj .jItem{padding-bottom:10px;float:left;width:247px;}
.user_fltjj .jItem:hover{background:#f2f2f2;}
.user_fltjj .jPic{text-align:center;padding:9px;}
.user_fltjj .jPic a{display:block;width:230px;height:230px;overflow:hidden;}
.user_fltjj .jGoodsInfo{padding:10px 9px 0;}
.user_fltjj .jDesc{height:30px; line-height:1.3; overflow:hidden;margin:12px 0 12px;}
.user_fltjj .jDesc a{color:#666;display:block;height:32px;overflow:hidden;}
.user_fltjj .jDesc a:hover{ color:#a8ca40;}
.user_fltjj .jDesc span{display:block;height:32px;color:#f89200;overflow:hidden;margin:6px 0 0;}
.user_fltjj .jdPrice{float:right;color:#9c9c9c;}
.user_fltjj .jPrice{color:#443e2e;}
.user_fltjj .jsNum{text-decoration:line-through;}
.user_fltjj .jPrice .jRmb {font-weight: bold;color: #a8ca40;}
.user_fltjj .jdNum {font-family: impact;font-size: 18px;color: #a8ca40;}
