@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0;}
body {font-family:"Microsoft YaHei",微软雅黑，Verdana,Helvetica,Arial,sans-serif;margin: 0 auto; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline;text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
*{box-sizing: border-box;}
/*通用*/
.comWidth { width:100%; margin:0 auto; }
.fl { float:left;}
.fr { float:right;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix:after {content:"";display:table;clear:both;}
.clearfix { *zoom:1; }
.bordernone { border:none !important;}
.carousel-indicators { z-index:3;}
input[type=button]{
	cursor: pointer;
}
input:focus{
	outline: none;
}
/*网页*/
.con,.main,.logo,.content{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.con{
	padding-bottom: 43px;
	color: #fff;
	background-image: url(../img/wall_img/bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.main{
	width: 1210px;
	margin: 0 auto;
}
.logo{
	margin: 30px 10px 30px 10px;
}
.logo img{
	display: inline-block;
	margin-right: 28px;
}
.logo h1{
	line-height: 55px;
	font-size: 44px;
	color: #fff;
}
.content{
	background-color: rgba(0,0,0,0.3);
	border-radius: 30px;
	padding: 20px 15px 10px 0;
}
.index-list{
	box-sizing: border-box;
	overflow: hidden;
	overflow-y: scroll;
	height:665px;
}
.index-list li{
	width: 16.5%;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	text-align: center;
	color:#fff;
	font-size: 18px;
	margin-bottom: 50px;
}
.index-list li img{
	width: 130px;
	height: 130px;
	border-radius: 50%;
}
.footer{
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
}
.footer-msg{
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	margin: 20px 0;
	padding: 12px 0;
	border-radius: 30px;
}
.footer-msg h1{
	padding-left: 40px;
	font-size: 18px;
	color:#fff;
	float: left;
	line-height: 50px;
}
.footer-msg ul li{
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	margin-right: 40px;
}
.footer-menu a{
	display: block;
	font-size: 12px;
	color: #fff;
	text-align: center;
}
.footer p{
	text-align: center;
	font-size: 14px;
}
.footer-menu-pic{
	font-size: 12px;
	color: #fff;
	margin: 0 auto;
	width: 50px;
	box-sizing: border-box;
	overflow: hidden;
	padding-top: 41px;
	background-repeat: no-repeat;
	text-align: center;
	background-position:center 0;
}
.shangqiang{
	background-image: url(../img/wall_img/icon_shangqiang.png);
}
.shangqiang:hover{
	color: #39B4E9;
	background-image: url(../img/wall_img/icon_shangqiang2.png);
}
.shangqiang.active{
	color: #39B4E9;
	background-image: url(../img/wall_img/icon_shangqiang2.png);
}
.liebiao{
	background-image: url(../img/wall_img/icon_liebiao.png);
}
.liebiao:hover{
	color: #39B4E9;
	background-image: url(../img/wall_img/icon_liebiao2.png);
}
.liebiao.active{
	color: #39B4E9;
	background-image: url(../img/wall_img/icon_liebiao2.png);
}
.choujiang{
	background-image: url(../img/wall_img/icon_choujiang.png);
}
.choujiang:hover{
	color: #39B4E9;
	background-image: url(../img/wall_img/icon_choujiang2.png);
}
.choujiang.active{
	color: #39B4E9;
	background-image: url(../img/wall_img/icon_choujiang2.png);
}
.footer-menu-pic img{
	display: block;
}
/*留言墙*/
.msg-list{
	padding-left: 45px;
	box-sizing: border-box;
	overflow: hidden;
	overflow-y: scroll;
	height:580px;
}
.msg-list li{
	box-sizing: border-box;
	overflow: hidden;
	width: 100%;
	margin-bottom: 30px;
}
.msg-list li img{
	width: 105px;
	height: 105px;
	margin-right: 20px;
	border-radius: 50%;
}
.msg-list-info{
	padding-top: 15px;
	padding-bottom: 10px;
}
.msg-list-info .msg-name{
	font-size: 20px;
}
.msg-list-info span{
	font-size: 14px;
	margin-right: 10px;
}
.msg-content{
	display: inline-block;
	position: relative;
	background-color: #39B4E9;
	border-radius: 10px;
	max-width: 970px;
	font-size: 30px;
	padding: 15px;
	table-layout: fixed;
    word-break: break-all;
}
.arrow{
	position: absolute;
	top: 10px;
	left: -16px;
	width: 0;
	height: 0;
	font-size: 0;
	border: solid 8px;
	border-color: transparent  #39B4E9 transparent transparent ;
}
/*抽奖*/
.award-main,.award-content-header,.award-content-detail{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.award-content{
	box-sizing: border-box;
	overflow: hidden;
	width:832px;
	height: 650px;
	background-color: rgba(0,0,0,0.3);
    border-radius: 30px;
}
.award-content-header{
	padding:30px 45px ;
}
.award-content-header h1{
	font-size: 28px;
	padding-left:15px;
}
.award-content-header h2{
	font-size: 20px;
}
.award-content-header h2 span{
	font-size: 26px;
}
.award-content-header{
	border-bottom: 1px solid #666666;
}
.award-content-detail{
	margin: 0 auto;
	padding: 65px 0;
	text-align: center;
	position: relative;
}
.award-detail-pic,.award-detail-pic li{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.award-detail-pic li.active{
	display: block;
}
.award-detail-pic li{
	display: none;
}
.award-detail-pic li img{
	width:260px;
	height: 260px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}
.award-content-name{
	padding-top:25px;
	font-size: 23px;
	text-align: center;
	padding-bottom:50px;
}
.award-detail-start{
	margin: 0 auto;
	text-align: center;
}
.award-detail-start span{
	font-size: 16px;
}
.award-detail-start select{
	width: 87px;
	height: 35px;
	border-radius: 5px;
	margin: 0 15px;
	font-size: 16px;
	color: #2e2727;
	padding-left: 15px;
}
.award-detail-num{
	margin-right: 30px;
	float: left;
	height: 40px;
	line-height: 40px;
}
.award-content-detail input[type=button]{
	position: absolute;
	text-align:center;
	background-color: #39B4E9;
	border: none;
	border-radius: 20px;
	width: 125px;
	height: 40px;
	color: #fff;
	font-size: 20px;
	top:430px;
	display: block;
	left:353.5px;
}
.award-list{
	position: relative;
	width: 356px;
	background-color: #fff;
	height: 650px;
	border-radius: 40px;
	color: #4a4a4a;
}
.award-list-name{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	height: 85px;
	line-height: 85px;
	background-color: #f9f9f9;
	border-radius: 40px 40px 0 0;
	padding: 0 25px;
}
.award-list-name h1{
	font-size: 27px;
	color: #444444;
}
.award-list-name h2{
	font-size: 16px;
	color: #444444;
}
.award-list-name h2 span{
	font-size: 16px;
	color: #0c5e9e;
}
.award-list-title{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.award-list-title{
	height:50px;
	line-height: 50px;
	font-size: 16px;
	color: #4a4a4a;
	padding-left: 50px;
	padding-right: 60px;
	background-color:#f9f9f9 ;
	border-top: 1px solid #ebebeb;
}
.award-list ul{
	box-sizing: border-box;
	height:400px;
	overflow-x: hidden;
	overflow-y: scroll;
	appearance: none;
	-webkit-appearance: none;

}
.award-list ul li{
	cursor: pointer;
	height: 80px;
	border-bottom: 1px solid #eaeaea;
}
.award-list-info span{
	margin-top: 27px;
	display: block;
	width: 27px;
	height: 27px;
	line-height: 27px;
	border-radius: 50%;
	background-color: #989898;
	color: #FFFFFF;
	text-align: center;
}
.award-list ul li p{
	padding-right: 10px;
	padding-top: 25px;
	width:186px;
	font-size: 18px;
	text-align: center;
}
.award-list-info{
	padding-left: 35px;
}
.award-list-info img{
	margin-left: 10px;
	margin-top: 10px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.award-restart{
	position: absolute;
	display: block;
	text-align: center;
	width:235px;
	height: 65px;
	border: none;
	background-color: #39b4e9;
	color: #fff;
	font-size: 24px;
	border-radius:40px;
	bottom: 25px;
	margin:0 auto;
	left: 60.5px;
	right: 60.5px;
}

.wall-con .content{
	/*margin-bottom: 20px;*/
}
.wall-con .msg-list{
	height: 665px;
}
