@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0;}

h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline;text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
*{box-sizing: border-box;}
input,select{
	appearance: none;
	-webkit-appearance: none;
	font-family:"Microsoft YaHei",微软雅黑，Verdana,Helvetica,Arial,sans-serif;
}
input:focus{
	appearance: none;
	-webkit-appearance: none;
	outline: none;
}
select:focus{
	appearance: none;
	-webkit-appearance: none;
	outline: none;
}
.user-con { background:#fff; color:#555; font-size:62.5%;font-family:"Microsoft YaHei",微软雅黑，Verdana,Helvetica,Arial,sans-serif;margin: 0 auto;	max-width: 640px;min-width: 320px;}

/*通用*/
.comWidth { width:100%; margin:0 auto; }
.fl { float:left;}
.fr { float:right;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix:after {content:"";display:table;clear:both;}
.clearfix { *zoom:1; }
.bordernone { border:none !important;}
.carousel-indicators { z-index:3;}
@font-face {font-family: 'iconfont';
		src: url('../../fonts/wechat_wall/iconfont.eot'); /* IE9*/
		src: url('../../fonts/wechat_wall/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../../fonts/wechat_wall/iconfont.woff') format('woff'), /* chrome、firefox */
		url('../../fonts/wechat_wall/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
		url('../../fonts/wechat_wall/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
		font-family:"iconfont" !important;
		font-size:2.5rem;font-style:normal;
		-webkit-font-smoothing: antialiased;
		-webkit-text-stroke-width: 0.2px;
		-moz-osx-font-smoothing: grayscale;
}


/*index*/
.user-con,header,.main,.other-ava,.user-chat{
    width: 100%;
		box-sizing: border-box;
		overflow: hidden;
}
html,.user-con{
	background-color: #f3f5f7;
}
header{
		text-align: center;
		line-height: 5rem;
		background-color: #38af82;
		color: #fff;
		position: relative;
}
header i{
	position: absolute;
	left:1rem;
	color: #fff;
}
header h1{
	font-size: 2.8rem;
}
.user-form{
	background-color: #fff;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 10rem;
}
.user-pic{
	max-width: 10rem;
	max-height: 10rem;
	overflow: hidden;
	padding: 1rem;
}
.user-pic img{
	width: 100%;
	vertical-align: middle;
	border-radius: 50%;
}
.user-info{
	margin-left: 10.5rem;
}
.user-name{
	padding: 1rem 0;
	position: relative;
	padding-right: 1.5rem;
	overflow: hidden;
}
.user-name i{
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	display: none;
	font-size: 2.8rem;
	height: 2.5rem;
	line-height: 2.5rem;
	color: #9f9f9f;
}
.user-info div:not(:last-child){
	border-bottom: 1px solid #e5e5e5;
}
.user-name input[type=text]{
	width: 100%;
	border: none;
	height: 3rem;
	line-height: normal;
	color: #151515;
	font-size: 2.4rem;
}
.user-name select{
	vertical-align: middle;
	line-height: normal;
	color: #151515;
	font-size: 2.4rem;
	border: none;
	height: 3rem;
	width: 100%;
	appearance: none;
}
.other-ava{
	background: #f3f5f7;
	padding:1.5rem 1rem 0 1rem;
}
.other-ava h2{
	font-size: 1.8rem;
	color: #525252;
}
.other-ava ul{
	margin-top: 2rem;
	box-sizing: border-box;
	overflow: hidden;
}
.other-ava ul li{
	float: left;
	margin-right: 2rem;
}
.other-ava ul li a{
	display: block;
	width: 7rem;
}
.other-ava ul li a img{
	width: 100%;
	border-radius: 50%;
}
.user-btn{
	margin-top: 2.5rem;
	width: 100%;
	background-color: #38af82;
	display: block;
	line-height: 5rem;
	text-align: center;
	font-size: 2.6rem;
	color: #fff;
	border-radius: 10px;
}
.user-chat{
	height: 100%;
	padding: 1.5rem 1rem;
	overflow-x: hidden;
	overflow-y: scroll;
}
/*.first-chat{
	margin-top: 3rem;
}*/
.user-chat p{
	margin: 0 auto;
	width: 5rem;
	line-height: 2.5rem;
	text-align: center;
	font-size:1.6rem;
	color:#787878;
	background-color: #ebebeb;
	margin-bottom: 2rem;
}
.chat-others,.chat-me{
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 2rem;
	width: 100%;
}
.chat-others{
	float: left;
}
.chat-me{
	float: right;
}
.chat-others .chat-img{
	padding-right: 0.5rem;
}
.chat-me .chat-img{
	padding-left: 0.5rem;
}
.chat-img img{
	width: 6rem;
	border-radius: 50%;
}
.chat-content h2{
		font-size: 1.6rem;
		color: #4f4f4f;
		line-height: 2rem;
		padding-bottom: 0.3rem;
}
.chat-me .chat-content h2{
	text-align: right;
}
.chat-content{
	margin-left: 1rem;
	max-width: 70%;
	position: relative;
}
.chat-others .chat-content{
	margin-left: 1rem;
}
.chat-me .chat-content{
	margin-right: 1rem;
}
.chat-others-content{
	border-radius: 10px;
	width:auto;
	font-size: 1.8rem;
	color: #252424;
	/*position: relative;*/
	padding: 1rem;
	background-color: #e7e7e7;
	table-layout:fixed;
	word-break: break-all;
/*	overflow:hidden;*/
}
.chat-me .chat-others-content{
	background-color: #38af82;
}

.user-chat .arrow{
	position: absolute;
	top: 2.5rem;
	font-size: 0;
	width: 0;
	height: 0;
	border: solid 1.2rem;
}

.chat-others .arrow{
	left:-2rem;
	border-color:transparent  #e7e7e7 transparent transparent;
}
.chat-me .arrow{
	right:-2rem;
	border-color:transparent transparent transparent #38af82;
}

.chat-me .chat-others-content{
	color: #fff;
}
.user-chat-comment{
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	padding:0.8rem 1rem;
	background-color: #fff;
}
.user-chat-comment textarea{
	width: 80%;
	border: none;
	height: 5rem;
	background-color: #f0f1f1;
	padding-top: 0.6rem;
	padding-left: 1rem;
	border-radius: 5px;
	font-size: 1.8rem;
	color: #333333;
	overflow: hidden;
	text-align: left;
}
.user-chat-comment a{
	display: block;
	width: 19%;
	line-height: 5rem;
	color: #fff;
	font-size: 2rem;
	border-radius: 5px;
	background-color: #38af82;
	text-align: center;
}

.chat-main{
	/*padding-bottom: 5rem;*/
}
.user-chat-comment{
	position: fixed;
	bottom: 0;
	left: 0;
}

/*10-14*/
.user-con{
	position: relative;
}
.chat-main{
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	/*overflow-y: scroll;*/
	bottom: 7rem;
	left: 0;
	top: 0;
	/*z-index: 10;*/
	-webkit-overflow-scrolling: touch;
}




/*media*/
@media all and (max-width: 340px) {
  .other-ava ul li a{
		display: block;
		width: 6rem;
	}
	/*.user-chat .arrow{
		position: absolute;
		top: 0.4rem;
		font-size: 0;
	}*/
}

@media (min-width: 500px) and (max-width: 640px) {
  html {
    font-size: 60%; } }
@media (min-width: 400px) and (max-width: 500px) {
  html {
    font-size: 55%; } }
@media (min-width: 340px) and (max-width: 400px) {
  html {
    font-size: 50%; } }
@media all and (max-width: 340px) {
  html {
    font-size: 46%; } }