{include file="admin_pageheader"}

<div class="wrapper">
    <div class="title">分销商管理 - 分销商等级</div>
        <div class="content_tips">
            <div class="tabs_info">
                <ul>
                  <li><a href="{url('shop')}">分销商列表</a></li>
                  <li class="curr"><a href="{url('drp_user_credit')}">分销商等级</a></li>
                </ul>
            </div>
            <div class="explanation" id="explanation">
                <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
                <ul>
                    <li>一、分销商等级默认三级。 </li>
                    <li>二、分销商等级名称、佣金上限、佣金下限可以自定义修改。</li>
                </ul>
            </div>
            <div class="flexilist">
                <div class="common-content">
                    <div class="list-div" id="listDiv">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <thead>
                                <tr>
                                  <th><div class="tDiv">分销商等级名称</div></th>
                                  <th><div class="tDiv">佣金下限</div></th>
                                  <th><div class="tDiv">佣金上限</div></th>
                                  <th><div class="tDiv text-center">操作</div></th>
                                </tr>
                            </thead>
                            {foreach $list as $key=>$val}
                            <tr>
                                <td><div class="tDiv">{$val.credit_name}</div></td>
                                <td><div class="tDiv">{$val.min_money}</div></td>
                                <td><div class="tDiv">{$val.max_money}</div></td>
                                <td class="handle text-center">
                                    <div class="tDiv a1">
                                        <a href="{url('drp_user_credit_edit', array('id' => $val['id']))}" class="btn_edit fancybox fancybox.iframe"><i class="fa fa-edit"></i>编辑</a>
                                    </div>
                                </td>
                            </tr>
                            {/foreach}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#explanationZoom").on("click",function(){
        var explanation = $(this).parents(".explanation");
        var width = $(".content_tips").width();
        if($(this).hasClass("shopUp")){
            $(this).removeClass("shopUp");
            $(this).attr("title","收起提示");
            explanation.find(".ex_tit").css("margin-bottom",10);
            explanation.animate({
                width:width
            },300,function(){
                $(".explanation").find("ul").show();
            });
        }else{
            $(this).addClass("shopUp");
            $(this).attr("title","提示相关设置操作时应注意的要点");
            explanation.find(".ex_tit").css("margin-bottom",0);
            explanation.animate({
                width:"118"
            },300);
            explanation.find("ul").hide();
        }
    });


    //弹出框
    $(".fancybox").fancybox({
        width       : '60%',
        height      : '60%',
        closeBtn    : true,
        title       : ''
    });

</script>
{include file="admin/footer"}
