{include file="page_header"}
<body>
    <form action="{url('drp/index/category')}" method="post">
    		<div class="con ">
			<div class="open-two-box drp-message-header b-color-f">
				<h4 class="f-">提示消息<span class="fr"><i class="iconfont icon-guanbi"></i></span></h4>
				<p class="f-03 m-top08">
					您的店铺已开通成功，您的店铺已开通成功，您的店铺已开通成功，您的店铺已开通成功，您的店铺已开通成功！
				</p>
			</div>	
			<!--后台没有开通审核-->
			<section class="drp-two-cont b-color-f">
				<div class="dis-box drp-shop">
					<div class="drp-left-icon"><i class="iconfont icon-dianpu"></i></div>
					<div class="box-flex drp-right-cont">
						<h4>店铺信息：</h4>
						<p class="m-top08">生鲜旗舰店</p>
						<p>15618323668</p>
					</div>
				</div>
				<section class="dis-box  drp-btton">
					<a href="javascript:;" class="btn-submit box-flex ">进入分销中心</a>
				</section>
				<div class="text-c f-06  drp-tishi">
					<a href="javascript:;" class="btn-tishi">店铺还没有商品，点击去添加</a>
				</div>
			</section>
			<!--后台开通了店铺审核-->
			<section class="drp-shenghe-cont" style="display:none">
				<p>请等待管理员审核！</p>				
			</section>
		</div>
 </form>
		<!--引用js-->

<script type="text/javascript">

	$('.drp-goods').infinite({url: "{url('drp/index/category')}", template: 'j-product'});
	var url = "{url('category')}";
	$(document).ready(function() {
			$(".drp-message-header i").click(function() {
					$(".drp-message-header").hide();
			});
	});

	$(".btn-submit").click(function(){
		var cat = '';
		$(".com-post-adr label.active").each(function(){
			cat += $(this).attr("cat-id")+",";
		});
		if(cat){
			$("input[name=cate]").val(cat);
		}
	});
	
		
</script>
</body>

</html>