{include file="page_header"}
		<div class="con mb-7">
			<div class="distributor-box">
				<img src="{elixir('img/distributor.png')}">
				<div class="dis-logo"><img src="{elixir('img/dis-logo.png')}"></div>
				<div>
					<section class="padding-all distributor-cont-box">
                                            <p>{$novice}</p>
					</section>
					<section class="padding-all distributor-cont2-box">
						<h4>{$customs}特权</h4>

						<ul class="dis-cont-1">
							<li>
								<div class="dis-box dis-list">
									<div class="dis-left-box padding-all">
										<div class="dis-header dis-headerred"><i class="iconfont icon-dianpu is-icon-box"></i></div>
									</div>
									<div class="box-flex">
										<h5>独立微店</h5>
										<p>拥有自己的微店及推广二维码；</p>
									</div>
								</div>
							</li>
							<li>
								<div class="dis-box dis-list">
									<div class="dis-left-box padding-all">
										<div class="dis-header dis-headerhs"><i class="iconfont icon-money is-icon-box"></i></div>
									</div>
									<div class="box-flex">
										<h5>销售拿佣金</h5>
										<p>微店卖出商品，您可以获得佣金；</p>
									</div>
								</div>
							</li>
							<li>
								<div class="dis-box dis-list padding-all">
									<p>{$customs}的商品销售统一由厂家直接收款、直接发货、并提供产品的售后服务{$custom}佣金由厂家统一设置。</p>
								</div>
							</li>
						</ul>
					</section>
				</div>
				<!--悬浮btn star-->
				<section class="filter-btn dis-box">
					<a class="filter-btn-kefu filter-btn-a n-but-box"><span class="dis-money">{$price}</span></a>
                                        <a class="btn-submit box-flex" href="{url('drp/index/purchasepay')}">立即购买</a>
				</section>
				<!--悬浮btn end-->
				<!--引用js-->

	</body>

</html>