{include file="page_header"}
		<div class="con">
			<div class="user-recharge">
				<section class="j-show-div j-show-get-val padding-lr b-color-f">
					<div class="dis-box text-all">
						<label class="t-remark">金额</label>
						<div class="box-flex t-goods1 text-right onelist-hidden"><span class="color-red n-money">{$price}</span></div>
					</div>
				</section>
				<section class="goods-show-title of-hidden padding-all b-color-f m-top06">
					<h3 class="fl g-c-title-h3">选择支付方式</h3>
				</section>
				<section class="j-show-div j-show-get-val padding-lr  b-color-f">

					<div class="ts-3 b-color-1 j-filter-show-div">
						<div class="swiper-wrapper">
							<div class="swiper-slide select-two">
								<ul class="j-get-one">
                                                                    {foreach $payment_list as $payment}
									<li class="ect-select n-content">
										<label class="ts-1active" pay_id="{$payment.pay_id}">
                                                                                    {if $payment.pay_fee}
											{$payment.pay_name}<em class="t-remark">[手续费]</em></span> <em class="t-first">{$payment.pay_fee}</em>
                                                                                 {else}
                                                                                        {$payment.pay_name}
                                                                                     {/if}
											<i class="fr iconfont icon-gou ts-1"></i></label>
									</li>
									{/foreach}								
								</ul>
							</div>
							<div class="swiper-scrollbar"></div>
						</div>
					</div>
				</section>
			</div>

			<div class="padding-all payshow">
				
			</div>

		</div>

<script>
$(".ts-1active").click(function(){
      var id = $(this).attr('pay_id');
      $.get("{url('drp/index/purchase_pay')}",{pay_id:id},function(info){
          $(".payshow").html(info);
      });
});
</script>
</body>
</html>