{include file="page_header"}

	<body class=" ">
		<section class="m-top01 drp-shop-box">
			<!--列表 start-->
			<script id="j-product" type="text/html">
				<%if totalPage > 0%>
				<%each list as lists%>

			<div class="dis-shop-list b-color-f  p-r padding-all ">
				<div class="dis-box">
					<div class="box-flex">
						<h4 class="f-07 col-3">转出记录</h4>
						<p class="f-05 col-9 m-top02"><%lists.time%></p>

					</div>
					<div class="box-flex">
						<h4 class="f-06 color-red text-right "><%#lists.money%></h4>
						<p class="f-04 color-red text-right m-top02"></p>
					</div>
				</div>
				<p class="f-02 col-9 m-top04">佣金已转入账户余额中</p>
			</div>
			<%/each%>
			<%else%>
			<div class="no-div-message">
				<i class="iconfont icon-biaoqingleiben"></i>
				<p>亲，此处没有内容～！</p>
			</div>
			<%/if%>
			</script>

		</section>
		<script>
			var url="{url('drptransferlog')}";
 			$('.drp-shop-box').infinite({url: url, template: 'j-product'});
		</script>
	</body>

</html>