{include file="page_header"}

	<body class=" ">
		<section class="product-sequence dis-box">
			<a class="box-flex active a-change fl-click" category="2">全部</a>
			<a class="box-flex fl-click" category="0">未分成</a>
			<a class="box-flex fl-click" category="1">已分成</a>
		</section>

		<section class="m-top06 j-money-divided">
			<!--列表 start-->
			<script id="j-product" type="text/html">
				<%if totalPage > 0%>
				<%each list as lists%>

			<div class="dis-shop-list b-color-f  p-r padding-all ">
				<div class="dis-box">
					<div class="box-flex">
						<h4 class="f-07 col-3">佣金分成</h4>
						<p class="f-05 col-9 m-top02"><%lists.time%></p>

					</div>
					<div class="box-flex">
						<h4 class="f-06 col-3 text-right">+<%#lists.money%></h4>
						<p class="f-04 color-red text-right m-top02"><%lists.is_separate%></p>
					</div>
				</div>
				<p class="f-02 col-9 m-top04">分成订单号:<%lists.order_sn%>,金额:<%#lists.money%>元</p>
			</div>
			<%/each%>
			<%else%>
			<div class="no-div-message">
				<i class="iconfont icon-biaoqingleiben"></i>
				<p>亲，此处没有内容～！</p>
			</div>
			<%/if%>
			</script>

		</section>
		<script>
			var url = ROOT_URL + 'index.php?m=drp&c=user&a=drplog';
			var infinite = $('.j-money-divided').infinite({url: url,template: 'j-product'});

			$(".product-sequence a").click(function (){
				var status = $(this).attr('category');
				infinite.onload('status='+status);
				$(this).addClass("active").siblings().removeClass("active");
			})


		</script>
	</body>

</html>