{include file="page_header"}
<body class="rank-bg">
		<div class="rank-img-box">
			<div class="n-dis-box"></div>
			<div class="header-dis-p-img">
				<div class="rank-img-box"><img src="{elixir('img/fx-peihangbao.png')}" /></div>
				<div class="rank-list-cont f-03">您的排名:<span>{$rank}</span>名</div>
				<div class="hsse-bg">
					<div class="rank-list"><img src="{elixir('img/fx-list.png')}"></div>
					<div class="huangse-bg ">
						<div class="huangse-bg-1  p-r">
							<div class="l-line p-a"></div>
							<div class="l-line-1 p-a"></div>
							<div class="rank-height next-bg-1">
								<div class="rank-cont-box">

                                    <div class="info">
                                    <script id="j-product" type="text/html">
                                    <%if list%>
                                    <%each list as key num%>
									<section class="rank-cont">
										<a href="{url('team_detail')}&uid=<%key.user_id%>">
											<ul class="dis-box">
												<li class="rank-one">
													<div class="ranklist">
                                                        <%if key.img%>
                                                        <img src="<%key.img%>">
                                                        <%else if key.span%>
                                                        <span><%key.span%></span>
                                                        <%/if%>
                                                    </div>
												</li>
												<li class="rank-two">
													<div class="r-headerimg"><img src="<%if key.headimgurl%><%key.headimgurl%><%else%> {elixir('img/no_image.jpg')} <%/if%>"></div>
												</li>
												<li class="box-flex">
													<h2><%if key.nickname%><%key.nickname%><%else%><%key.user_name%><%/if%></h2>
													<p>获得佣金:<span><%#key.money%></span></p>
												</li>
												<li class="rank-stree">
													<div class="rank-jt"><img src="{elixir('img/fx-four.png')}"></div>
												</li>
											</ul>
										</a>
									</section>
                                    <%/each%>
                                    <%/if%>

                                    </script>
                                    </div>

									</div>
									</div>
									</div>
									</div>
									</div>
								</div>
							</div>
	<!--快捷导航-->
   {include file="no_search_nav"}
                <li>
                     <a href="{url('drp/user/index')}">
                         <i class="iconfont icon-fenxiao"></i>
                         <p>{$custom}中心</p>
                     </a>
                </li>
    {include file="float_nav_footer"}

<script>
 var url="{url('rank_list')}";
 $('.info').infinite({url: url, template: 'j-product'});
</script>

</body>
</html>