{include file="page_header"}
<body class=" ">
	<div class="con">
		<div class="distribution-new">
			<ul>
				{foreach $drp_article as $key => $list}
				<li class="p-r">
					<h2  class="padding-all">{$list.order}、{$list.title}<span class="t-jiantou t-remark fr"><i class="iconfont icon-more"></i></span></h2>
					<div  class="help-cont">{$list.content}</div>
				</li>
				{/foreach}

			</ul>
		</div>
	</div>
		
		<div class="mask-filter-div"></div>
		<!--引用js-->

	<script>
		$(".distribution-new ul li").click(function(){
			if(!$(this).hasClass("active")){
				$(this).addClass("active").siblings().removeClass("active");
			}else{
				$(this).removeClass("active");
			}

		});
	</script>

	</body>

</html>