<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>{$page_title}</title>
    <meta name="description" content="{$description}"/>
    <meta name="keywords" content="{$keywords}"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <script src="__PUBLIC__/vendor/common/jquery.min.js"></script>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background: #EC5151;
            overflow: hidden;
        }
        img {
            width: 100%;
        }
    </style>
    {if $is_wechat}
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        // 分享内容
        var shareContent = {
            title: '{$share_data.title}',
            desc: '{$share_data.desc}',
            link: '{$share_data.link}',
            imgUrl: '{$share_data.img}'
        };
        $(function(){
            var url = window.location.href;
            var jsConfig = {
                debug: false,
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'onMenuShareQZone'
                ]
            };
            $.post('{url("wechat/jssdk/index")}', {url: url}, function (res) {
                if(res.status == 200){
                    jsConfig.appId = res.data.appId;
                    jsConfig.timestamp = res.data.timestamp;
                    jsConfig.nonceStr = res.data.nonceStr;
                    jsConfig.signature = res.data.signature;
                    // 配置注入
                    wx.config(jsConfig);
                    // 事件注入
                    wx.ready(function () {
                        wx.onMenuShareTimeline(shareContent);
                        wx.onMenuShareAppMessage(shareContent);
                        wx.onMenuShareQQ(shareContent);
                        wx.onMenuShareWeibo(shareContent);
                        wx.onMenuShareQZone(shareContent);
                    });
                }
            }, 'json');
        })
    </script>
    {/if}
</head>

<body>

<img src="{$headimgurl}" style="width:15.625% ;position: absolute;" class="headimgurl_id">       
<img src="{$ewm}">

<script type="text/javascript">
    
    //获取当前页面宽高 
    var window_width=$(window).width();

    //获取比例
    var bili=numDiv(window_width,640);


    //重新计算定位值
    var po_left=numMulti(bili,{$av_left});  
    var po_top =numMulti(bili,{$av_top});
 

    $('.headimgurl_id').css({"left":po_left,"top":po_top});   


    function numMulti(num1, num2) {
         var baseNum = 0;
         try {
             baseNum += num1.toString().split(".")[1].length;
         } catch (e) {
         }
         try {
             baseNum += num2.toString().split(".")[1].length;
         } catch (e) {
         }
         return Number(num1.toString().replace(".", "")) * Number(num2.toString().replace(".", "")) / Math.pow(10, baseNum);
     }

     function numDiv(num1, num2) {
         var baseNum1 = 0, baseNum2 = 0;
         var baseNum3, baseNum4;
         try {
             baseNum1 = num1.toString().split(".")[1].length;
         } catch (e) {
             baseNum1 = 0;
         }
         try {
             baseNum2 = num2.toString().split(".")[1].length;
         } catch (e) {
             baseNum2 = 0;
         }
         with (Math) {
             baseNum3 = Number(num1.toString().replace(".", ""));
             baseNum4 = Number(num2.toString().replace(".", ""));
             return (baseNum3 / baseNum4) * pow(10, baseNum2 - baseNum1);
         }
      }

</script>
</body>
</html>