{include file="page_header"}
	<body class=" ">
		<div class="dis-j-bg">
			<div class="drp-user-header">
				<div class="padding-all dis-box">
					<a href="{url('shop/index',array('id'=>$shopid))}">
						<div class="header-img"><img src="{if $info.headimgurl}{$info.headimgurl}{else} {elixir('img/no_image.jpg')} {/if}" style="max-width:60px;"></div>
					</a>
					<a href="{url('shop/index',array('id'=>$shopid))}" class="box-flex">
						<div class="hesder-admin">
							<h4 class="ellipsis-one f-07 color-whie onelist-hidden">{$info.name}</h4>
							<p class="f-03 user-reg-top color-whie m-top04">开店时间：{$info.time}</p>
						</div>
					</a>
					<div class="user-right-maxbox">
                        {if $shopid}
						<a href="{url('shop/index',array('id'=>$shopid))}">
							<div class="dis-set fr">
								<i class="iconfont icon-dianpu text-c color-whie f-06"></i>
							</div>
						</a>
                        {/if}
					</div>
				</div>

			</div>
		</div>
		<section class="b-color-f drp-money-list">
			<div class="money-list padding-t-1 dis-box my-dingdan purse-f dis-s">
				<a href="javascript:;" class="box-flex">
					<p class="f-02 col-8 p-t">累计贡献(元)</p>
					<h4 class="ellipsis-one color-red">{$info.sum_money}</h4>

				</a>
				<a href="javascript:;" class="box-flex">
					<p class="f-02 col-8 p-t">今日贡献(元)</p>
					<h4 class="ellipsis-one col-6">{$info.now_money}</h4>
				</a>
			</div>
			<div class="padding-t">
                <!--<p class="f-02 col-8 dis-t-2">累计获得佣金(元)<span class="col-4 f-02"> {$info.money}</span></p>-->
            </div>

		</section>
		<section class="dis-box  padding-t">
			<a href="{url('team',array('user_id'=>$info.user_id))}" class="btn-submit min-btn br-5 box-flex">查看下级会员({$info.next_num}人)</a>
		</section>

		<!--引用js-->
    <!--快捷导航-->
   {include file="no_search_nav"}
                <li>
                     <a href="{url('drp/user/index')}">
                         <i class="iconfont icon-fenxiao"></i>
                         <p>{$custom}中心</p>
                     </a>
                </li>
    {include file="float_nav_footer"}
	</body>

</html>
