{include file="page_header"}
	<body>
		<div class="mb-1">
			<header class="dis-deta-box dis-j-bg">
				<p class="color-whie f-02">获得佣金（元）</p>
				<h2 class="color-whie">{$order.total_orders_drpmoney}</h2>
			</header>
			<section class="m-top08 flow-checkout-pro-1">
				<header class="b-color-f dis-box padding-all">
					<span class=" box-flex">买家：{$order.user_name}</span>
					<em class="j-goods-coupon t-first f-06">{if $order.is_separate == 1}已分成{else}等待处理{/if}</em>
				</header>
				<div class="f-c-p-orderid padding-all m-top1px b-color-f">
					<h4 class="t-remark2"><label class="t-remark">订单号：</label>{$order.order_sn}</h4>
					<p class="t-remark3 m-top04">{$order.order_time}</p>
				</div>


				<div class="product-list j-product-list product-list-small" data="2">
					<ul>
						{foreach $order.goods as $list}
						<li>
							<div class="product-div b-color-f ">
								<img class="product-list-img" src="{$list.goods_thumb}">
								<div class="product-text">
									<a href="{$list.goods_url}"><h4>{$list.goods_name}</h4></a>
									<p><span class="f-06 t-first ">{$list.order_time}</span>
										<label class="fr f-07 d-n col-9 mar-r">×{$list.goods_number}</label>
									</p>
									<p class="dis-box f-02 col-9"><span class="box-flex">{$list.goods_attr}</span></p>

								</div>
							</div>
						</li>
						{/foreach}
					</ul>
				</div>
				<footer class="padding-all b-color-f m-top1px of-hidden">
					<h4 class="t-remark2 fr"><label class="t-remark">佣金比例：</label><span class="t-first">{$list.this_good_per}</span> <label class="t-remark">获得佣金：</label><span class="t-first">{$order.total_orders_drpmoney}</span></h4>
				</footer>
			</section>
		</div>
	</body>
<!--引用js-->


</html>