* { word-wrap: break-word; outline: none; }
body { background-color: #f7f7f7; }
/*html, body { height: 100%;}*/
html { -webkit-text-size-adjust: none; }
body, td, input, textarea, select,
button { color: #707070; font-size: 12px; font-family: "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; }
body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0; padding: 0; }
ul, ol, li { list-style-image: none; list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; }
a { color: #31b4e1; text-decoration: none; blr:expression(this.onFocus=this.blur()) }
a:hover { color: #ec5051; text-decoration: none; }
a img { border: none; }
em, cite, th { font-style: normal; font-weight: normal; }
table { border-collapse: collapse; border-spacing:0;}
th { text-align: left; }
input, button, select, textarea { outline: none }
i,em{ font-style:normal;}
i.fa { font-size: 14px; vertical-align: middle; margin-right: 4px; }
input[type='text']:focus{ border:1px solid #62b3ff;}
input[type='text'].error:focus{ border:1px dashed #E84C3D;}
input[type='submit']{ outline:0 none;}
.fontweight{ font-weight:bold;}
.overflow_view{ overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.fl_label{ display:inline-block; width:100px; text-align:right; float:left;}
.li_color{ color:#ec5051}

h4{margin:0;line-height:inherit;}
td {background:#ffffff}
a:link,a:visited,a:hover{text-decoration: none;}
input:focus {border: 1px solid #62b3ff;}
/*长度高度
******************************/
.w10 { width: 10px; }
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px !important; }
.w50 { width: 50px !important; }
.w60 { width: 60px !important; }
.w65 { width: 65px !important; }
.w70 { width: 70px !important; }
.w80 { width: 80px !important; }
.w90 { width: 90px; }
.w100 { width: 100px !important; }
.w110 { width: 110px !important; }
.w120 { width: 120px !important; }
.w130 { width: 130px !important; }
.w140 { width: 140px !important; }
.w150 { width: 150px !important; }
.w160 { width: 160px; }
.w180 { width: 180px; }
.w190 { width: 190px !important; }
.w200 { width: 200px !important; }
.w210 { width: 210px !important; }
.w230 { width: 230px; }
.w240 { width: 240px; }
.w250 { width: 250px !important; }
.w260 { width: 260px !important; }
.w270 { width: 270px; }
.w290 { width: 289px !important; }
.w300 { width: 300px !important; }
.w319{ width:319px !important}
.w350 { width: 350px; }
.w340 { width: 340px; }
.w400 { width: 400px!important; }
.w450 { width: 450px!important; }
.w500 { width: 500px; }
.w600 { width: 600px !important; }
.w700 { width: 700px; }
.w780 { width: 780px; }
.w800 { width: 800px; }


.h10 { height: 10px; }
.h20 { height: 20px; }
.h30 { height: 30px; }
.h40 { height: 40px !important; }
.h50 { height: 50px !important; }
.h60 { height: 60px !important; }
.h65 { height: 65px !important; }
.h70 { height: 70px !important; }
.h80 { height: 80px !important; }
.h90 { height: 90px; }
.h100 { height: 100px !important; }
.h110 { height: 110px !important; }
.h120 { height: 120px !important; }
.h130 { height: 130px !important; }
.h150 { height: 150px !important; }
.h160 { height: 160px; }
.h180 { height: 180px; }
.h190 { height: 190px !important; }
.h200 { height: 200px !important; }
.h210 { height: 210px !important; }
.h230 { height: 230px; }
.h240 { height: 240px; }
.h250 { height: 250px !important; }
.h270 { height: 270px; }
.h300 { height: 300px !important; }
.h350 { height: 350px; }
.h340 { height: 340px; }
.h400 { height: 400px!important; }
.h450 { height: 450px!important; }
.h500 { height: 500px; }
.h600 { height: 600px !important; }
.h700 { height: 700px; }
.h780 { height: 780px; }
.h800 { height: 800px; }

.select_w500{ width:499px;}
.select_w320{ width:319px;}
.select_w300{ width:299px;}
.select_w120{ width:120px;}
.select_w140{ width:139px;}
.select_w145{ width:145px;}
.select_w170{ width:169px;}
.select_w220{ width:219px;}
.select_w260{ width:259px;}
.select_w85{ width:85px;}
.select_w75{ width:74px;}
.select_w60{ width:59px;}

.imitate_select.select_w500 .cite{ background-position:482px 11px;}
.imitate_select.select_w320 .cite{ background-position:302px 11px;}
.imitate_select.select_w120 .cite{ background-position:102px 11px;}
.imitate_select.select_w145 .cite{ background-position:127px 11px;}
.imitate_select.select_w140 .cite{ background-position:122px 11px;}
.imitate_select.select_w170 .cite{ background-position:152px 11px;}
.imitate_select.select_w220 .cite{ background-position:202px 11px;}
.imitate_select.select_w260 .cite{ background-position:242px 11px;}
.imitate_select.select_w75 .cite{ background-position:57px 11px;}
.imitate_select.select_w85 .cite{ background-position:67px 11px;}
.imitate_select.select_w60 .cite{ background-position:42px 11px;}
/*边距
******************************/
.m0 { margin: 0!important; }
.m10 { margin: 10px; }
.m15 { margin: 15px !important; }
.m30 { margin: 30px; }
.mt2 { margin-top: 2px; }
.mt3 { margin-top: 3px; }
.mt5 { margin-top: 5px; }
.mt0 { margin-top: 0px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt50 { margin-top: 50px !important; }
.mt100 { margin-top: 100px; }
.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb50 { margin-bottom: 50px; }
.mb100 { margin-bottom: 100px; }
.ml0 { margin-left: 0px!important; }
.ml5 { margin-left: 5px!important; }
.ml10 { margin-left: 10px!important; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }
.ml50 { margin-left: 50px; }
.ml100 { margin-left: 100px !important; }
.ml200 { margin-left: 200px !important; }
.mr0 { margin-right: 0px !important; }
.mr5 { margin-right: 5px !important; }
.mr8 { margin-right: 8px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr30 { margin-right: 30px !important; }
.mr50 { margin-right: 50px !important; }
.mr70 { margin-right: 70px !important; }
.mr80 { margin-right: 80px !important; }
.mr100 { margin-right: 100px; }
/*边距
******************************/
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p30 { padding: 30px; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px !important; }
.pt50 { padding-top: 50px; }
.pt100 { padding-top: 100px; }
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px !important; }
.pb30 { padding-bottom: 30px; }
.pb50 { padding-bottom: 50px; }
.pb100 { padding-bottom: 100px; }
.pl0 { padding-left: 0px !important; }
.pl3 { padding-left: 3px; }
.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl30 { padding-left: 30px !important; }
.pl40 { padding-left: 40px !important;}
.pl50 { padding-left: 50px; }
.pl100 { padding-left: 100px; }
.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr30 { padding-right: 30px; }
.pr50 { padding-right: 50px; }
.pr100 { padding-right: 100px; }

/*高度
********************************/
.h25{ height:25px !important;}

/*字体大小
*******************************/
.font0{ font-size:0;}
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font20{ font-size:20px;}
ul,li{list-style: none; margin: 0; padding: 0; overflow: hidden;}
.of{overflow: hidden;}

i.sc_icon, .explanation .ex_tit span, .search .input .btn, .switch, .switch .circle, .s-back , .text_time .selbtn {background:url(../img/console/admin-icon.png) no-repeat;}
.wrapper{position:relative;min-width:1000px;width:100%;}
.wrapper .title{height: 60px;line-height: 60px;border-bottom: 1px solid #e4eaec;font-size: 18px;color: #343434;padding: 0 28px;}
.wrapper .content_tips{position: relative;padding:20px 30px;}
.tabs_info {margin: 0 0 10px;width: 100%;position: relative;overflow: hidden;border-bottom: 1px solid #62b3ff;}
.tabs_info ul{float:left;margin-bottom:0;padding-left:0;}
.tabs_info ul li{height: 35px;line-height: 35px;border-radius: 4px 4px 0 0;color: #707070;float: left; font-size:14px;margin-right: 3px;background-color: #e5e5e5;cursor: pointer;}
.tabs_info ul li.curr{background-color: #62b3ff;color: #fff;}
.tabs_info ul li a{color: #707070;display: block;padding: 0 20px;}
.tabs_info ul li.curr a{color: #fff;}


/*操作提示*/
.explanation {padding: 11px 13px;color: #707070;border-radius: 5px;background-color: #f5faff;border: 1px dashed #62b3ff;/*width: calc(100% - 28px);*/height: 100%;}
.explanation .ex_tit {color: #62b3ff;position: relative;line-height: 20px;margin-bottom: 10px;}
.explanation .ex_tit .sc_icon {position: absolute;background-position: -84px -328px;width: 20px;height: 20px;}
.explanation .ex_tit h4 {font-weight: normal;padding-left: 30px;font-size: 14px;}
.explanation .ex_tit span {position: absolute;background-position: 0 -359px;width: 28px;height: 28px;top: -12px;right: -14px;cursor: pointer;}
.explanation .ex_tit span.shopUp { background-position: -40px -359px;}
.explanation ul {overflow: hidden;padding-left: 35px;}
.explanation ul li {line-height: 20px;background: url(../img/console/arrow.png) 0 8px no-repeat;padding-left: 10px;margin-bottom: 5px;text-shadow: 1px 1px 0 rgba(255,255,255,0.5);}
.explanation ul li em {color: #ec5151;}

.no-padding {padding: 0px;}
/*====
 * 内容区域
 * =====*/
/*列表*/
.flexilist{margin-top:20px;position:relative;z-index:1;line-height:26px;}
.flexilist .common-head {color: #707070;white-space: nowrap;display: block;position: relative;z-index: 4;float: left;width: 100%;margin-bottom: 10px;}
.common-content{width: 100%;float: left;}
.fl {float: left !important;}
.refresh {float: left;margin: 0 10px 0 25px;}
.refresh .refresh_tit {color: #999;width: 24px;height: 24px;float: left;text-align: center;line-height: 24px;position: relative;z-index: 1;margin-top: 1px;}
.refresh .refresh_tit:hover {color: #333;background-color: #E6E6E6;border-radius: 5px;cursor: pointer;}
.refresh .refresh_span {margin-left: 3px;float: left;}
.refresh .icon, .setup .icon { font-size: 14px;}
a {color: #31b4e1;text-decoration: none;blr: expression(this.onFocus=this.blur());}
a:hover {color: #ec5051;text-decoration: none;}
.fbutton {vertical-align: top;letter-spacing: normal;display: inline-block;margin-left: 8px;margin-right: -1px;cursor: pointer;margin-right: 5px;}
.fbutton:last-child {margin-right: 0;}
.fbutton:first-child { margin-left: 0px;}
.fbutton div {font-size: 12px;color: #ec5051;background-color: #FFFFFF; padding: 2px 7px;border: solid 1px #ec5051;border-radius: 4px;margin: 0;}
.fbutton div:hover {background: #ffe7e7;}
.fbutton div i {margin-right: 5px;}


/*表格*/
.list-div{width:100%;}
.list-div table{width:100%;border-collapse:collapse;}
.list-div th{height: 38px;line-height: 38px;background: #f2f2f2;font-weight: bold;border-top: 2px solid #dbdbdb;border-bottom: 1px solid #eaeaea;color: #333;}
 /*无内容提示*/
.list-div .no-records {text-align: center;height: 200px;line-height: 200px;}

th{text-align: left;}
.list-div .tDiv{padding:0 0 0 20px;}
td{color: #707070;font-size: 12px;font-family: "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;}
.list-div td{line-height: 20px;height: 38px;border-bottom: 1px solid #eaeaea;word-break: keep-all;background: #fff;}
.list-div .tr_bg_blue td{background: #f5faff;}
.list-div td .tDiv{padding:10px 0 10px 20px;}
.list-div .tDiv.a3{min-width:192px;padding-left:0;height:40px;line-height:20px;font-size:0;}


.list-div .handle .tDiv.a2{ min-width:138px;}
.list-div .handle .tDiv.a3{ min-width:192px;}

.list-div .handle .tDiv a:last-child{margin-right:0;}
.list-div .handle .tDiv a{padding:2px 4px;border-radius:3px;border:1px solid #e9e9e9;color:#999;font-size:12px;margin-right:12px;}
i.sc_icon{background:url(../img/console/admin-icon.png);}
.list-div .handle i, .btn_trash i {font-size: 13px;margin: -2px 4px 0 4px;vertical-align: middle;}
.tDiv:before{    content: ".";display: block; height: 0;clear: both;visibility: hidden;}
.tDiv:after{content: ".";display: block;height: 0; clear: both;visibility: hidden;    }
.list-div .handle a.btn_trash:hover{color:#ec5151;border-color:#ec5151;}

.list-div .handle a.btn_region:hover{ color:#fb7e40; border-color:#fb7e40;}
.list-div .handle a.btn_see:hover{ color:#29c25f; border-color:#29c25f;}
.list-div .handle a.btn_see:hover i.sc_icon_see{ background-position:-195px -502px;}
.list-div .handle i.sc_icon_see{ width:13px; height:12px; display:inline-block; background-position:-195px -484px;}

.list-div .handle a.btn_edit:hover{color:#31b4e1;border-color:#31B4E1;}
.list-div .handle a.btn_inst:hover{color:#29c25f;border-color:#29C25F;}
.list-div .handle i.sc_icon_inst{width:13px;height:12px;display:inline-block;background-position:-195px -526px;}
.list-div .handle a.btn_inst:hover i.sc_icon_inst{background-position: -195px -546px;;}
/*表格的页码*/
.list-div tfoot td {background: #f2f2f2;border-bottom: 2px solid #dbdbdb;}
.list-page {float: right;color: #7c7c7c;margin-right: 10px;}
.list-page .page:nth-child(2), .list-page .page:nth-child(3) {margin-right: 20px;}
i, em {font-style: normal;}
.list-page .page i {margin-right: 5px;}
.list-page .page input[type="text"] { border: 1px solid #c9c9c9;text-align: center;color: #7c7c7c;}
.list-page .first {background-position: -12px -427px;width: 9px;height: 10px;margin-right: 10px;}
.list-page .prev {background-position: -34px -427px;width: 7px;height: 10px;margin-right: 10px;}
.list-page .next {background-position: -58px -427px;width: 7px;height: 10px;margin-left: 10px;}
.list-page .last {background-position: -81px -427px;width: 9px;height: 10px;margin-left: 10px;}
.list-page a {background: url(../img/console/admin-icon.png) no-repeat;display: inline-block;}
.list-page select {border: 1px solid #c9c9c9;color: #7c7c7c;}


.imitate_select{float: left;position: relative;border: 1px solid #dbdbdb;border-radius: 2px;height: 28px;line-height: 28px;margin-right: 10px;font-size: 12px;}
/*.select_w320 {width: 299px;}*/
.textarea {float: left;border: 1px solid #dbdbdb;border-radius: 2px;height: 100px;padding: 5px 10px;width: 300px;resize: none;line-height: 20px;margin-right: 10px;}

.flexilist{margin-top:20px;position:relative;z-index:1;line-height:26px;}
.main-info{width:100%;position:relative;}
.switch_info{padding:30px 20px;background: #fff;overflow: hidden;}
.main-info .item{width:100%;line-height:30px;float:left;margin-bottom:10px;}
.main-info .item .info_btn {margin: 20px 0 0 0;}
.main-info .item .label-t{width:30%;float:left;text-align:right;padding-right: 8px;color:#333;}
.main-info .item .label_value{width:68%;float:left}
.main-info .text{width:299px;}
.text{float: left;border: 1px solid #dbdbdb;border-radius: 2px;height: 30px;line-height: 28px;padding: 0 10px;text-shadow: 0 1px 2px rgba(0,0,0,.1);-moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;-o-transition: all .2s;-moz-transition: all .2s;-webkit-transition: all .2s;-ms-transition: all .2s;margin-right: 10px;}
.notic{color: #909090;float: left;font-size: 12px;height:30px;line-height:30px;}
.shop_special .notic{padding-left:0;float:left;margin-left:0;color:#909090;}


input{outline:none;}
/*上传图片按钮*/
.type-file-box {position: relative;float: left;width: 320px;margin-right: 10px;}
.type-file-box .show {float: left;margin-left: 10px;height: 30px;line-height: 30px;}
.show {display: block;}
.nyroModal {color: #aaa;font-size: 16px;}
.type-file-box .type-file-button {width: 104px;height: 30px;background: url(../img/console/type-file.png) 0 0 no-repeat;border: 0;cursor: pointer;padding: 0;float: left;}
.type-file-box.hover .type-file-button{background-position:-111px 0;}
.type-file-box input[type="file"] {position: absolute;left: 0;opacity: 0;filter: alpha(opacity=0);width: 104px;height: 30px;cursor: pointer;}
.type-file-box .type-file-text {float: left;height: 20px; padding: 5px 0;border: 0;width: 178px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-left: 10px;background: #fff;}
/*搜索框*/
.search {float: right;margin-top: -4px;}
.search .input {border: 1px solid #dbdbdb;overflow: hidden;float: left;}
.search .input .text { border: 0; background: #FFFFFF;float: left;box-shadow: none;}
.search .input .btn, .search .input .not_btn {border: 0;width: 30px;height: 28px;background-position: -120px -327px;float: left;padding: 0;cursor: pointer;margin-top: 2px;}


/*下拉列表*/
select{outline:none;}
.imitate_select {float: left;position: relative; border: 1px solid #dbdbdb;border-radius: 2px;height: 28px;line-height: 28px;margin-right: 10px;font-size: 12px;}
.select_w120 {width: 120px;}
.tfoot_btninfo input.btn {height: 30px;line-height: 28px;padding: 0 15px; color: #fff;background: #31b4e1;font-size: 12px;float: left;margin-right: 10px;}
.tfoot_btninfo input.btn_disabled, .tfoot_btninfo input.btn_disabled:hover { border-color: #8e8e8e;background: #8e8e8e;cursor: default;color: #fff;}
.list-div tfoot td{height:57px;}
.type-file-box .webuploader-pick{width:100%;z-index:-1;background:url(../img/console/type-file.png) 0 0 no-repeat;background-color:#fff;}
/*启用禁用*/
.switch.active {background-position: -9px -452px;}
.switch {width: 41px; height: 16px;background-position: -9px -477px;cursor: pointer;position: relative; float: left;}
.switch.active .circle {-webkit-transform: translateX(100%);transform: translateX(100%);left: 14px; background-position: -73px -453px;top: 1px;left: 12px;}
.switch .circle {width: 14px;height: 14px;transition: .4s; background-position: -74px -454px;cursor: pointer;position: absolute;top: 2px;left: 3px;}
/*主背景色*/
.warpper .content:after, .warpper .content:before, .flexilist:after, .flexilist:before, .main-info:after, .main-info:before, .switch_info:after, .switch_info:before, .tDiv:after, .tDiv:before, .step:after, .step:before, .step_content:after, .step_content:before, .items:after, .items:before, .step_title:after, .step_title:before, .newRegion:after, .newRegion:before, .qx_items:after, .qx_items:before, .qx_item:after, .qx_item:before, .form-div:after, .form-div:before {content: ".";display: block;height: 0;clear: both;visibility: hidden;}

/*.wrapper .article .cover img {width:inherit;height: 100%;}*/
/*是否单选按钮*/
.checkbox_items {width: 100%;float: left;}
.checkbox_items .checkbox_item {float: left;margin-right: 20px;}
.ui-checkbox, .ui-radio, .ui-radio-16x16 {display: none;}
.ui-radio-label {padding-left:20px;display:initial;background: url(../img/console/input_radio.png) 2px 2px no-repeat;}
label {cursor: pointer;font-weight:normal;}
.ui-radio:checked+label {background: url(../img/console/input_radioed.png) 2px 2px no-repeat;}
/*底部*/
#footer {text-align: center;min-height: 60px;width: 100%; position: absolute; bottom: 0px;}
#footer p {line-height: 60px;}
/*按钮*/
.info_btn a.button {height: 35px;line-height: 33px;}
.info_btn input.button {height: 35px;line-height: 33px;}
.info_btn .button {border: 1px solid #ec5151;background: #ec5151;height: 30px;line-height: 30px;color: #fff;font-size: 14px;padding: 0 20px;border-radius: 3px;cursor: pointer;float: left;margin-right: 15px;}
.info_btn .button_reset {background-color: #fff;color: #ec5151;}
.button {height: 30px;border: 0;line-height: 28px;color: #fff;background: #62b3ff;padding: 0 17px;border-radius: 3px;cursor: pointer;outline: none;}
.btn {display: inline-block;padding: 6px 12px;margin-bottom: 0; font-size: 12px; font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap; vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}
.btn:link,.btn:visited,.btn:hover{color:#fff;}


.ectouch-table {margin:0;}
.ectouch-table tr:first-child td {border-top:none;}
.ectouch-line {line-height: 1.8;}
.ectouch-mb5, .breadcrumb {margin-bottom:5px}
.ectouch-fs16 {font-size:16px}
.ectouch-fs18 {font-size:18px}
.btn-group .btn-primary {background-color:#e5e5e5; color: #707070;border-color: none;}
.btn-group .btn-primary:hover {background-color:#62b3ff;color: #707070;border-color: none;}
.btn-group .btn-primary.active {background-color:#62b3ff; color: #fff; border-color: none;}

.panel-title {font-size:14px}
.pagination {margin-top:0}
.pagination .glyphicon {top:0}
.ectouch-mb{margin-bottom:5px;}
.clear{clear:both;}
.borderno{border:0;}

.item .weixin_url { width: auto; background: #62b3ff;border: 0px; color: #fff}

/*返回图标*/
.s-back{ font-size:0; width:27px; height:27px; background-position:-86px -360px; display:inline-block; vertical-align:middle; margin:-3px 10px 0 0;}
/*弹窗关闭*/
.fancybox-close{top:-10px;right:-10px;}
.fancy .title {height: 30px;line-height: 30px;font-size: 14px;color: #343434;padding: 0 10px}


/*PC端时间插件样式 start*/
.text_time{ position:relative; z-index:1; float:left;}
.text_time .text{ width:155px; padding:0 20px 0 4px; background:url(../img/console/time_gary.png) 135px 7px no-repeat; cursor:pointer;}
.text_time .selbtn{ position:absolute; width:15px; height:15px; border:0; background-position:-162px -426px; top:8px; right:8px; cursor:pointer; display:none;}
.text_time .selbtn:hover{ background-position:-194px -426px;}
.text_time input[type="text"]:focus{ background:url(../img/console/time_blue.png) 135px 7px no-repeat;}

.no_text_time .text,.no_text_time input[type="text"]:focus{ background:#fff; padding-right:5px; width:138px;}
.bolang {float: left}
/*PC端时间插件样式 end*/








/*拼团样式*/
*{box-sizing:inherit;}
.clamp2{
	-webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height:24px;
}
.blue {
    color: #31b4e1;
}
.goods_search_div {
    float: left;
    width: 100%;
}
.bor_bt_das {
    border-bottom: 1px dashed #dcdcdc;
}
.switch_info .goods_search_div {
    padding: 0 0 20px;
    margin-bottom: 20px;
}
.goods_search_div .search_select {
    float: left;
}
.categorySelect,.brandSelect{
    position: relative;
}
.selection {
    position: relative;
    z-index: 2;
    float: left;
}
.selection .w250.valid {
    background-position: 265px 11px;
}
.selection .w120.valid {
    background-position: 135px 11px;
}
.selection .valid {
    background: #fff url(../img/xjt.png) 150px 11px no-repeat;
    padding-right: 20px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.brand-select-container, .select-container {
    width: 250px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    position: absolute;
    top: 32px;
    z-index: 9;
    background: #fff;
}
.select-container {
    width: 171px;
}
.categorySelect .select-container {
    min-width: 280px;
    border-radius: 0 0 5px 5px;
    box-shadow: none;
    top: 29px;
}
.brand-select-container .brand-top, .select-container .select-top, .select-container .select-top2 {
    margin: 8px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
}
.categorySelect .select-container .select-top, .categorySelect .select-container .select-top2 {
    margin: 10px;
    padding-bottom: 5px;
    color: #31b4e1;
}
.brand-select-container .brand-list, .select-container .select-list, .select-container .select-list2 {
    width: calc(100% - 16px);
    max-height: 220px;
    position: relative;
    z-index: 1;
    overflow-y:scroll;
    margin: 0 8px;
}
.brand-not {
    text-align: center;
    padding: 20px 10px;
    width: 100%;
}
.brand-not strong {
    float: none !important;
    color: #31b4e1;
}
.select-container .select-list li {
    text-indent: 5px;
}
.brand-select-container .brand-top ul {
    overflow: hidden;
}
.brand-select-container .brand-top li {
    float: left;
}
.brand-select-container .brand-top li a {
    line-height: 16px;
    color: #666;
    text-align: center;
    display: block;
    min-width: 16px;
    padding: 3px;
    margin: 0;
}
.brand-select-container .brand-list li, .select-container .select-list li, .select-container .select-list2 li {
    line-height: 20px;
    padding: 5px 0;
    border-bottom: solid 1px #F5F5F5;
    width: 100%;
}
.brand-select-container .brand-list li:hover, .select-container .select-list li:hover {
    color: #333;
    background: #F7F7F7;
    cursor: pointer;
}
.brand-select-container .brand-list li em, .select-container .select-list li em, .select-container .select-list2 li em {
    display: inline-block;
    text-align: center;
    width: 20px;
    margin-right: 6px;
    border-right: solid 1px #DDD;
}
.brand-select-container .brand-top .b_search, .select-container .select-top .s_search, .select-container .select-top2 .s_search {
    line-height: normal;
    clear: both;
    margin-top: 6px;
}
.brand-select-container .brand-top li a:hover {
    text-decoration: none;
    color: #FFF;
    background: #31b4e1;
}
.brand-select-container .brand-top .b_search .b_text, .select-container .select-top .s_search .s_text, .select-container .select-top2 .s_search .s_text {
    border: 1px solid #dbdbdb;
    border-radius: 3px 0 0 3px;
    height: 22px;
    line-height: 24px;
    padding: 0 0 0 5px;
    float: left;
    width: 196px;
}
.brand-select-container .brand-top .b_search .btn-mini, .select-container .select-top .s_search .btn-mini, .select-container .select-top2 .s_search .btn-mini {
    width: 30px;
    height: 24px;
    display: block;
    float: left;
    background: #e0e0e0;
    border-radius: 0 4px 4px 0;
    color: #a9a9a9;
    font-size: 14px;
}
.brand-select-container .brand-top .b_search .btn-mini:hover, .select-container .select-top .s_search .btn-mini:hover, .select-container .select-top2 .s_search .btn-mini:hover {
    background: #CFCFCF;
}
.brand-select-container .brand-top .b_search .btn-mini i, .select-container .select-top .s_search .btn-mini i, .select-container .select-top2 .s_search .btn-mini i {
    margin: 5px 8px;
}
.categorySelect .select-container .select-list li em {
    text-align: left;
    margin-right: 10px;
    float: left;
    width: 25px;
}
.ps-container>.ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    bottom: 3px;
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transition: background-color .2s linear,opacity .2s linear;
    -webkit-transition: background-color .2s linear,opacity .2s linear;
    -moz-transition: background-color .2s linear,opacity .2s linear;
    transition: background-color .2s linear,opacity .2s linear;
}
.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
    position: absolute;
    bottom: 0;
    height: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}
.ps-container.ps-active-y>.ps-scrollbar-y-rail {
    display: block;
    background: #eee;
}
.ps-container>.ps-scrollbar-y-rail {
    display: block;
    position: absolute;
    right: 3px;
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transition: background-color .2s linear,opacity .2s linear;
    -webkit-transition: background-color .2s linear,opacity .2s linear;
    -moz-transition: background-color .2s linear,opacity .2s linear;
    transition: background-color .2s linear,opacity .2s linear;
}
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    position: absolute;
    right: 0;
    width: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}
.btn {
    height: 18px;
    line-height: 18px;
    border: 1px solid #dcdcdc;
    padding: 0 20px;
    color: #666;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}
.btn30 {
    height: 28px;
    line-height: 28px;
    padding: 0 17px;
}
.goods_search_div .btn {
    background-color: #62b3ff;
    color: #fff;
    border-color: #62b3ff;
}
.btn .fa-search {
    font-size: 14px;
    margin: -3px 5px 0 0;
}
/*团购商品*/
.imitate_select.select_w320 .cite {
    background-position: 302px 11px;
}
.imitate_select .cite {
    background: #fff url(../img/xjt.png) right 11px no-repeat;
    padding: 0 10px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.imitate_select ul {
    position: absolute;
    top: 28px;
    left: -1px;
    background: #fff;
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 0 0 3px 3px;
    display: none;
    z-index: 199;
    max-height: 280px;
    overflow-y:scroll;
}

.imitate_select ul li {
    padding: 0 10px;
    cursor: pointer;
}
.imitate_select ul li a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    color: #707070;
}
/*拼团频道*/
.setup_span {
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    display: inline-block;
    position: relative;
    z-index: 1;
    cursor: default;
}
.setup_span:hover {
    z-index: 3;
}
.setup_span:hover em {
    color: #fff;
    background: #62b3ff;
    border-color: #62b3ff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.setup_span em {
    padding: 2px 5px 2px 6px;
    border: 1px solid #e9e9e9;
    color: #999;
    float: left;
    border-radius: 3px;
    line-height: normal;
    cursor: pointer;
}
.setup_span em .icon {
    font-size: 14px;
    margin-right: 5px;
}
.setup_span em .arrow {
    font-size: 0px;
    line-height: 0;
    vertical-align: middle;
    display: inline-block;
    width: 0px;
    height: 0px;
    float: none;
    margin: 0 0 0 5px;
    border-width: 4px;
    border-color: #999 transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    -webkit-transition: .2s ease-in;
    -moz-transition: -webkit-transform .2s ease-in;
    -o-transition: -webkit-transform .2s ease-in;
    transition: .2s ease-in;
}
.setup_span:hover em .arrow {
    border-color: #FFF transparent transparent transparent;
    FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -moz-transform: rotate(270deg);
    -moz-transform-origin: 50% 30%;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: 50% 30%;
    -o-transform: rotate(270deg);
    -o-transform-origin: 50% 30%;
    transform: rotate(270deg);
    transform-origin: 50% 30%;
}
.setup_span:hover ul {
    display: block;
}
.setup_span ul {
    background: #62b3ff;
    border: 1px solid #62b3ff;
    border-radius: 0 3px 3px 0;
    position: absolute;
    z-index: 1;
    left: 100%;
    padding: 0 5px;
    margin-left: -2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    display: none;
}
.setup_span ul li {
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #a1d1ff;
    min-width: 70px;
}
.setup_span ul li a {
    color: #fff;
    display: block;
    padding: 0 5px;
}
.goods_list_info{ width:270px;}
.goods_list_info .img{ float:left; width:68px; height:68px; border:1px solid #eee;}
.goods_list_info .desc{ float:left; margin-left:10px; max-width:230px;}
.goods_list_info .desc .name{ float:left;width:190px; line-height:25px;}
.goods_list_info .desc .name span{ color:#333;display:block; float:left;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;width:100%; cursor:pointer;}
.red{ color:#ec5151 !important;}
.list-div th .tDiv{ min-width:60px; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.ht_goods_list table .handle .ht_tdiv a{ margin:0 5px 5px 0; float:left;}
.list-div .handle {
    text-align: center;
}



