@charset "utf-8";

/*顶级分类服装商城*/
.catetop-cloth .home-banner{height:450px; width:100%; display:block; overflow:hidden;}
.catetop-cloth .home-banner .bd{ height:450px; width:100%; display:block; overflow:hidden;}
.catetop-cloth .home-banner .banner-width{ width:1200px; margin:0 auto;height:450px;}
.catetop-cloth .home-banner .banner-width a{ width:100%; height:450px; display:block;}
.catetop-cloth .vip-outcon{ width:1200px; margin:-450px auto 0; height:0; position:relative; z-index:9999;}


/*顶级分类家用电器*/
.catetop-jiadian .home-banner{height:400px; width:100%; display:block; overflow:hidden;}
.catetop-jiadian .home-banner .bd{ height:400px; width:100%; display:block; overflow:hidden;}
.catetop-jiadian .home-banner .banner-width{ width:1200px; margin:0 auto;height:400px; }
.catetop-jiadian .home-banner .banner-width a{ width:100%; height:400px; display:block;}
.catetop-jiadian .vip-outcon{ width:1200px; margin: -400px auto 0; position:relative; z-index:9999;}


/*顶级分类食品商城*/
.catetop-food .home-banner{height:420px; width:100%; display:block; overflow:hidden;}
.catetop-food .home-banner .bd{ height:420px; width:100%; display:block; overflow:hidden;}
.catetop-food .home-banner .banner-width{ width:1200px; margin:0 auto;height:420px;}
.catetop-food .home-banner .banner-width a{ width:100%; height:420px; display:block;}
.catetop-food .vip-outcon{ width:1200px; margin:-420px auto 0; position:relative; z-index:9999;}


/*顶级分类默认模板*/
.catetop-default .home-banner{height:390px; width:100%; display:block; overflow:hidden;}
.catetop-default .home-banner .bd{ height:390px; width:100%; display:block; overflow:hidden;}
.catetop-default .home-banner .banner-width{ width:1200px; margin:0 auto; height:390px;}
.catetop-default .home-banner .banner-width a{ width:100%; height:390px; display:block;}
.catetop-default .vip-outcon{ width:1200px; margin:-390px auto 0; position:relative; z-index:9999;}


/*热门推荐*/
.ftitb{overflow:hidden;padding: 0 0 6px;height:35px;text-align: left;font-size: 21px;line-height: 33px;border-bottom: 2px solid #434D55; margin-bottom:10px;}
.ftitb h3{ display: inline;padding: 0 0px;background-color: #fff;font-weight: 400;font-size: 21px;color: #555;}
.lift-channelb ul{ width:calc(100% + 10px); width:1210px\0;}
.lift-channelb li{ float:left; width:158px;border:1px solid #ededed; padding:12px 20px 0px;}
.lift-channelb li .p-img,.lift-channelb li .p-img img{ width:158px; height:164px; margin-bottom:5px;}
.lift-channelb li .p-name{ font-size:12px; overflow:hidden;text-overflow: ellipsis; margin-top:5px; height:36px;}
.lift-channelb li .p-price { height:25px; line-height:25px; text-align:center;}
.lift-channelb li .p-price .shop-price{ font-size:16px;}
.lift-channelb li .p-btn{font-size:12px; margin: 8px -20px 0px -20px;padding: 5px 0px; text-align:center;}


/*随手购*/
.lift-channelc ul{ width:calc(100% + 10px); width:1210px\0;}
.lift-channelc li{ float:left; width:158px;border:1px solid #ededed; padding:12px 20px 0px; height:280px;}
.lift-channelc li .p-img,.lift-channelb li .p-img img{ width:158px; height:164px; margin-bottom:5px;}
.lift-channelc li .p-name{ font-size:12px; overflow:hidden;text-overflow: ellipsis; margin-top:5px; height:36px;}
.lift-channelc li .p-price { height:25px; line-height:25px; text-align:center;}
.lift-channelc li .p-price .shop-price{ font-size:16px;}
.lift-channelc li .p-btn{font-size:12px; margin: 8px 0px 0px 0px;padding: 5px 0px; text-align:center;border:1px solid #f43434;}
.lift-channelc li .p-btn a{ color:#f43434;}

