@charset "utf-8";

*,*:before,*:after{ -webkit-box-sizing:inherit; -moz-box-sizing:inherit; box-sizing:inherit;}
input[type="text"], input[type="password"], input.text, input.password { font-family: "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif; color: #777; background-color: #FFF; vertical-align: top; display: inline-block; height: 28px; line-height:28px; padding:0 10px; border: solid 1px #CCC; outline: 0 none;}
input[type="text"]:focus, input[type="password"]:focus, input.text:focus, input.password:focus, textarea:focus { color: #333; border-color: #75B9F0; box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15); outline: 0 none;}
input[type="text"].error, input[type="password"].error, textarea.error { border-color: #ED6C4F; box-shadow: 0 0 0 2px rgba(232, 71, 35, 0.15); outline: 0 none;}
input.button, input[type="reset"],a.button { color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.1); display:inline-block; height: 30px; line-height:30px; padding:0 10px; border: 0; cursor: pointer; font-size:14px; font-family: "Microsoft Yahei"; min-width:75px; text-align:center;background-color: #D3412D; float:left;}
a.button{ padding:0;}
a.button:hover,input.button:hover,input[type="reset"]:hover,.addinfo_items .button:hover,.table_item .button:hover,.pb-btn:hover{ color:#fff; background:#c43926; border-color: #c43926;}
input[type="reset"]{ color:#777;}
textarea, .textarea { font: 12px/20px Arial; color: #777; background-color: #FFF; vertical-align: top; display: inline-block; min-width:400px; height: 60px; padding: 4px; border: solid 1px #CCC; outline: 0 none;}
select { color: #777; background-color: #FFF; height: 30px; vertical-align: middle; *display: inline; padding: 4px; border: solid 1px #CCC; *zoom:1; margin-right:10px;}
select option { line-height: 20px; display: block; height: 20px; padding: 4px;}
input[type="file"] { line-height:20px; background-color:#FBFBFB; height: 20px; cursor: default;}
body{ font-family:Microsoft Yahei,'微软雅黑'; margin:0; padding:0; overflow:hidden;}
ul,li{ list-style:none; margin:0; padding:0;}
a:focus,a:hover{ text-decoration:none !important;}
img{ font-size:0;}
.f_l{ float:left;}
.f_r{ float:right;}
.relative{ position:relative;}
.w960{ width:960px; margin:0 auto;}
.w960:after{ content:""; width:100%; height:0; display:block; overflow:hidden; float:none; clear:both;}
.w1200{ width:1200px; margin:0 auto;}
.w1200:after{ content:""; width:100%; height:0; display:block; overflow:hidden; float:none; clear:both;}
.w400{ width:400px;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}

/*@font-face{
	font-family:cybertron;
	src:url(../font/font_1425975133_276631.eot);
	src:url(../font/font_1425975133_276631.eot?#iefix) format('embedded-opentype'),
	url(../font/font_1425975133_276631.woff) format('woff'),
	url(../font/font_1425975133_276631.ttf) format('truetype'),
	url(../font/font_1425975133_276631.svg#cybertron) format('svg')
}*/
.clearfix{ zoom: 1;}
.clear, .clr { display: block;overflow: hidden;clear: both;height: 0;line-height: 0;font-size: 0;}
.clearfix:after,.clearfix:before{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}


/* 禁止响应 S */
/*.container{ width:1200px !important; margin:0 auto;}*/
/* 禁止响应 E */


.edit .demo{ margin-top:44px;}
.edit .drag{ cursor:auto;}
.select_box .tit{ -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.select_box .select{ min-width:100px;}

/*.top_navbar{ position: relative;width: 100%;text-align: center;z-index: 10000384;background: #27282d;}
.top_navbar .menu{ overflow:hidden; width:220px; margin:0 auto;}
.top_navbar .menu li{ margin-left:30px; float:left;}
.top_navbar .menu li a{ display:block; height:55px; line-height:55px; font-size:14px; color:#fff; text-align:center; padding:0 10px;}
.top_navbar .menu li a:hover{ background:#080808;}*/

/* 模块样式 S */
.shop_banner{ position:relative;}
.shop_banner .hd{ position:absolute; bottom:30px; left:0; right:0; text-align:center; height:0;}
.shop_banner .hd ul{ padding:0; margin:0; display: inline-block; vertical-align: middle; height:10px;}
.shop_banner .hd li{ display: inline-block; vertical-align: top; width: 10px; height: 10px; overflow: hidden; text-align: center; margin:0 4px; border-radius: 100%; cursor: pointer; text-decoration: none; font-size: 10px; -webkit-text-size-adjust: none; background: #fff; text-indent: 999px;}
.shop_banner .hd li.on{ background:#93030c;}
.shop_banner .bd ul{ margin:0; padding:0;}
.shop_banner .bd li{ text-align:center;}
.shop_banner .bd li a{ display:block; width:100%; height:100%;}
.shop_banner .bd li img{ width:auto; height:100%;}
.shop_banner .prev,.shop_banner .next{ position: absolute; width: 38px; height: 62px; background:url(../images/cir_white.gif) #93030c no-repeat; top: 50%; margin-top: -37px; opacity: 0.5; filter: alpha(opacity = 50);}
.shop_banner .prev{ left:100px; background-position:-11px -2px;}
.shop_banner .next{ right:100px; background-position:-72px -2px;}

.floor .mc .floor_ad .hd{ position:absolute; left:50%; bottom:25px; height:0; margin-left:-30px;}
.floor .mc .floor_ad .hd ul{ margin:0;}
.floor .mc .floor_ad .hd li{ width:10px; height:10px; border-radius:50%; background:#fff; margin:0 5px; border:0;}
.floor .mc .floor_ad .hd li.on{ background:#93030c;}
.floor .mc .floor_ad .bd ul li{ margin-top:0; border:0;}
.floor .con{ vertical-align:middle;color:#333; padding:20px 0 15px; text-align:center;}
.floor .con h2{ font-size:36px; font-weight:700; font-family:Microsoft Yahei,'微软雅黑'; line-height:1.1; margin:10px 0;}

.floor .mc{ height:auto; margin-top:10px; overflow:visible;}
.floor .mc li{ float:left; position:relative; background:#fff; transition: all 0.4s ease 0s; border:1px solid #ccc;}
.floor .mc li .info .price{ color: #171717;}
.floor .mc li .info .btn_hover a{color:#fff; font-family:"微软雅黑";}

.left_kong{ display:none; float:left; height:1px; overflow:hidden;}
/* 模块样式 E */


/* 缩略图 S */
.ui-assembly{}
.sidebar-nav{ width:auto; left:0; right:0; bottom:auto; padding:0; background:none; z-index:999;}
.sidebar-nav .accordion-group{ display:none;}
.dsc_layout{ height:44px; background:#4d9de4;}
.dsc_layout .t_hd ul{ padding:0; margin:0; float:left; border-left:1px solid #5fa7e7; border-right:1px solid #458dcd;}
.dsc_layout .t_hd li{ margin:0; float:left;}
.dsc_layout .t_hd li a{ padding:0 20px; display:block; color:#fff; text-decoration:none; line-height:44px; border-left:1px solid #458dcd; border-right:1px solid #5fa7e7;}
.dsc_layout .t_hd li a:hover,.dsc_layout .t_hd li.on a{ text-decoration:none; background:#68ace8;}
.dsc_layout .t_hd .btn{ float:right; border:1px solid #458dcd; background:#ebf6ff; color:#666; font-weight:700; line-height:1.2; padding:6px 20px; margin-top:7px;}
.dsc_layout .t_hd .btn:active, .dsc_layout .t_hd .btn.active{ box-shadow:none; -webkit-box-shadow:none;}
.dsc_layout .t_hd .btn:hover{ color:#4291d7;}
.dsc_layout .t_hd .btn .glyphicon{ vertical-align:top; margin:2px 5px 0 0;}
.dsc_layout .t_hd .btn-t{ color:#ddd; float:right; font-size:12px; margin:14px 20px 0 0;}
.dsc_layout .t_hd .btn-t:hover{ color:#fff; text-decoration:none;}
.dsc_layout .t_hd .btn-t:focus{ text-decoration:none;}
.dsc_layout .t_hd .layout_zk{ float:right; padding:4px 5px; border:1px solid #4d9de4; margin:12px 0 0 10px;}
.dsc_layout .t_hd .layout_zk i{ width:8px; height:10px; background:url(../images/jt.png) no-repeat; display:block;}
.dsc_layout .t_hd .layout_zk:hover,.dsc_layout .t_hd .layout_zk.on{ border-color:#236cb0; background:#2d9aff;}
.dsc_layout .t_hd .layout_zk.on i{ background-position:-8px 0;}
.dsc_layout .t_bd{ position:absolute; top:44px; left:0; right:0; background:#f7f7f7; height:110px; border-bottom:2px solid #B7C7D6; transition:all .2s ease 0s; display:none;}
.dsc_layout .t_bd ul{ padding:0; margin:0; background:#fff; overflow:hidden; height:100px; padding-top:10px; display:none;}
.dsc_layout .t_bd li{ float:left; padding:10px 16px 0 16px; margin:0;}
.sidebar-nav .label-danger{ display:none;}
.ui-assembly li .lyrow{ position:relative; margin-bottom:0;}

.ui-assembly .preview .layout_icon.item01{ background-position:0 -79px;}
.ui-assembly .preview .layout_icon.item02{ background-position:-83px -79px;}
.ui-assembly .preview .layout_icon.item03{ background-position:-166px -79px;}
.ui-assembly .preview .layout_icon.item04{ background-position:-249px -79px;}
.ui-assembly .preview .layout_icon.item05{ background-position:-332px -79px;}
.ui-assembly .preview p{ margin:0; text-align:center; line-height:19px;}

.ui-assembly li .drag{ position:static; cursor:move;}
.dsc_layout .t_bd .shrink{ text-align:center; background-position:0 -79px; width:auto; height:auto;}
.dsc_layout .t_bd .shrink span{ padding:14px 8px 7px; display:block;}
.dsc_layout .t_bd .shrink p{ line-height:1.2; padding-top:5px;}
.layout_icon{ width:47px; height:38px; background:url(../images/module.png) no-repeat; padding:0; border:0; display:block;}
.ad_icon_01{ background-position:-8px -182px;}
.ad_icon_02{ background-position:-91px -182px;}
.ad_icon_03{ background-position:-174px -182px;}
.ad_icon_04{ background-position:-257px -182px;}
.floor_icon_01{ background-position:-8px -271px;}
.floor_icon_02{ background-position:-91px -271px;}
.dsc_layout .t_bd .shrink:hover{ background:url(../images/module.png) no-repeat;}

.advertising_02{}
.advertising_02 .item01{ width:650px;}
.advertising_02 .item02{ width:540px;}
.advertising_02 .item03{ width:380px;}
.advertising_02 .item04{ width:810px;}

.ui-assembly .t_bd .modulebody{ display:none;}

.dsc_module{ position:fixed; top:44px; bottom:0; width:340px;}
	
/* 缩略图 E */



/* 缩略图拖拽 S */
.lyrow.ui-draggable-dragging{ height:78px !important;}
.ui-sortable-placeholder{ min-height:100px !important;}
.ui-draggable-dragging .preview{ margin:0 !important;}

/* 缩略图拖拽 E */



/* 呈现内容 S */
.edit .demo{ background:none;}
.demo .row{ background:none; -webkit-box-shadow:none; -moz- box-shadow:none; box-shadow:none;}
.demo .lyrow.ui-draggable:after{ content:""; width:100%; height:0; display:block; overflow:hidden; float:none; clear:both;}
.demo .lyrow.ui-draggable{ border:1px solid transparent; background:#fff;}
.demo .lyrow.ui-draggable:hover{ border:1px dashed #27a9e3;}
.demo .lyrow.ui-draggable.main_width{ width:1200px; margin:0 auto;}
.demo .lyrow.ui-draggable.ui-sortable-placeholder.main_width{ margin:10px auto;}
.demo .lyrow.ui-draggable.ui-sortable-placeholder:after{ content:"松开鼠标模块会添加到此处"; color:#0b78e5; font-weight:700; font-size:14px; height:auto; line-height:100px; text-align:center;}
.edit .demo .label-danger{ position:static; float:left;}
.edit .demo .left_kong{ display:block;}
.demo .lyrow .label-danger{ margin:10px 10px 0 0; background:#4da2fd; padding:6px 15px; font-size:100%;}
.demo .lyrow .label-danger:hover{ background:#288dfd;}
.demo .remove ,.demo .setup,.ui-sortable .advertising .ad_box .setup_box{ filter: alpha(opacity=0); opacity: 0; -webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -ms-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease;}
.demo .lyrow:hover > .drag, .demo .lyrow:hover > .configuration, .demo .lyrow:hover > .remove, .demo .lyrow:hover > .setup, .demo .box:hover .drag, .demo .box:hover .configuration, .demo .box:hover .remove, .demo .box:hover .setup,.demo .drag,.ui-sortable .advertising .ad_box:hover .setup_box,.ui-sortable .advertising .ad_box .setup_box .setup{ filter: alpha(opacity=100); opacity: 1;}

.ui-sortable .shrink{ display:none;}

.demo .lyrow .drag{ position:static;}
.ui-sortable .advertising .ad_box{ position:relative;}
.ui-sortable .advertising .ad_box .setup_box{ position:absolute; top:0; right:0; bottom:0; left:0; background-color:rgba(0,0,0,0.2);}
@media \0screen\,screen\9 {
	.ui-sortable .advertising .ad_box .setup_box{ background-color:#000000; filter:Alpha(opacity=20); position:static; *zoom:1;}
}
.ui-sortable .advertising .ad_box .setup_box .setup{ color:#fff; position:absolute; top:50%; left:50%; width:70px; height:25px; text-align:center; line-height:25px; margin:-12px 0 0 -35px; background:#4da2fd; border-radius:2px;}
.ui-sortable .advertising .ad_box .setup_box .setup i{ color:#fff;}
.ui-sortable .advertising .ad_box .setup_box .setup:hover{ background:#288dfd;}
/* 呈现内容 E */



/* 呈现内容拖拽 S */
.demo .ui-sortable-helper.main_width{ margin:10px;}
.demo .ui-sortable-helper{}
.demo .ui-sortable-helper .view{}
.demo .ui-sortable{ display:none;}
/* 呈现内容拖拽 E */


/* 模块设置盒子 S */
.modal-dialog{ width:1200px; margin:100px auto;}
.modal-content{ border-radius:0;}
.modal-header{ padding:10px 15px;}
.modal-header h5{ font-family:Microsoft Yahei,'微软雅黑'; font-size:16px; line-height:1.5; font-weight:100;}
.modal-header .close{ font-size:28px; font-weight:100;}
.modal-body{ padding:15px 15px 0 15px;}
.table{ background:#FFF; font-size:12px; border:1px solid #ddd; margin:0; width:100%;}
.table thead tr th{ padding: 10px 15px; color: #000; font-weight: 500; border-bottom: 1px solid #eee; background-color: #F1F1F1; text-align:left; font-size: 13px;}
.table tr .center{ text-align:center;}
.table thead th:hover{ background-image:url(../images/thead_bg.png); background-position:center bottom; background-repeat:repeat-x;}
.table tbody tr td{ vertical-align:middle !important; padding: 10px 15px;}
.table tbody tr:hover{ background-color:#F3F5FC;}
.table .notic{ text-align:center; line-height:40px; color:#999; display:table-row; float:none;}
.table .img{ width:50px;  max-height:80px; float:left; border:1px solid #d7d7d7; position:relative; overflow:hidden;}
.table .img span{ display:table-cell; text-align:center; vertical-align:middle; width:50px; max-height:80px; font-size:0; overflow:hidden;}
.table .img span img{ width:100%; height:auto; float:left;}

.form-control,.search-term .form-control{ height: 32px; _height: 20px; border-radius: 2px; padding: 6px; font-size: 12px; box-shadow: none; display: inline-block;}
.form-control:hover,.search-term .form-control:hover,.select_box .tit:hover{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);}
.form-control{ border:1px solid #dedede; color:#777; height:22px;}
.small{ width:65px; text-align:center;}
.pic_del{ padding:2px 9px; cursor: pointer; display: inline-block; color: #333; text-decoration: none; background-color: #fff; border: 1px solid #ddd; border-radius: 3px;}
.pic_del:hover{ background-color: #4d9de4; border-color: #4d9de4; color:#fff; text-decoration:none;}


.goods_gallery .nav{ background-color: #F5F5F5; padding: 4px; clear: both; overflow: hidden; height: auto; border: 1px solid #d7d7d7; border-bottom: none;}
.goods_gallery .nav .form-control{ min-width:100px; padding:2px; height:22px; float:left !important; width:auto;}
.goods_gallery .nav .f_r{ position:relative; background:#1B9AF7; border:1px solid #1B9AF7; font-size:12px; border-radius:2px; padding:2px 9px; color:#fff; margin-top:2px;}
.goods_gallery .nav .f_r input{ filter: alpha(opacity=0); opacity:0; position:absolute; left:0; right:0; top:0; bottom:0; width:100%;}
.goods_gallery .table_list{ border:1px solid #d7d7d7; padding:10px;}
.goods_gallery .table_list ul{ overflow:auto; height:290px;}
.goods_gallery .table_list li{ float:left; width:120px; height:120px;overflow:hidden; margin-left: 8px;margin-top: 8px; border:1px solid #d7d7d7; position:relative;}
.goods_gallery .table_list li a{ display:block;display: table-cell;text-align: center;vertical-align: middle;width: 120px;height: 120px;overflow: hidden;}
.goods_gallery .table_list li img{ max-width:100%; max-height:100%;}
.goods_gallery .table_list li .pixel{ position: absolute;background: rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4cffffff', endColorstr='#4cffffff');width: 100%;padding: 2px 0;color: #fff;left: 0;bottom: 0;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;-ms-transition: all .3s ease-out;-o-transition: all .3s ease-out;transition: all .3s ease-out;}
.goods_gallery .table_list li:hover .pixel{ bottom:-30px;}
.modal-footer .btn-default{ background-color: #4d9de4; border-color: #4d9de4; color:#fff; outline:0;}
.modal-footer .btn-default:hover{ background:#078AEB; border-color:#0681DB;}

.tishi{ border:1px solid #bce8f1; background:#d9edf7; color:#31708f; padding:10px 15px; margin:0 15px 20px 25px;}
.tishi p{ text-indent:37px;}
.tishi p.first{ text-indent:0;}

.input_file{ position:relative; border:1px solid #078AEB; background:#1B9AF7; color:#fff; line-height:32px; text-align:center; height:32px; overflow:hidden; padding:0 10px; border-radius:2px;}
.input_file input{ filter: alpha(opacity=0); opacity:0; position:absolute; top:0; left:0; right:0; bottom:0; width:auto; cursor:pointer;}
.input_file:hover{ border-color:#0681DB; background:#078AEB;}
.floor_info .tit_info dd .select{ width:auto !important;}

.floor_info .search { padding:10px; background:#e8e8e8;float: left;width: 100%;}
.floor_info .search .select_box{ position:relative;float:left;}
.floor_info .search .select_box .select{ padding:0;}
.floor_info .search .search_con{ float:left; margin-right:10px;}
.floor_info .search .btn{ background:#1b9af7; border:1px solid #078aeb; height:30px; line-height:30px; padding:0px 12px; color:#fff; outline:0;}
.floor_info .search .btn:active, .con_info .search .btn.active{ box-shadow:none; -webkit-box-shadow:none;}
.floor_info .search .btn:hover{ background:#078AEB; border-color:#0681DB;}
.floor_info .search .is_selected{ margin-left:10px;}
.floor_info .search .is_selected input{ vertical-align:middle; margin-right:5px; margin-top:-2px;}

.floor_info .table_list{ padding:0 10px;overflow:auto; height:360px; position:relative;}
.floor_info .table_list ul{ }
.floor_info .table_list li{ border-bottom: 1px solid #e9e6e6;padding: 6px 0 0; margin-bottom:6px; overflow:hidden;}
.floor_info .table_list li .img{ width: 50px;height: 50px;margin-right: 15px; float:left;}
.floor_info .table_list li .text{ float:left;}
.floor_info .table_list li .text .name{}
.floor_info .table_list li .choose{ padding-top:10px; position:relative; float:right;}
.floor_info .table_list li .choose a{ float:right; background:#5cb85c; border:1px solid #5cb85c; border-radius:2px; padding:0 10px; color:#fff;}
.floor_info .table_list li .choose a i{ margin-right:5px;}
.floor_info .table_list li .choose a.on{ background:#f0ad4e; border:1px solid #eea236;}

.floor_info .table_list li.notic{ border:0; text-align:center; font-size:14px; line-height:300px; color:#ec5051;}
/* 模块设置盒子 E */

.main-wrapper{ width:100%; height:100%; margin:0; padding:0;}
.dp_leftcolumn{ position:fixed;float: left;width: 80px;height: 100%;margin: 0;padding: 0;background: #34373e;font-family: "Microsoft YaHei","Microsoft YaHei Regular";z-index: 102;}
.dp_leftcolumn .tab-bar{ position: relative;z-index: 2;background: #34373e;height: 100%;}
.dp_leftcolumn .tab-bar li{ padding-top: 20px;color: #9fa4b1;text-align: center;cursor: pointer;}
.dp_leftcolumn .tab-bar li.current{ color:#fff;}
.dp_leftcolumn .tab-bar li .wrap{ position:relative;}
.dp_leftcolumn .tab-bar li .wrap .left-line{ position: absolute;left: 0;top: 0;width: 4px;height: 100%;background: #428ce8;display: none;}
.dp_leftcolumn .tab-bar li .wrap .item-icon{ font-size:18px; font-family: cybertron;}
.dp_leftcolumn .tab-bar li .wrap span{ display:block;}
.dp_leftcolumn .tab-bar li .b-small{ width:0; height:0; border-top:10px solid transparent; border-bottom:10px solid transparent; border-right:10px solid #fff; position:absolute; right:0px; top:7px; display:none;}

.dp_leftcolumn .tab-bar li.current .wrap .left-line{ display:block;}
.dp_leftcolumn .tab-bar li.current .wrap .b-small{ display:block;}
.dp_leftcolumn .tab-bar li:hover{ color:#fff;}
.dp_leftcolumn .tab-bar li:hover .left-line{ display:block;}

.toolbar{ height: 100%;background: #fff;position: absolute;left: -320px;top: 0;transition: all .5s;-moz-transition: all .5s;-webkit-transition: all .5s;-o-transition: all .5s;}
.show .toolbar{ left:-150PX;}
.toolbar .icon-cha{ position: absolute;top: 10px;right: 10px;font-family: cybertron;font-size: 20px;color: #9d9d9d;cursor: pointer; font-size:12px;}
.toolbar .li{transition: all .5s;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;position: absolute;left: -395px;top: 0;z-index: 1;width: 212px;width: 232px\9;height: 100%;padding: 0 10px;box-shadow: 2px 2px 2px #CFCFCF;border-right: 1px solid #CFCFCF;border-bottom: 1px solid #CFCFCF;background: #fff;color: #000;text-align: left;font-weight: 700;cursor: auto;}
.toolbar .modules-slide{transition: all .5s;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;position: absolute;left: -395px;top: 0;z-index: 1;width: 212px;height: 100%;padding: 0 10px;box-shadow: 2px 2px 2px #CFCFCF;border-right: 1px solid #CFCFCF;border-bottom: 1px solid #CFCFCF;background: #fff;color: #000;text-align: left;font-weight: 700;cursor: auto;width: 232px;padding: 0;}
.toolbar li.current{ left: -150px;}
.toolbar .modules-slide .inside{ margin-top: 35px;font-size: 12px;color: #333;}
.toolbar .modules-slide .inside p{ margin-left: 10px; font-weight: 400; margin-bottom:20px;}
.toolbar .modules-slide .inside .sizes{ margin: 18px 0 18px 10px;text-align: center;font-weight: 400;}
.toolbar .modules-slide .inside .sizes > span{ float: left;position: relative;margin-right: -1px;border: 1px solid #cecece;cursor: pointer;background-position: right 24px;width: 44px;height: 28px;line-height: 28px;}
.toolbar .modules-slide .inside .sizes .size-all{ padding: 5px 5px; width:auto; height:18px; line-height:normal;}
.toolbar .modules-slide .inside .sizes span.current{ border-color: #428ce8;background: #428ce8;color: #fff;-webkit-transition: border-color .4s,background .3s;-moz-transition: border-color .4s,background .3s;-ms-transition: border-color .4s,background .3s;-o-transition: border-color .4s,background .3s;transition: border-color .4s,background .3s;}

.toolbar .theme-slide { transition: all .5s;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;position: absolute;left: -395px;top: 0;z-index: 1;width: 212px;height: 100%;padding: 0 10px;box-shadow: 2px 2px 2px #CFCFCF;border-right: 1px solid #CFCFCF;border-bottom: 1px solid #CFCFCF;background: #fff;color: #000;text-align: left;font-weight: 700;cursor: auto;width: 232px;padding: 0;}
.toolbar .theme-slide .inside{ margin-left: 10px;margin-top: 35px;font-size: 12px;color: #000;}
.toolbar .theme-slide .inside .gray{ color:#999;}
.toolbar .color-snips{ width:232px;}
.toolbar .color-snips ul{ overflow:auto;}
.toolbar .color-snips li{ width: 27%;float: left;margin-top: 3px;margin-left: 10px;}
.toolbar .color-snips li .color-snip{ display: inline-block;width: 60px;height: 60px;border: 2px solid #cdcdcd;}
.toolbar .color-snips li .color-snip img{ width:100%;}
.toolbar .color-snips li .color-snip:hover,.toolbar .color-snips li.current .color-snip{ border: 2px solid #f30;width: 60px;height: 60px;}
.toolbar .color-snips li p{ font-size: 12px;font-weight: 400;color: #666;text-align: center;padding: 4px 0;width: 60px;overflow: hidden;height: 26px;line-height: 26px;}

.toolbar .page-head-bg-content{ padding-top:30px;}
.toolbar .page-head-slide .page-head-bg-content-wrap,.toolbar .page-content-slide .page-head-bg-content-wrap{ margin-left: -10px;margin-right: -10px;padding-left: 10px;padding-right: 10px;overflow-y: auto;overflow-x: hidden;}
.toolbar .page-head-slide .page-head-bg,.toolbar .page-content-slide .page-head-bg{ padding-top: 15px; text-align: left;}
.toolbar .page-head-slide .tit{ font-size: 12px; color: #333;}
.toolbar .page-head-slide .page-head-bg .tm-picker-trigger,.toolbar .page-content-slide .page-head-bg .tm-picker-trigger{ width: 24px;height: 24px;border: 1px solid #cecece;text-indent: -999em;cursor: pointer;}
.toolbar .ui-checkbox{ display:none;}
.toolbar .ui-label{ padding-left:20px; background:url(../images/checkbox.png) 2px 3px no-repeat; margin:10px 30px 0 0px; float:right;}
.toolbar .ui-checkbox:checked+label { background: url(../images/checkbox_ed.png) 2px 3px no-repeat;}
.toolbar .page-head-slide .page-head-bgimg,.toolbar .page-content-slide .page-head-bgimg{ margin-top:17px; width:215px;}
.toolbar .page-head-slide .page-head-bgimg .bgimg,.toolbar .page-content-slide .page-head-bgimg .bgimg{ float:left; display: inline-block;width: 60px;height: 60px;overflow: hidden;border: 1px solid #cecece;background: #fff; margin-top:10px;}
.toolbar .page-head-slide .page-head-bgimg .bgimg img,.toolbar .page-content-slide .page-head-bgimg .bgimg img{ width:100%;}
.toolbar .page-head-slide .page-head-bgimg .action,.toolbar .page-content-slide .page-head-bgimg .action{ float:left; font-size: 12px; display: inline-block;width: 135px;margin-left: 5px;font-weight: 400; margin-top:10px;}
.toolbar .page-head-slide .page-head-bgimg .action .action-btn,.toolbar .page-content-slide .page-head-bgimg .action .action-btn{ height: 22px;line-height: 22px;position: relative;}
.toolbar .page-head-slide .page-head-bgimg .action .action-btn .ks-uploader-button,.toolbar .page-content-slide .page-head-bgimg .action .action-btn .ks-uploader-button{ position: absolute;top: 0;left: 0;font-weight: 700;border: 1px solid #cecece;padding: 3px 9px;background: #fff;cursor: pointer;width: 50px;display: inline-block;height: 16px;overflow: hidden;}
.toolbar .page-head-slide .page-head-bgimg .action .action-btn .ks-uploader-button .btn-text,.toolbar .page-content-slide .page-head-bgimg .action .action-btn .ks-uploader-button .btn-text{ position: absolute;top: 3px;height: 16px;padding: 0;margin: 0;line-height: 16px;background: #fff;color: #666;cursor: pointer;}
.toolbar .page-head-slide .page-head-bgimg .action .action-btn .ks-uploader-button .file-input-wrapper,.toolbar .page-content-slide .page-head-bgimg .action .action-btn .ks-uploader-button .file-input-wrapper{ overflow:hidden;}
.toolbar .page-head-slide .page-head-bgimg .action .action-btn .ks-uploader-button .file-input-wrapper .file-input,.toolbar .page-content-slide .page-head-bgimg .action .action-btn .ks-uploader-button .file-input{ display: block;height: 300px;width: 300px;position: absolute;left: 0;top: 0;opacity: 0;filter: alpha(opacity=0);}
.toolbar .page-head-slide .page-head-bgimg .action .action-btn .delete,.toolbar .page-content-slide .page-head-bgimg .action .action-btn .delete{ position: absolute;top: 0;left: 80px;margin-left: 5px;color: #999;cursor: pointer;}
.toolbar .page-head-slide .page-head-bgimg .action .content,.toolbar .page-content-slide .page-head-bgimg .action .content{ padding-top: 10px;margin-top: -5px;color: #999;padding-bottom: 0;font-size: 12px;}

.toolbar .page-head-slide .page-head-bgimg .action .action-btn .delete:hover,.toolbar .page-content-slide .page-head-bgimg .action .action-btn .delete:hover{ color:#ec5051;}

.toolbar .bg-show,.toolbar .bg-align{ margin-top:17px;}
.toolbar .bg-show-nr,.toolbar .bg-align-nr{ margin-top:5px;}
.toolbar .bg-show-nr a,.toolbar .bg-align-nr a{ display:inline-block; width:92px; height:32px; line-height:32px; font-size:12px; text-align:center; border:1px solid #cecece; cursor:pointer; float:left; margin:-1px -1px 0 0; color:#333;}
.toolbar .bg-align-nr a{ width:60px;}
.toolbar .bg-show-nr a:hover,.toolbar .bg-align-nr a:hover{ text-decoration:none;}
.toolbar .bg-show-nr a.current,.toolbar .bg-align-nr a.current{ background:#428ce8; color:#fff;}

.db_main{ height:100%; padding:0;}
.main-wrapper .db_main{ margin-left: 80px;transition: all .5s;-moz-transition: all .5s;-webkit-transition: all .5s;-o-transition: all .5s;}

.pc-page{ overflow:auto;}
.pc-page .hd_main,.pc-page .prompt,.pc-page .demo{ min-width:1593px;}
.pc-page .hd_main .nav_bg{ margin-top:10px;}

.design-nav-wrap{ position: relative; width: 100%;height: 60px;border-bottom: 1px solid #d9dae0;background: #ebedf3;-webkit-transition: width .5s;-moz-transition: width .5s;-o-transition: width .5s;transition: width .5s;z-index: 2;}
.design-nav-wrap .design-mode-select{ position: absolute;left: 30px;width: 200px;margin-top: 15px;height: 30px;float: left;}
.design-nav-wrap .design-mode-select li{ float:left;}
.design-nav-wrap .design-mode-select li a{ display: block;position: relative;margin-left: -1px;width: 98px;text-align: center;height: 30px;line-height: 30px;border: 1px solid #cfcfcf;color: #666;text-decoration: none;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;background: url(../images/news/design-mode-select_bg.png) repeat-x 0 -30px;}
.design-nav-wrap .design-mode-select li a.active{ border: 1px solid #b2b4b6;z-index: 1;background: url(../images/news/design-mode-select_bg.png) repeat-x 0 0;}

.design-nav-wrap .btns{ float:right; margin:15px 10px 0 0;}
.design-nav-wrap .btns .btn{ display: block;float: left;position: relative;width: 58px;margin-right: 10px;text-align: center;height: 30px;line-height: 30px;border: 1px solid #cfcfcf;color: #666;text-decoration: none;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background: url(../images/news/design-mode-select_bg.png) repeat-x 0 -30px; padding:0;}
.design-nav-wrap .btns .btn2{ padding:0 10px; width:80px\9;}
.design-nav-wrap .btns .btn_blue{ width: 90px;background: #3487ec;color: #fff;border: 1px solid #3487ec;}

.setup_box{ cursor:move; width:100%; height:100%; display:none; position:absolute; top:0; left:0; z-index:999;}
.setup_box .barbg{ background:#d8e7fa;width:100%; height:100%; opacity:.5;filter: alpha(opacity=50);}
.setup_box .move-edit,.setup_box .move-remove,.setup_box .move-add{ border-radius:3px; display:inline-block; height:21px; line-height:22px; padding:0 5px; background:#444; color:#fff; position:absolute;}
.setup_box a i{ font-size:14px; color:#f9f9f9; padding:0 2px; margin-right:2px;}
.setup_box .move-edit{ right:65px; top:3px;}
.setup_box .move-remove{ right:5px; top:3px;}
.setup_box .move-add{ right:5px; bottom:3px;}
.setup_box .move-up,.setup_box .move-down{ margin-left:10px; padding-top:5px; display:inline-block; position:absolute; top:3px; font-size:14px;}
.setup_box .move-up{ right:160px;}
.setup_box .move-down{ right:140px;}
.setup_box .move-up.disabled,.setup_box .move-down.disabled{ color:#999;cursor: no-drop;}

.hd_main .setup_box{ cursor:default;}
.header .setup_box .move-edit,.nav .setup_box .move-edit{ right:5px;}

.ui-draggable:hover,.ui-box-display{ border:1px dashed #4aa3cc;}
.ui-draggable:hover .setup_box{ display:block;}

.modules-box{ position:relative;}
.modules-box .head{ position: relative;display: inline-block;box-sizing: border-box;width: 100%;height: 30px;line-height: 30px;padding-left: 10px;border-top: 1px solid #dee1e7;background: #ebedf3;text-align: left;cursor: pointer;}
.modules-box .head span{ color:#333; font-weight:700;}
.modules-box .module-list{ padding-bottom: 10px; -webkit-transition: all .4s ease-out;-moz-transition: all .4s ease-out;-o-transition: all .4s ease-out;transition: all .4s ease-out;height: 0;width:100%; min-height:300px;}
.modules-box .module-list .item{ display: inline-block;width: 27%;height: 68px;margin-left: 10px;margin-top: 10px;border: 1px solid #dee1e7;background: #ebedf3;float: left;text-align: center;cursor: move;position: relative;}
.modules-box .module-list .item .drag{ height:100%;}
.modules-box .module-list .item .navLeft{ float:left; height:100%;}
.modules-box .module-list .item .pic{ display: inline-block;width: 100%;height: 40px;overflow: hidden;float: left;}
.modules-box .module-list .item .pic img{ width:25px; height:25px; margin:8px 18px 0;}
.modules-box .module-list .item .txt{ width: 56px;padding: 0 3px;height: 20px;line-height: 20px;overflow: hidden;word-break: break-all;word-wrap: break-word;display: block;text-align: center;margin: 0 auto; font-size:12px;}
.modules-box .module-list .view{ display:none;}
.modules-box .module-list .ui-draggable:hover .setup_box{ display:none;}
/*.modules-box .module-list .w1200{ width:auto;}*/

.wpst-toolbar-show .toolbar{ left:230px;}
.wpst-toolbar-show .db_main{ margin-left:310px;}
.header{ margin:0 auto; height:128px; background:#fff; position:relative; overflow:hidden;}

/*右侧拖入展示区*/
.demo{ position:relative; z-index:1; background:#fff;transition: width .5s;-webkit-transition: width .5s;-moz-transition: width .5s;-o-transition: width .5s; padding-bottom:100px;}
.demo .item{ margin-top:10px; min-height:100px;}
.demo .drag .navLeft{ display:none;}
.custom .default{ min-height:100px; line-height:100px; text-align:center; font-size:12px; color:#36c;}
.adv_module .bd ul li img{ height:100%; width:1200px;}

/*导航*/
.nav{ position:relative;}
.store_nav_left{ width:175px; height:32px; line-height:32px; float:left;}
.all_box{ position:relative; z-index:9;font-family:Microsoft Yahei,'微软雅黑';}
.all_box .all_cats{background-image:url(../images/icon_xial.png); background-position:132px center; background-repeat:no-repeat; text-indent: 35px;}
.all_box .all_cats a{ color:#fff;display:block; font-size:14px;}
.all_cats_tcc{ position: absolute;left: 0;top: 32px; width:195px; display:none;}
.all_cats_tcc li{ background:#777; padding-left:25px; position:relative;}
.all_cats_tcc li a{ color:#fff; display:block; font-size:14px;}
.all_cats_tcc li .square_box{display: block;width: 5px;height: 5px;line-height: 4px;overflow: hidden;float: left;margin: 13px 8px 0 0;background:#fff;}
.all_cats_tcc li:hover{ background:#585555;}
.all_box:hover .all_cats_tcc{ display:block;}

.all_cats_tcc li .all_box_two{ position:absolute; top:0; left:200px; width:200px; display:none; z-index:2}
.all_cats_tcc li:hover .all_box_two{ display:block;}
.all_cats_tcc li .all_box_two li{ background:#ADADAD;}
.all_cats_tcc li .all_box_two li:hover{ background:#777;}

.all_cats_tcc li .s_b {width: 160px;height: auto;background-color: white;position: absolute;left: 195px;top: 0;display: none;}
.all_cats_tcc li .s_b a{ height:32px;line-height:32px;display:block;font-size:14px;padding-left:40pxborder-bottom: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3;color:#000}
.all_cats_tcc li .s_b a:hover{text-decoration:none;}

.store_nav_right{ width:925px; float:left;}
.store_nav_right ul li{ height:32px; line-height:32px; float:left;}
.store_nav_right ul li a{ color:#fff; font-size:14px; float:left; padding:0 20px;font-family:Microsoft Yahei,'微软雅黑';}
.store_nav_right ul li a:hover, .store_nav_right ul li a.nav_hover{ background:#cf5925; color:#fff;}

.prompt{ height:30px; line-height:30px; width:100%; background:#ccc; text-align:center; color:#666;}

.advertising li{ float:left; margin-right:10px; margin-right:8px\9; margin-bottom:10px; position:relative;}
.advertising li img{ width:100%; height:100%;}
.advertising ul{ width:1210px;}
.advertising ul.row3 li{ margin-right:9px; width:390px;}
.advertising ul.row4 li{ width:292px;}
.advertising ul.row5 li{ width:232px;}
.advertising ul.row6 li{ margin-right:12px; width:190px;margin-right:11px\9;}

.advertising ul li:last-child{ margin-right:0;}

.advertising .left-right li:first-child{ width:380px;}
.advertising .left-right li:last-child{ width:810px;}

.advertising .right-left li:first-child{ width:810px;}
.advertising .right-left li:last-child{ width:380px;}

.advertising .advImgtwo li{ width:595px;}

/*弹框内容*/
.tab ul{ border-bottom: 1px solid #E0E0E0;margin-bottom: 10px;position: relative;padding-left: 20px;}
.tab li{ color: #666;font-size: 14px;cursor: pointer;display: block;float: left;height: 24px; line-height:24px;background-color: #ededed;border: 1px solid #d4d4d4;border-bottom-width: 0;position: relative;top: 3px;padding: 0 10px;margin-left: 5px;}
.tab li.current{ background-color: #fff;color: #000;height: 26px; line-height:26px;position: relative;top: 1px;}

.control_list .control_item{ margin-bottom:10px; line-height:25px; font-size:12px;}
.control_list .control_item:after,.control_list .control_item:before{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.control_list .control_text{ float:left; width:100px; text-align:right;}
.control_list .control_value{ float:left; width:calc(100% - 100px);}
.control_list .control_value .text{ height: 23px; width:320px; line-height:23px;}
.control_list .control_value .text2{ height: 23px; width:220px;}
.control_list .control_value .select{ height:25px; width:100px; padding:0;}
.control_list .control_value .shop_text{ width: 35px;margin-right: 5px; height: 23px;padding-left: 5px;vertical-align: middle;border: 1px solid #d9d9d9;line-height: 21px;}
.control_list .control_value label{ margin-right:10px;margin-bottom:0; float:left;}
.control_list .control_value label .checkbox{ float:left; margin:6px 5px 0 0;}
.control_list .control_value label span{ float:left; display:inline-block; color:#666; font-weight:normal; padding-right:0;}
.control_list .control_value span{ padding-right: 10px;vertical-align: middle;color: #999;}

.control_list .control_value.over{}

.itemsLayout{ float: left;margin-right: 20px;margin-bottom: 30px;}
.itemsLayout .itemsLayoutShot{ border: 4px solid #fff;}
.itemsLayout .dtselected{ border: 4px solid #f4c41c;position: relative;}
.itemsLayout .itemsLayoutShot a{ width: 149px;height: 103px;display: block;border: 1px solid #ccc;background: url(../images/display_number_bg.jpg);}
.itemsLayout .itemsLayoutShot:hover{ border: 4px solid #fefecc;}
.itemsLayout .dtselected:hover{ border: 4px solid #f4c41c;position: relative;}
.itemsLayout .dtselected a{ border: 1px solid #fff;}
.itemsLayout .dtselected span{ display: block;position: absolute;right: -3px;bottom: -3px;width: 23px;height: 23px;background: url(../images/gx.png) 0 0 no-repeat; padding-right:0;}
.itemsLayout .dd{ width: 150px;text-align: center;color: #333;margin-top: 6px;}
.line-item3 .itemsLayoutShot a{ background-position: 0 0;}
.line-item4 .itemsLayoutShot a{ background-position: 0 -110px;}
.line-item5 .itemsLayoutShot a{ background-position: 0 -212px;}
.line-item6 .itemsLayoutShot a{ background-position: 0 -382px;}
.line-item7 .itemsLayoutShot a{ background-position: 0 -316px;}
.line-item-left-right .itemsLayoutShot a{ background-position: 0 -477px;}
.line-item-right-left .itemsLayoutShot a{ background-position: 0 -583px;}

/*颜色选择插件*/
.sp-replacer{ border:0; padding:0; background:#fff; float:none;}
.sp-preview{ margin:0; border:1px solid #cecece; width:24px; height:24px;}
.sp-dd{ display:none;}

/*上传按钮*/
.uploader-button{ border: 1px solid #d4d4d4;color: #000;cursor: pointer;display: inline-block;height: 23px;line-height: 20px;padding: 0 12px;vertical-align: middle;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px; position:absolute; top:0; left:0;}
.control_list .uploader-button .btn-text{ display:inline-block;padding-right:0; }
.uploader-button .file-input-wrapper{ overflow:hidden;}
.uploader-button .file-input-wrapper .file-header-img{ width:300px; height:25px; position:absolute; left:0; top:0; opacity:0;filter: alpha(opacity=0); cursor:pointer;}
.preview-box{ width: 718px;height: 86px;border: 1px solid #999;color: #999;font-size: 28px;line-height: 86px;text-align: center;overflow: hidden; margin-top:30px;}
.preview-box img{ vertical-align:sub;}

.ov_list{ overflow:auto; max-height:358px; border-bottom:1px solid #ddd;}
.ov_list table{ border-bottom:0;}

.addCatagory{ float:right; margin-top:10px;}
.addCatagory .select{ padding:0; float:left; margin-right:10px;}
.addCatagory .text{ float:left; width:150px; margin-right:10px;}
.addCatagory .btn{ background: #3487ec;color: #fff;border: 1px solid #3487ec; padding:5px 12px; float:right;}
.addCatagory .btn_disabled{ background:#999; border-color:#999; cursor:default;}

#custom_dialog .tishi{ margin:0 20px 0 15px;}
.icon-spin{ font-size:24px;position: absolute;top: 50%;left: 50%;margin-top: -20px; color:#31b4e1;}
#preview-layout{ display:none;}


/*店铺设置模板*/
.mian-info{ width:1640px; margin:0 auto;}
.templet{ padding:20px 0 16px; position:relative; overflow:hidden;}
.templet .templet-thumb{ border:2px solid #ffacac; float:left; width:168px; height:216px; position:relative; z-index:2; margin-left:34px;}
.templet .plat{ position:absolute; bottom:0; width:386px; height:24px; background:url(../images/plat.png) no-repeat;}
.templet .templet-info{ margin-left:28px; float:left; width:250px;}
.templet .templet-info .template_tit{ font-size:14px; font-weight:bold; color:#343434; margin-top:30px;}
.templet .templet-info .template_name{ margin-top:10px; display:block;}
.templet .templet-info .template_desc{ line-height:20px; margin-top:5px; height:40px; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.templet .templet-info .button{ border:0; background:#ec5151; border-radius:3px; color:#fff;  height:35px; line-height:33px; width:120px; font-size:14px; cursor:pointer; margin-top:10px; padding:0;}

.template-list{ margin-top:20px; overflow:hidden;}
.template-list ul{ overflow:hidden; width:calc(100% + 10px);}
.template-list li{ float:left; background:#fff; border:1px solid #fff; border-radius:5px; padding:15px 25px; text-align:center; line-height:20px; position:relative; overflow:hidden; cursor:pointer; margin:0 10px 10px 0;}
.template-list li .tit{ font-weight:bold; color:#7b7b7c;}
.template-list li .span{ color:#7b7b7c; margin-top:5px;}
.template-list li .img{ border:2px solid #dcdcdc; margin-top:12px; width:263px; height:338px; position:relative;}
.template-list li .img .bg{ width:267px; height:342px; background:#000; position:absolute; top:-2px; left:-2px; opacity:0;}
.template-list li .btnSeeImg{ display:block; margin-top:10px;}

.template-list li .box{ width:80px; height:80px; position:absolute; text-align:center; top:208px; left:-200px; transition: all 0.4s ease;overflow: hidden;}
.template-list li .box .icon-gou{ background:url(../images/admin-icon.png) -269px -480px no-repeat; display:block; width:41px; height:41px; margin:0 auto;}
.template-list li .box span{ display:block; font-size:14px; color:#fff; margin-top:8px;}


.template-list li:hover,.template-list li.curr{ border-color:#ec5151;}
.template-list li:hover .img{ background-color:#000;}
.template-list li:hover .box{ left:120px;}
.template-list li:hover .img .bg{ opacity:0.6;}
.template-list li a:hover{ color:#ec5051;}
.template-list li .ing{ width:42px; height:42px; background:url(../images/ing.png) no-repeat; display:block; position:absolute; top:0; right:0; display:none;}
.template-list li.curr .ing{ display:block;}

.tabs{ margin:30px 0 0 0;}
.tabs li{ border-right:1px solid #dcdcdc;}

/*图片点击查看大图nyroModal*/
.nyroModal{ color:#aaa; font-size:16px;}
.nyroModalBg { position: fixed; overflow: hidden; z-index: 100009; top: 0; left: 0; height: 100%; width: 100%; background: #fff; opacity: 0.7; }
.nmReposition { position: absolute; z-index: 100011; }
.nyroModalCloseButton { top: -9px; right: -9px; width: 18px; height: 18px; text-indent: -9999em; background: url(../images/close.png); }
.nyroModalTitle { top: -26px; left: 0; margin: 0; font-size: 1.1em; line-height: 24px; color: #EEE; text-shadow: 1px 1px 1px #ccc; }
.nyroModalCont { background-color: #FFF; padding: 4px; position: absolute; z-index: 100010; border: 1px solid #eee; margin: 25px; background: #fff; box-shadow: 0 0 5px rgba(0,0,0,0.9); }
.nyroModalCont iframe { width: 600px; height: 400px; }
.nyroModalError { border: 4px solid red; color: red; width: 250px; height: 250px; }
.nyroModalError div { min-width: 0; min-height: 0; padding: 10px; }
.nyroModalLink,
.nyroModalDom,
.nyroModalForm,
.nyroModalFormFile { position: relative; padding: 10px; min-height: 250px; min-width: 250px; max-width: 1000px; }
.nyroModalImage,
.nyroModalSwf,
.nyroModalIframe,
.nyroModalIframeForm { position: relative; overflow: hidden; }
.nyroModalImage img { vertical-align: top; }
.nyroModalHidden { left: -9999em; top: -9999em; }
.nyroModalLoad { position: absolute; width: 100px; height: 100px; background: #fff url(../images/ajaxLoader.gif) no-repeat center; padding: 0; }
.nyroModalPrev,
.nyroModalNext { outline: none; position: absolute; top: 0; height: 60%; width: 150px; min-height: 50px; max-height: 300px; cursor: pointer; text-indent: -9999em; background: transparent url('data:image/gif;base64,AAAA') left 20% no-repeat; }
.nyroModalImage .nyroModalPrev,
.nyroModalImage .nyroModalNext { height: 100%; width: 40%; max-height: none; }
.nyroModalPrev { left: 0; }
.nyroModalPrev:hover { background-image: url(../images/prev.gif); }
.nyroModalNext { right: 0; background-position: right 20%; }
.nyroModalNext:hover { background-position: right 20%; background-image: url(../images/next.gif); }

#notIe{ position:fixed; min-width:auto; box-shadow:none;}
#notIe .noContent{ width:316px; height:376px; background:url(../images/not_ie78.png) no-repeat;}
#notIe .noContent .noText{ padding-top:190px; width:100%;}
#notIe .noContent .noText p{ text-align:center; margin:0;}
#notIe .noContent .noText p.p1{ font-size:16px; color:#0092ce; margin-bottom:6px;}
#notIe .noContent .noText p.p2{ padding-top:10px;}
#notIe .noContent .noText p.p2,#notIe .noContent .noText p.p3{ font-size:14px; color:#333333; margin-bottom:5px;}
#notIe .pb-ct{ padding:0;}
#notIe .pb-ft{ margin:0; padding:0;}
#notIe .pb-btn{ position:absolute; margin:0; padding:0; background:none; border:0; width:270px; height:60px; line-height:60px; font-size:18px; color:#fff; bottom:0; left:20px; text-align:center; cursor:pointer;}

.export{display: none}
.export .btns{ float:right; margin:6px 2px 0 0;}
.export .btns .btn{ display: block;float: left;position: relative;width: 58px;margin-right: 10px;text-align: center;height: 30px;line-height: 30px;border: 1px solid #cfcfcf;color: #666;text-decoration: none;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;background: url(../images/news/design-mode-select_bg.png) repeat-x 0 -30px; padding:0;}
.export .btns .btn2{ padding:0 10px; width:80px\9;}
.export .btns .btn_blue{ width: 90px;background: #3487ec;color: #fff;border: 1px solid #3487ec;}
.export .btns .determine{display: none}
.template-list .checkitems{left: 5px;position: absolute;top: 5px; z-index: 2; display:none;}


/*弹出框*/
.pb{ position:fixed; min-width:480px;box-shadow: 0 0 0 2px rgba(153,153,153,0.25);}
.pb .cboxContent{ background:#fff; min-height:200px;}
.pb .pb-ct{ padding:20px 0; overflow:hidden;}
.pb .pb-ct:after,.pb .pb-ct:before,.pb .cboxContent:after,.pb .cboxContent:before{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.pb .pb-hd{ background-color: #FFF;display:block;height: 20px;height: auto\9;padding: 10px 20px;border-bottom: solid 1px #EEE;}
.pb .pb-title{ font-size: 14px;line-height: 20px;font-weight: bold;color: #555;}
.pb .pb-x{ font-family: Verdana;font-size: 14px;line-height: 20px;font-weight: lighter;color: #999;text-align: center;display: block;width: 20px;height: 20px;position: absolute;z-index: 1;top: 10px;right: 10px;cursor: pointer;}
.cboxContent dl{ font-size: 0;line-height: 20px;display: block;clear: both;}
.cboxContent dt{ font-size: 12px;height:32px;line-height: 32px;vertical-align: top;letter-spacing: normal;word-spacing: normal;text-align: right;display: inline-block;width: 29%;padding: 10px 1% 10px 0;margin: 0;zoom: 1;}
.cboxContent dd{ font-size: 12px;height:32px;line-height: 32px;vertical-align: top;letter-spacing: normal;word-spacing: normal;display: inline-block;width: 65%;padding: 10px 0 10px 0;zoom: 1; margin:0; overflow:hidden;}
.cboxContent dd select{ height:30px; line-height:30px;}
.cboxContent dd input[type='button']{ margin-top:5px;}
.tip-box{ background-color: #F9F9F9;text-align: center;border-top: 1px solid #EAEAEA;overflow: hidden;}
.pb-ft{ margin:0 0 30px; text-align:center;}
.pb-btn{font-family:"å¾®è½¯é›…é»‘","Microsoft Yahei"; height: 30px;line-height: 30px;min-width: 75px;font-size: 14px;margin: 2px 2px;border: none;background: #D3412D; color: #FFF;cursor: pointer; display:inline-block; margin-right:10px; text-align:center;}
.pb-btn:hover{ text-decoration:none; color:#fff;}

.pb .cboxContent .pb-ct{ padding-bottom:0;}
.pb .cboxContent .pb-bd{ max-height:620px; overflow:auto;}
.pb .cboxContent .pb-ft{ padding-top:35px;}